<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="loading minwid-1280" lang="ko" data-textdirection="ltr">
<div class="pop-top">
	<a href="#"><button type="button" class="btn btn-sm btn-outline-secondary eng-text"><i class="ft-arrow-up"></i> TOP</button></a>
</div>
</body>
</html>


<!-- 새 페이지 생성시 반드시 필요한 JS -->
<script th:src="@{/app-assets/vendors/js/vendors.min.js}" type="text/javascript"></script>
<script th:src="@{/app-assets/js/core/app-menu.js}" type="text/javascript"></script>
<script th:src="@{/app-assets/js/core/app.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/link.js}" type="text/javascript"></script>
<!--// 새 페이지 생성시 반드시 필요한 JS -->
<!-- 디자인 스크롤 -->
<script th:src="@{/app-assets/js/scripts/ui/scrollable.js}" type="text/javascript"></script>
<!--// 디자인 스크롤 -->
<!-- Date Picker JS -->
<script th:src="@{/app-assets/vendors/js/pickers/pickadate/picker.js}" type="text/javascript"></script>
<script th:src="@{/app-assets/vendors/js/pickers/pickadate/picker.date.js}" type="text/javascript"></script>
<script th:src="@{/app-assets/vendors/js/pickers/pickadate/picker.time.js}" type="text/javascript"></script>
<script th:src="@{/app-assets/vendors/js/pickers/pickadate/legacy.js}" type="text/javascript"></script>
<script th:src="@{/app-assets/vendors/js/pickers/dateTime/moment-with-locales.min.js}"  type="text/javascript"></script>
<script th:src="@{/app-assets/vendors/js/pickers/daterange/daterangepicker.js}"  type="text/javascript"></script>
<script th:src="@{/app-assets/js/scripts/pickers/dateTime/pick-a-datetime.js}"  type="text/javascript"></script>
<!--// Date Picker JS -->
<!-- Dual List JS -->
<script th:src="@{/app-assets/vendors/js/forms/listbox/jquery.bootstrap-duallistbox.min.js}" type="text/javascript"></script>
<script th:src="@{/app-assets/js/scripts/forms/listbox/form-duallistbox.js}" type="text/javascript"></script>
<!--// Dual List JS -->
<script th:src="@{/assets/js/design.js}" type="text/javascript"></script>