<%@ page language="java" contentType="text/html; charset=utf-8" pageEncoding="utf-8"%>
<!--푸터 영역-->
<footer class="footer footer-static footer-transparent">
	<p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
		<span class="float-md-left ">Copyright &copy; <a class="text-bold-800 grey darken-2" href="http://www.tigensoft.co.kr/"	target="_blank">Tigensoft</a>, All rights reserved. </span>
		<span class="float-md-center">TG 1st MCMS는 익스플로러 11이상의 환경에 최적화된 프로그램입니다.</span>
		<span class="float-md-right">시스템 문의: 02-2051-9857 <i class="ft-phone-call"></i></span>
	</p>
</footer>
<!--//푸터 영역-->

</body>
</html>


<!-- 새 페이지 생성시 반드시 필요한 JS -->
<script src="/_ex/_admin/app-assets/vendors/js/vendors.min.js" type="text/javascript"></script>
<script src="/_ex/_admin/app-assets/js/core/app-menu.js" type="text/javascript"></script>
<script src="/_ex/_admin/app-assets/js/core/app.js" type="text/javascript"></script>
<script src="/_ex/_admin/assets/js/link.js" type="text/javascript"></script>
<!--// 새 페이지 생성시 반드시 필요한 JS -->
<script src="/_ex/_admin/assets/js/design.js" type="text/javascript"></script>