<!DOCTYPE html>
<html class="loading" lang="ko" data-textdirection="ltr">
<head>
<title>TG 1st Movie Live 동영상 솔루션</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<link rel="apple-touch-icon" href="/_ex/_admin/app-assets/images/ico/apple-icon-120.png">
<link rel="shortcut icon" type="image/x-icon" href="/_ex/_admin/app-assets/images/ico/favicon.ico">
<!-- 새 페이지 생성시 반드시 필요한 CSS -->
<link rel="stylesheet" type="text/css" href="/_ex/_admin/app-assets/css/vendors.css">
<link rel="stylesheet" type="text/css" href="/_ex/_admin/app-assets/css/app.css">
<link rel="stylesheet" type="text/css" href="/_ex/_admin/app-assets/css/core/menu/menu-types/vertical-menu.css">
<link rel="stylesheet" type="text/css" href="/_ex/_admin/assets/css/style.css">
<!-- //새 페이지 생성시 반드시 필요한 CSS -->
<!-- Error CSS -->
  <link rel="stylesheet" type="text/css" href="/_ex/_admin/app-assets/css/pages/error.css">
<!--// Error CSS -->


<body class="vertical-layout vertical-menu 1-column   menu-expanded blank-page blank-page" id="goodbody" data-open="click" data-menu="vertical-menu" data-col="1-column">