<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="loading minwid-1280" lang="ko" data-textdirection="ltr">
<head>
<title>TG 1st MCMS 멀티미디어 콘텐츠 통합관리 시스템</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<link rel="apple-touch-icon" th:href="@{/app-assets/images/ico/apple-icon-120.png}">
<link rel="shortcut icon" type="image/x-icon" th:href="@{/app-assets/images/ico/favicon.ico}">
<!-- 새 페이지 생성시 반드시 필요한 CSS -->
<link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/vendors.css}">
<link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/app.css}">
<link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/core/menu/menu-types/vertical-menu.css}">
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}">
<!-- //새 페이지 생성시 반드시 필요한 CSS -->
<!-- 디스크립션 CSS -->
<link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/core/colors/palette-callout.css}">
<!--// 디스크립션 CSS -->
<!-- Date Picker CSS -->
<link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/pickers/daterange/daterangepicker.css}">
<link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/pickers/pickadate/pickadate.css}">
<link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/plugins/pickers/daterange/daterange.css}">
<!--// Date Picker CSS -->
<!-- csrf 헤더 및 토큰  -->
<meta name="_csrf" th:content="${_csrf.token}">
<meta name="_csrf_header" th:content="${_csrf.headerName}">
<!-- csrf 헤더 및 토큰  -->
<!-- Dual List CSS -->
<link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/forms/listbox/bootstrap-duallistbox.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/plugins/forms/dual-listbox.css}">
<!--// Dual List CSS -->


</head>
<body class="popup">