<!DOCTYPE html>
<html class="loading minwid-1280" lang="ko" data-textdirection="ltr">
<head>
<title>TG 1st MCMS 멀티미디어 콘텐츠 통합관리 시스템</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<link rel="apple-touch-icon" href="<%=request.getContextPath()%>/resources/app-assets/images/ico/apple-icon-120.png">
<link rel="shortcut icon" type="image/x-icon" href="<%=request.getContextPath()%>/resources/app-assets/images/ico/favicon.ico">
<!-- 새 페이지 생성시 반드시 필요한 CSS -->
<link rel="stylesheet" type="text/css" href="<%=request.getContextPath()%>/resources/app-assets/css/vendors.css">
<link rel="stylesheet" type="text/css" href="<%=request.getContextPath()%>/resources/app-assets/css/app.css">
<link rel="stylesheet" type="text/css" href="<%=request.getContextPath()%>/resources/app-assets/css/core/menu/menu-types/vertical-menu.css">
<link rel="stylesheet" type="text/css" href="<%=request.getContextPath()%>/resources/assets/css/style.css">
<!-- //새 페이지 생성시 반드시 필요한 CSS -->
<!-- 디스크립션 CSS -->
<link rel="stylesheet" type="text/css" href="<%=request.getContextPath()%>/resources/app-assets/css/core/colors/palette-callout.css">
<!--// 디스크립션 CSS -->
<!-- Date Picker CSS -->
<link rel="stylesheet" type="text/css" href="<%=request.getContextPath()%>/resources/app-assets/vendors/css/pickers/daterange/daterangepicker.css">
<link rel="stylesheet" type="text/css" href="<%=request.getContextPath()%>/resources/app-assets/vendors/css/pickers/pickadate/pickadate.css">
<link rel="stylesheet" type="text/css" href="<%=request.getContextPath()%>/resources/app-assets/css/plugins/pickers/daterange/daterange.css">
<!--// Date Picker CSS -->

<body class="mode-light-menu mode-dark-header vertical-layout vertical-menu 2-columns menu-expanded fixed-navbar" id="goodbody" data-open="click" data-menu="vertical-menu" data-col="2-columns">
