<!-- 카테고리 박스 -->
<div class="categoryBtnBox box-shadow-3 border-left-blue-grey border-left-lighten-4">
	<a class="categoryBtn bg-danger box-shadow-3" href="#"><i class="ft-list"></i> 카테고리</a>
	<div class="position-relative">
		<h4 class="font-weight-bold">카테고리</h4>
		<div class="position-absolute no-edge-top no-edge-right"><a href="#" class="categoryBox-close"><i class="ft-x font-medium-1"></i></a></div>
	</div>
	<div class="category-list categoryBox vertical-scroll scroll-example">
		<ul class="side-category">
			<li><a href="#" class="active"><span><i class="icon-home"></i> 홈</span></a></li>
			<li><span><hr></span></li>
			<li><a href="#" class=""><span><i class="icon-star"></i> 주요 콘텐츠</span></a></li>
			<li><a href="#" class=""><span><i class="icon-clock"></i> 최신 콘텐츠</span></a></li>
			<li><span><hr></span></li>
			<li class="hasSub">
				<a href="#" class=""><span><i class="icon-graduation"></i> extube</span></a>
				<ul class="sub1-cate side-category">
					<li><a href="#" class=""><span>직무교육</span></a></li>
					<li><a href="#" class=""><span>현장업무가이드</span></a></li>
					<li><a href="#" class=""><span>핫트렌드</span></a></li>
					<li><a href="#" class=""><span>사람과 소통</span></a></li>
				</ul>			
			</li>
			<li class="hasSub">
				<a href="#" class=""><span><i class="icon-bubbles"></i> 홍보영상</span></a>
				<ul class="sub1-cate side-category">
					<li><a href="#" class=""><span>공사홍보</span></a></li>
					<li><a href="#" class=""><span>유튜브(페이스북)</span></a></li>
					<li><a href="#" class=""><span>광고캠페인</span></a></li>
					<li><a href="#" class=""><span>기타홍보</span></a></li>
				</ul>				
			</li>
			<li class="hasSub">
				<a href="#" class=""><span><i class="icon-book-open"></i> 정보방송영상</span></a>
				<ul class="sub1-cate side-category">
					<li><a href="#" class=""><span>행사관련</span></a></li>
					<li><a href="#" class=""><span>사내특강</span></a></li>
					<li><a href="#" class=""><span>간부회의</span></a></li>
				</ul>	
			</li>
			<li class="hasSub">
				<a href="#" class=""><span><i class="icon-picture"></i> 사진</span></a>
					<ul class="sub1-cate side-category">
						<li><a href="#" class=""><span>행사사진</span></a></li>
						<li><a href="#" class=""><span>노선사진</span></a></li>
						<li><a href="#" class=""><span>기타사진</span></a></li>
					</ul>
			</li>
		</ul>
	</div>
</div> <!--// 카테고리 박스 -->