<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!-- 상단 : 메뉴온오프, 공지사항, 매뉴얼다운로드, 로그인정보 -->
<header>
	<h3 class="logo add-citext ">
		<a href="javascript:goUrl_1_1();">
			<img th:src="@{/app-assets/images/logo/logo-light-sm.png}" alt="">
			<p class="brand-text use-small">
				<span>TG 1st Movie Live</span>
				<small>동영상 라이브 솔루션</small>
			</p>
		</a>
	</h3>
	<style>
		#userMenu > ul {list-style:none;}
		#userMenu > li {list-style:none;} 
		#userMenu > ol {list-style:none;} 
		#userMenu > dl {list-style:none;} 
		#userMenu > dt {list-style:none;} 
		#userMenu > dd {list-style:none;} 
	</style>
	<div class="user-menu" id="userMenu">
		<!-- 시간 -->
		<div class="user-menu-left mt-Half">
			<i class="ft-clock font-medium-4"></i><span class=""> 현재 시스템 시간 : </span>
		</div>
		<!-- 시간 -->
		<ul>
<!-- 			<li><a href="#"><i class="fa fa-download font-medium-4"></i>매뉴얼 다운로드</a></li> -->
			<li><i class="fa fa-user-circle-o font-medium-4"></i><strong>[[${session.userName}]]</strong>님</li>
			<li><a th:href="@{/logout.do}"><i class="fa fa-sign-out font-medium-4"></i>로그아웃</a></li>
		</ul>
	</div>
	
</header>
<!-- //상단 : 메뉴온오프, 시간, 매뉴얼다운로드, 로그인정보-->