<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="inc/_header"></div>

<script type="text/javascript" th:inline = "javascript">
/*<![CDATA[*/
	
	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");
	
$(function() {
	
	$(".lnb_1").addClass("open");
	$(".lnb_1_2").addClass("open").addClass("active");
	
	
	$("#checkAll").click(function(){
		if($("#checkAll").prop("checked")){
			$("input[name=checkBox]").prop("checked", true);
		}else {
			$("input[name=checkBox]").prop("checked", false);
		}
	});
});

function goList(num){
	
	$("#currentPage").val(num);
	
	var f = document.theForm;
	
	f.action = /*[[@{/channel/channelList.do}]]*/ "/channel/channelList.do";
	f.method = "post";
	f.submit();
}

//채널 추가하기
function addChannel(){
	
	if($("#addName").val().trim() == ""){
		alert("채널명을 입력해주세요.");
		return;
	}
	
	if($("#addUrl").val().trim() == ""){
		alert("채널 URL을 입력해주세요.");
		return;
	}
	
	var jsonData = {
			"lcName" : $("#addName").val(),
			"lcUrl" : $("#addUrl").val(),
			"lcDesc" :$("#addDesc").val().trim()
	}
	
	$.ajax({
		beforeSend : function(xhr) {
			xhr.setRequestHeader(header, token);
		},
		url : /*[[@{/channel/addChannel.do}]]*/ "/channel/addChannel.do",
		data: jsonData,
        dataType : 'text',
        type: 'POST',
		success: function (rtn) {
			if (rtn == "SUCCESS") {
				alert("채널이 추가되었습니다.");
				goList(1);
				
			} else if(rtn == "EXIST") {
				alert("중복된 채널명이 존재합니다.");
			} else {
				alert("채널을 추가하는데 실패하였습니다.");
				goList(1);
			}
		},
		error : function (e){
			alert("시스템상 문제가 발생하였습니다. 관리자에게 문의하세요");
		}
	});
}


//채널 삭제
function delChannelChk(){
	var chkCnt = 0;
	var chSeqs = new Array();
	
	$("input[name=checkBox]").each(function(){
		if(this.checked){
			chkCnt++;
			chSeqs.push($(this).val());
		}
	});
	
	if(chkCnt == 0){
		alert('선택된 데이터가 없습니다.');
		return;
	}
	
	$("#channelDelete button").eq(1).attr("onclick", "delChannel('"+chSeqs.join()+"')");
	$("#channelDelete").modal();
	
}

function delChannel(seqs){
	
	$.ajax({
		beforeSend : function(xhr) {
			xhr.setRequestHeader(header, token);
		},
		url : /*[[@{/channel/delChannel.do}]]*/ "/channel/delChannel.do",
		data: {"deleteSeqs" : seqs},
        dataType : 'text',
        type: 'POST',
		success: function (rtn) {
			if (rtn == "SUCCESS") {
				alert("채널이 삭제되었습니다.");
			} else {
				alert("채널을 삭제하는데 실패하였습니다.");
			}
		},
		error : function (e){
			alert("시스템상 문제가 발생하였습니다. 관리자에게 문의하세요.");
		},
		complete: function(){
			goList(1);
		}
	});
}

//수정하기 화면
function modChannelForm(seq){
	
	$("#modSeq").val(seq);
	
	$("#modName").val($("#tdName_"+seq).children().text());
	$("#modUrl").val($("#tdName_"+seq).next().text());
	$("#modDesc").val($("#tdName_"+seq).next().next().text());
	
	$("#channelModify button").eq(1).attr("onclick", "modChannel()");
	$("#channelModify").modal();
}

//수정
function modChannel(){
	
	if($("#modName").val().trim() == ""){
		alert("채널명을 입력해주세요.");
		return;
	}
	
	if($("#modUrl").val().trim() == ""){
		alert("채널 URL을 입력해주세요.");
		return;
	}
	
	var jsonData = {
			"lcSeq" : $("#modSeq").val(),
			"lcName" : $("#modName").val(),
			"lcUrl" : $("#modUrl").val(),
			"lcDesc" :$("#modDesc").val().trim()
	}
	
	$.ajax({
		beforeSend : function(xhr) {
			xhr.setRequestHeader(header, token);
		},
		url : /* [[@{/channel/modChannel.do}]]  */ "/channel/modChannel.do",
		data: jsonData,
        dataType : 'text',
        type: 'POST',
		success: function (rtn) {
			if (rtn == "SUCCESS") {
				alert("채널이 수정되었습니다.");
				goList(1);
				
			} else if(rtn == "EXIST") {
				alert("중복된 채널명이 존재합니다.");
			} else {
				alert("채널을 수정하는데 실패하였습니다.");
				goList(1);
			}
		},
		error : function (e){
			alert("시스템상 문제가 발생하였습니다. 관리자에게 문의하세요");
		}
	});
}
 
/*]]*/
</script>

<form id="theForm" name="theForm" method="post">
	<input type="hidden" id="authSeq" th:value="${loginVO.authSeq}">
	<input type="hidden" id="blockCount" name="blockCount" th:value="${dto.blockCount}"/>
	<input type="hidden" id="currentPage" name="currentPage" th:value="${dto.currentPage}"/>
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
<!-- 컨텐츠 영역 -->
<div class="app-content content">
<div class="content-wrapper">
<!-- 컨텐츠:헤더-페이지명,네비게이터 -->
<div class="content-header row">
	<div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
		<h3 class="content-header-title mb-0 d-inline-block">라이브채널관리</h3>
		<div class="row breadcrumbs-top d-inline-block">
			<div class="breadcrumb-wrapper col-12">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">홈</li>
					<li class="breadcrumb-item">라이브방송관리</li>
					<li class="breadcrumb-item active">라이브채널관리</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<!--// 컨텐츠:헤더-페이지명,네비게이터 -->
<!-- 컨텐츠:본문 영역 -->
<div class="content-body">
	<div class="row ">
		<!-- 채널관리 상세영역 -->
		<div class="col-sm-12">
			<div class="card">
				<div class="card-header"><h4 class="card-title">라이브 채널 관리</h4></div>			
				<div class="card-content">
					<div class="card-body">
					
						<!-- 버튼영역 -->
						<div class="position-relative">
							<div class="d-inline">
								<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#channelWrite"><i class="icon-feed"></i> 채널 등록</button>
								<button type="button" class="btn btn-secondary btn-sm" onclick="delChannelChk()">삭제</button>
								<!--선택 채널이 라이브 방송 중이거나 대기방송일 경우 pub_live/_admin/html/popup폴더에 있는 channelNodelete.jsp와 같은 형식으로 알림창을 띄워주세요-->
							</div>
						</div>
						<!--// 버튼영역 -->
						<!-- 테이블 영역 -->
						<div class="table-responsive view-poll mt-Half">
							<table cellpadding="0" cellspacing="0" class="table table-design-cust text-center td-align-middle" summary="" >
								<colgroup>
									<col width="5%"/><col width="25%"/><col width="25%"/><col width="45%"/>
								</colgroup>
								<thead>
									<tr>
										<th>
											<div class="form-check abc-checkbox">
												<input class="form-check-input" type="checkbox" id="checkAll">
												<label class="form-check-label" for="checkAll"></label>
											</div>
										</th>
										<th>채널명</th>
										<th>설정</th>
										<th>설명</th>
									</tr>
								</thead>
								<tbody>
									<tr th:if="${#lists.isEmpty(dto.channelList)}"><td colspan="4">등록된 LIVE Channel이 없습니다.</td></tr>
									
									<tr th:unless="${#lists.isEmpty(dto.channelList)}" th:each="item : ${dto.channelList}">
										<td>														
											<div class="form-check abc-checkbox">
												<input class="form-check-input" type="checkbox" th:id="'checkBox'+${itemStat.index}" name="checkBox" th:value="${item.lcSeq}">
												<label class="form-check-label" th:for="'checkBox'+${itemStat.index}"></label>
											</div>
										</td>
										<td th:id="'tdName_' + ${item.lcSeq}" ><a href="#" th:onclick="modChannelForm([[${item.lcSeq}]])" th:text="${item.lcName}"></a></td>
										<td class="text-left" th:text="${item.lcUrl}"></td>
										<td class="text-left" th:text="${item.lcDesc}"></td>
									</tr>
									
								</tbody>
							</table>
						</div>
						<!--// 테이블 영역 -->
						<!-- 페이징 -->
						<div th:utext="${dto.pagingHtml}"></div>
						<!-- //페이징 -->
					</div>
				</div>
			</div>
		</div>
		<!--// 채널관리 상세영역 -->

	</div>
</div>
<!--// 컨텐츠 본문 영역 -->
</div>
</div>
</form>
<!--// 컨텐츠 영역 -->
<div th:replace="inc/_footer"></div>

<!-- 팝업인크루드 -->
<div th:replace="popup/channelDelete"></div>
<div th:replace="popup/channelWrite"></div>
<div th:replace="popup/channelModify"></div>
<!--// 팝업인크루드 -->
