<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="inc/_header"></div>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");
	
	$(document).ready(function() {
		$(".lnb_3").addClass("open");
		$(".lnb_3_2").addClass("active");
	});
	
	//미디어 설정 업데이트
	function updateMediaConfig() {
		var jsonData = {
				"liveFileLocalPath" : $("#liveFileLocalPath").val(),
				"encodingVodFilePath" : $("#encodingVodFilePath").val(),
				"etcFileUploadPath" : $("#etcFileUploadPath").val(),
				"replaceRootPath" : $("#replaceRootPath").val(),
				"liveStreamingUri" : $("#liveStreamingUri").val(),
				"vodStreamingUri" : $("#vodStreamingUri").val(),
				"encoderWorkerCnt" : $("#encoderWorkerCnt").val(),
				"vodOriginalFilePath" : $("#vodOriginalFilePath").val()
// 				"footerDeptNm" : $("#footerDeptNm").val(),
// 				"footerDeptNo" : $("#footerDeptNo").val()
		};
		
		$.ajax({
			beforeSend : function(xhr) {
				xhr.setRequestHeader(header, token);
			},
			url : /*[[ @{/setting/mediaConfigUpdate.do }]]*/ '/setting/mediaConfigUpdate.do',
			type : "POST",
			data : jsonData,
			dataType : 'text',
			success : function(type) {
				if(type == "SUCCESS") {
					alert("미디어 설정 수정이 완료되었습니다.");
				} else {
					alert("미디어 설정 수정 처리 중 오류가 발생하였습니다.");
				}
			},
			error : function(e) {
				alert("시스템 에러가 발생하였습니다. 관리자에게 문의하세요.");
			},
			complete : function() {
				location.reload();
			}
		});
	}
	
	function validateForm() {
		if($("#liveFileLocalPath").val().trim() == "") {
			alert("인코딩 파일 경로를 입력해주세요.");
			$("#liveFileLocalPath").focus();
			return;
		} else if($("#encodingVodFilePath").val().trim() == "") {
			alert("녹화 파일 저장 경로를 입력해주세요.");
			$("#encodingVodFilePath").focus();
			return;
		} else if($("#etcFileUploadPath").val().trim() == "") {
			alert("업로드 파일 기본 경로를 입력해주세요.");
			$("#etcFileUploadPath").focus();
			return;
		} else if($("#replaceRootPath").val().trim() == "") {
			alert("웹 기본 경로를 입력해주세요.");
			$("#replaceRootPath").focus();
			return;
		} else if($("#liveStreamingUri").val().trim() == "") {
			alert("라이브 스트리밍 URI를 입력해주세요.");
			$("#liveStreamingUri").focus();
			return;
		} else if($("#vodStreamingUri").val().trim() == "") {
			alert("VOD 스트리밍 URI를 입력해주세요.");
			$("#vodStreamingUri").focus();
			return;
		} else if($("#encoderWorkerCnt").val().trim() == "") {
			alert("인코딩 스레드 최대 수를 입력해주세요.");
			$("#encoderWorkerCnt").focus();
			return;
		} else if($("#vodOriginalFilePath").val().trim() == "") {
			alert("VOD 원본 파일 경로를 입력해주세요.");
			$("#vodOriginalFilePath").focus();
			return;
		} 
// 		else if($("#footerDeptNm").val() == "") {
// 			alert("담당부서를 입력해주세요.");
// 			$("#footerDeptNm").focus();
// 			return;
// 		} else if($("#footerDeptNo").val() == "") {
// 			alert("담당자를 입력해주세요.");
// 			$("#footerDeptNo").focus();
// 			return;
// 		}
		updateMediaConfig();
	}
/*]]*/
</script>
<div class="app-content content">
<div class="content-wrapper">
<!-- 컨텐츠:헤더-페이지명,네비게이터 -->
<div class="content-header row">
	<div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
		<h3 class="content-header-title mb-0 d-inline-block">미디어 설정</h3>
		<div class="row breadcrumbs-top d-inline-block">
			<div class="breadcrumb-wrapper col-12">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">Home</li>
					<li class="breadcrumb-item">인코딩 설정</li>
					<li class="breadcrumb-item active">미디어 설정</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<!--// 컨텐츠:헤더-페이지명,네비게이터 -->
<!-- 컨텐츠:본문 영역 -->
<div class="content-body">
	<!-- 디스크립션 -->
	<div class="bs-callout-success mb-2">
		<div class="media align-items-stretch">
			<div class="media-left d-flex align-items-center bg-gray p-2">
				<i class="ft-check-square white font-medium-5"></i>
			</div>
			<div class="media-body p-1">
				<ul class="list-left list-disc mb-0">
					<li>인코딩을 위한 원본파일과 인코딩 결과 경로를 설정하는 페이지입니다.</li>
				</ul>
			</div>
		</div>
	</div>
	<!--// 디스크립션 -->
	<div class="row">
		<!-- 미디어설정 -->
		<div class="col-xl-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">미디어 설정</h4>
					<div class="heading-elements"></div>
				</div>
				<div class="card-content">
					<div class="card-body">
					
					<form name="theForm" id="theForm" method="post">
						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
					
						<!--  테이블 -->
						<div class="w-100 regist-form view-poll ">
							<table cellpadding="0" cellspacing="0" class="table text-left mb-0" summary="">
								<colgroup>
									<col width="20%"><col width="80%">
								</colgroup>
								<thead>
									<tr>
										<th scope="row" class="align-middle text-center">구분</th>
										<th scope="row" class="align-middle text-center">설정입력</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th>인코딩 파일 경로</th>
										<td>
											<input type="text" class="form-control" title="" th:value="${vo.liveFileLocalPath}" name="liveFileLocalPath" id="liveFileLocalPath">
<!-- 											<span class="small success">※ 경로는 WebContents 아래여야함 / 경로 : C:/WebContents/upload/vod/original/ </span> -->
										</td>
									</tr>
									<tr>
										<th>녹화 파일 저장 경로</th>
										<td>
											<input type="text" class="form-control" title="" th:value="${vo.encodingVodFilePath}" name="encodingVodFilePath" id="encodingVodFilePath">
<!-- 											<span class="small success">※ 경로는 WebContents 아래여야함 / 경로 : C:/WebContents/upload/vod/encoding/  </span> -->
										</td>
									</tr>
									<tr>
										<th>업로드 파일 기본 경로</th>
										<td>
											<input type="text" class="form-control" title="" th:value="${vo.etcFileUploadPath}" name="etcFileUploadPath" id="etcFileUploadPath">
<!-- 											<span class="small success">※ 미디어서버 프리셋 경로 : C:/Program Files/MediaServer/3.0/Presets/ </span> -->
										</td>
									</tr>
									<tr>
										<th>웹 기본 경로</th>
										<td>
											<input type="text" class="form-control" title="" th:value="${vo.replaceRootPath}" name="replaceRootPath" id="replaceRootPath">
<!-- 											<span class="small success">※ 미디어서버 프리셋 경로 : C:/Program Files/MediaServer/3.0/Presets/ </span> -->
										</td>
									</tr>
									<tr>
										<th>라이브 스트리밍 URI</th>
										<td>
											<input type="text" class="form-control" title="" th:value="${vo.liveStreamingUri}" name="liveStreamingUri" id="liveStreamingUri">
<!-- 											<span class="small success">※ 미디어서버 프리셋 경로 : C:/Program Files/MediaServer/3.0/Presets/ </span> -->
										</td>
									</tr>
									<tr>
										<th>VOD 스트리밍 URI</th>
										<td>
											<input type="text" class="form-control" title="" th:value="${vo.vodStreamingUri}" name="vodStreamingUri" id="vodStreamingUri">
<!-- 											<span class="small success">※ 미디어서버 프리셋 경로 : C:/Program Files/MediaServer/3.0/Presets/ </span> -->
										</td>
									</tr>
									<tr>
										<th>인코딩 스레드 최대 수</th>
										<td>
											<input type="text" class="form-control" title="" th:value="${vo.encoderWorkerCnt}" name="encoderWorkerCnt" id="encoderWorkerCnt">
<!-- 											<span class="small success">※ 미디어서버 프리셋 경로 : C:/Program Files/MediaServer/3.0/Presets/ </span> -->
										</td>
									</tr>
									<tr>
										<th>VOD 원본 파일 경로</th>
										<td>
											<input type="text" class="form-control" title="" th:value="${vo.vodOriginalFilePath}" name="vodOriginalFilePath" id="vodOriginalFilePath">
<!-- 											<span class="small success">※ VOD 직접등록시 원본파일 저장 경로 (uploader conf 경로와 같아야합니다.) </span> -->
										</td>
									</tr>
<!-- 									<tr> -->
<!-- 										<th>플레이어 기본 이미지</th> -->
<!-- 										<td> -->
<!-- 											<input type="text" class="form-control" title="" th:value="${vo.defaultThumbnail}" name="defaultThumbnail" id="defaultThumbnail"> -->
<!-- 											<span class="small success">※ VOD 직접등록시 원본파일 저장 경로 (uploader conf 경로와 같아야합니다.) </span> -->
<!-- 										</td> -->
<!-- 									</tr> -->
<!-- 									<tr> -->
<!-- 										<th>사용자 하단 담당부서</th> -->
<!-- 										<td> -->
<!-- 											<input type="text" class="form-control" title="" th:value="${vo.footerDeptNm}" name="footerDeptNm" id="footerDeptNm"> -->
<!-- 											<span class="small success">※ VOD 직접등록시 원본파일 저장 경로 (uploader conf 경로와 같아야합니다.) </span> -->
<!-- 										</td> -->
<!-- 									</tr> -->
<!-- 									<tr> -->
<!-- 										<th>사용자 하단 담당자</th> -->
<!-- 										<td> -->
<!-- 											<input type="text" class="form-control" title="" th:value="${vo.footerDeptNo}" name="footerDeptNo" id="footerDeptNo"> -->
<!-- 											<span class="small success">※ VOD 직접등록시 원본파일 저장 경로 (uploader conf 경로와 같아야합니다.) </span> -->
<!-- 										</td> -->
<!-- 									</tr> -->
								</tbody>
							</table>
						</div>
						<!--// 테이블 -->
					</form>
					</div>
				</div>
				<!-- 버튼영역 -->
				<div class="card-footer">
					<div class="mr-auto float-right">
						<button type="button" class="btn btn-success px-2" onclick="validateForm();">저장</button>
					</div>
				</div>
				<!--// 버튼영역 -->
			</div>
		</div>
		<!--// 미디어설정 -->
	</div>
</div>
<!--// 컨텐츠 본문 영역 -->
</div>
</div>
<div th:replace="inc/_footer"></div>
