<%@ include file="../inc/_header.jsp"%>
<!-- 스위치 버튼 CSS -->
 <link rel="stylesheet" type="text/css" href="<%=request.getContextPath()%>/resources/app-assets/vendors/css/forms/toggle/switchery.min.css">
 <link rel="stylesheet" type="text/css" href="<%=request.getContextPath()%>/resources/app-assets/css/plugins/forms/switch.css">
 <!--// 스위치 버튼 CSS -->
<!-- 컨텐츠 영역 -->
<div class="app-content content">
<div class="content-wrapper">
<!-- 컨텐츠:헤더-페이지명,네비게이터 -->
<div class="content-header row">
	<div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
		<h3 class="content-header-title mb-0 d-inline-block">트렌스 코딩 설정</h3>
		<div class="row breadcrumbs-top d-inline-block">
			<div class="breadcrumb-wrapper col-12">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">Home</li>
					<li class="breadcrumb-item">콘텐츠환경설정</li>
					<li class="breadcrumb-item active">트렌스코딩설정</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<!--// 컨텐츠:헤더-페이지명,네비게이터 -->
<!-- 컨텐츠:본문 영역 -->
<div class="content-body">
	<div class="row">
		<div class="col-xl-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">트렌스코딩설정 목록</h4>
					<div class="heading-elements"></div>
				</div>
				<div class="card-content collapse show">
					<div class="card-body">

						<!-- 버튼영역 -->
						<div class="listTop-btnArea">
							<div class="d-inline">
								<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addTransSet"><i class="icon-equalizer"></i> 설정추가</button>
								<button type="button" class="btn btn-secondary btn-sm " data-toggle="modal" data-target="#listDelete">삭제</button>
							</div>
							<div class="position-absolute no-edge-top no-edge-right"></div>
						</div>
						<!--// 버튼영역 -->

						<div class=" table-responsive even-line view-poll holding-switch mt-Half">
							<table cellpadding="0" cellspacing="0" class="w-100 table table-design-cust text-center mb-0" summary="">
								<colgroup>
									<col width="3%"/><col width="6%"/>
									<col width="13%"/><col width="13%"/><col width="13%"/><col width="13%"/><col width="13%"/><col width="13%"/><col width="13%"/>
								</colgroup>
								<thead>
									<tr>
										<th scope="row">
											<div class="d-inline-block form-check abc-checkbox abc-checkbox-info">
												<input type="checkbox" class="custom-control-input" name="colorCheck" id="checkbox0"><label class="custom-control-label" for="checkbox0"></label>
											</div>
										</th>
										<th scope="row">No</th>
										<th scope="row">설정명</th>
										<th scope="row">플레이어화면 크기</th>
										<th scope="row">오디오 음질</th>
										<th scope="row" >유형</th>
										<th scope="row" >활성여부</th>
									</tr>
								</thead>
								<tbody>
									<!-- 
									<tr>
										<td colspan="7" class="py-5 border-bottom border-light-gray ">등록된 내용이 없습니다.</td>
									</tr>
									-->
									<tr>
										<td>
											<div class="d-inline-block form-check abc-checkbox abc-checkbox-info">
												<input type="checkbox" class="custom-control-input" name="colorCheck" id="checkbox1"><label class="custom-control-label" for="checkbox1"></label>
											</div>
										</td>
										<td>4</td>
										<td class="text-left"><a href="#" data-toggle="modal" data-target="#modifyTransSet">저화질 저용량</a></td>
										<td>320*240</td>
										<td>112</td>
										<td>동영상</td>
										<td><input type="checkbox" id="contact37" class="switchery " data-size="xs" data-color="info" disabled/></td>
									</tr>
									<tr>
										<td>
											<div class="d-inline-block form-check abc-checkbox abc-checkbox-info">
												<input type="checkbox" class="custom-control-input" name="colorCheck" id="checkbox2"><label class="custom-control-label" for="checkbox2"></label>
											</div>
										</td>
										<td>3</td>
										<td class="text-left"><a href="#" onclick="openPopup('modifyTransSet-popup','400',406)">일반화질</a></td>
										<td>720*480</td>
										<td>192</td>
										<td>동영상</td>
										<td><input type="checkbox" id="contact37" class="switchery " data-size="xs" data-color="info" checked disabled/></td>
									</tr>
									<tr>
										<td>
											<div class="d-inline-block form-check abc-checkbox abc-checkbox-info">
												<input type="checkbox" class="custom-control-input" name="colorCheck" id="checkbox3"><label class="custom-control-label" for="checkbox3"></label>
											</div>
										</td>
										<td>2</td>
										<td class="text-left"><a href="#" onclick="openPopup('modifyTransSet-popup','400',406)">고화질설정</a></td>
										<td>1080*720</td>
										<td>320</td>
										<td>동영상</td>
										<td><input type="checkbox" id="contact37" class="switchery " data-size="xs" data-color="info" checked disabled/></td>
									</tr>
									<tr>
										<td>
											<div class="d-inline-block form-check abc-checkbox abc-checkbox-info">
												<input type="checkbox" class="custom-control-input" name="colorCheck" id="checkbox5"><label class="custom-control-label" for="checkbox5"></label>
											</div>
										</td>
										<td>1</td>
										<td class="text-left"><a href="#" onclick="openPopup('modifyTransSet-popup','400',406)">고화질/고용량</a></td>
										<td>1920*1080</td>
										<td>320</td>
										<td>동영상</td>
										<td><input type="checkbox" id="contact37" class="switchery " data-size="xs" data-color="info" disabled/></td>
									</tr>
								</tbody>
							</table>

						</div>
						<!--// 테이블 -->
						<!-- 페이징 -->
						<div class="col-lg-12 mt-1">							
							<nav aria-label="Page navigation">
								<ul class="pagination">
									<li class="page-item"><a class="page-link" href="#">« Prev</a></li>
									<li class="page-item"><a class="page-link" href="#">Prev</a></li>
									<li class="page-item"><a class="page-link" href="#">1</a></li>
									<li class="page-item"><a class="page-link" href="#">2</a></li>
									<li class="page-item active"><a class="page-link" href="#">3</a></li>
									<li class="page-item"><a class="page-link" href="#">4</a></li>
									<li class="page-item"><a class="page-link" href="#">5</a></li>
									<li class="page-item"><a class="page-link" href="#">6</a></li>
									<li class="page-item"><a class="page-link" href="#">7</a></li>
									<li class="page-item"><a class="page-link" href="#">8</a></li>
									<li class="page-item"><a class="page-link" href="#">9</a></li>
									<li class="page-item"><a class="page-link" href="#">10</a></li>
									<li class="page-item"><a class="page-link" href="#">Next</a></li>
									<li class="page-item"><a class="page-link" href="#">Next »</a></li>
								</ul>
							</nav>
						</div>
						<!-- //페이징 -->

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--// 컨텐츠 본문 영역 -->
</div>
</div>
<!--// 컨텐츠 영역 -->
<%@ include file="../inc/_footer.jsp"%>
<script language="javascript" type="text/javascript">$(document).ready(function(){$(".lnb_3").addClass("open"); $(".lnb_3_5").addClass("active");});</script>


<!-- 팝업인클루드 -->
<%@ include file="../popup/addTransSet.jsp"%>
<%@ include file="../popup/listDelete.jsp"%>
<%@ include file="../popup/modifyTransSet-modal.jsp"%>
<!--// 팝업인클루드 -->

<!-- 스위치 버튼 JS -->
<script src="<%=request.getContextPath()%>/resources/app-assets/vendors/js/forms/toggle/bootstrap-switch.min.js"  type="text/javascript"></script>
<script src="<%=request.getContextPath()%>/resources/app-assets/vendors/js/forms/toggle/bootstrap-checkbox.min.js"  type="text/javascript"></script>
<script src="<%=request.getContextPath()%>/resources/app-assets/vendors/js/forms/toggle/switchery.min.js" type="text/javascript"></script>
<script src="<%=request.getContextPath()%>/resources/app-assets/js/scripts/forms/switch.js" type="text/javascript"></script>
<!--// 스위치 버튼 JS -->