<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="inc/_header"></div>

<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");
		
	$(document).ready(function(){
		$(".lnb_3").addClass("open"); 
		$(".lnb_3_1").addClass("active");
		
		//적용위치 변경되는 경우에 hidden에 값 저장
		$("select[name=position]").change(function() {
			$("#position").val($(this).val());
		});
		
		if($("#position").val() == null) {
			$("#chkPosition").val('').prop("selected", true);
		} else {
			$("#chkPosition").val($("#position").val()).prop("selected", true);
		}
		
		//사용여부 변경되는 경우에 hidden에 값 저장
		$("select[name=selectUse]").change(function() {
			$("#useYn").val($(this).val());
		});
		
		if($("#useYn").val() == null) {
			$("#selectUse").val('').prop("selected", true);
		} else {
			$("#selectUse").val($("#useYn").val()).prop("selected", true);
		}
	});

	//파일 확장자 확인
	function checkFile(obj) {
		var chkFile = ["bmp","rle","dib","jpeg","jpg","gif","png","tif","tiff","raw"];
		
		var fileFormat = obj.value.substring(obj.value.lastIndexOf(".") + 1);
		var result = false;
		var agent = navigator.userAgent.toLowerCase();
		
		if(obj.value != "") {
			//IE 여부 판단
			if(agent.indexOf("trident") != -1) {
				var ao = new ActiveXObject("Scripting.FileSystemObject");
				fileSize = ao.getFile(obj.value).size;
			} else {
				fileSize = obj.files[0].size;
			}
			
			if($.inArray(fileFormat.toLowerCase(), chkFile) < 0) {
				alert("이미지 확장자만 첨부 가능합니다.");
				
				if(agent.indexOf("trident") != -1) {
					$("#imageFile").replaceWith($("#imageFile").clone(true));
				} else {
					$("#imageFile").val("");
				}
				
				return;
			} else {
				result = true;
			}
		}
		return true;
	}
	
	//워터마크 저장
	function saveWatermark() {
		//기존에 파일이 존재하고 사용여부 및 적용 위치만 변경할 경우
		if($("#imageFile").val() == null || $("#imageFile").val() == "") {
			jsonData = {
				"position" : $("#position").val(),
				"imgFilePath" : $("#imgFilePath").val(),
				"imgFileName" : $("#imgFileName").val(),
				"imgServerFileName" : $("#imgServerFileName").val(),
				"useYn" : $("#useYn").val()
			};
			
		$.ajax({
			beforeSend : function(xhr) {
				xhr.setRequestHeader(header, token);
			},
			url : /*[[ @{/setting/statusUpdate.do }]]*/ '/setting/statusUpdate.do',
			type : "POST",
			data : jsonData,
			dataType : 'text',
			success : function(type) {
				if(type == "SUCCESS") {
					alert("워터마크 수정이 완료되었습니다.");
				} else {
					alert("워터마크 수정 처리 중 오류가 발생하였습니다.");
				}
			},
			error : function(e) {
				alert("시스템 에러가 발생하였습니다. 관리자에게 문의하세요.");
			},
			complete : function() {
				location.reload();
			}
		});
		//파일이 새로 등록되는 경우
		} else {
		var frm = document.theForm;
		var imageFileName = frm.imageFile.value;
		
		if(imageFileName != "") {
			imageFileName = imageFileName.substring(imageFileName.lastIndexOf("\\") + 1);
		}
		frm.imgFileName.value = imageFileName;
		var formData = new FormData();
		
		formData.append("imageFile", $("input[name=imageFile]")[0].files[0]);
		formData.append("imgFileName", imageFileName);
		formData.append("position", $("#position").val());
		formData.append("useYn", $("#useYn").val());
		
		$.ajax({
			beforeSend : function(xhr) {
				xhr.setRequestHeader(header, token);
			},
			url : /*[[ @{/setting/watermarkSave.do }]]*/ '/setting/watermarkSave.do',
			type : "POST",
			cache : false,
			processData : false,
			contentType : false,
			data : formData,
			enctype: "multipart/form-data", 
			dataType : 'text',
			success : function(type) {
				if(type == "SUCCESS") {
					alert("워터마크가 등록되었습니다.");
				} else {
					alert("워터마크 등록 처리 중 오류가 발생하였습니다.");
				}
			},
			error : function(e) {
				alert("시스템 에러가 발생하였습니다. 관리자에게 문의하세요.");
			},
			complete : function() {
				location.reload();
			}
		});
		}
	}
	
	//이미지 업로드 확인
	function readURL(input) {
		if(input.files && input.files[0]) {
			var reader = new FileReader();
			
			reader.onload = function(e) {
				$("#waterImg").attr("src", e.target.result);
			}
			
			reader.readAsDataURL(input.files[0]);
		}
	}
	
	//이미지 업로드시에 미리보기
	$(function() {
		$("#imageFile").change(function() {
			readURL(this);
		});
	});
	
/*]]*/
</script>
<!-- 컨텐츠 영역 -->
<div class="app-content content">
<div class="content-wrapper">
<!-- 컨텐츠:헤더-페이지명,네비게이터 -->
<div class="content-header row">
	<div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
		<h3 class="content-header-title mb-0 d-inline-block">워터마크 설정</h3>
		<div class="row breadcrumbs-top d-inline-block">
			<div class="breadcrumb-wrapper col-12">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">Home</li>
					<li class="breadcrumb-item">인코딩 설정</li>
					<li class="breadcrumb-item active">워터마크 설정</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<!--// 컨텐츠:헤더-페이지명,네비게이터 -->
<!-- 컨텐츠:본문 영역 -->
<div class="content-body">
	<div class="row">
		<!-- 사용자 목록 -->
		<div class="col-xl-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">워터마크 설정</h4>
					<div class="heading-elements"></div>
				</div>
				<div class="card-content collapse show">
					<div class="card-body">
	
					<form name="theForm" id="theForm" method="post">
						<input type="hidden" id="imgFilePath" name="imgFilePath" th:value="${vo?.imgFilePath}"/>
						<input type="hidden" id="imgFileName" name="imgFileName" th:value="${vo?.imgFileName}"/>
						<input type="hidden" id="imgServerFileName" name="imgServerFileName" th:value="${vo?.imgServerFileName}"/>
						<input type="hidden" id="position" th:value="${vo?.position}"/>
						<input type="hidden" id="useYn" th:value="${vo?.useYn}" />
						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
						<!--  테이블 -->
						<div class="w-100 regist-form view-poll ">
							<table cellpadding="0" cellspacing="0" class="table text-left mb-0" summary="">
								<colgroup>
									<col width="20%"/><col width="80%"/>
								</colgroup>
								<thead>
									<tr>
										<th scope="row" class="align-middle text-center">구분</th>
										<th scope="row" class="align-middle text-center">설정입력</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th>사용여부</th>
										<td>
											<select name="selectUse" id="selectUse" title="" class="form-control d-inline col-2">
												<option value="">선택하세요.</option>
												<option value="Y">사용</option>
												<option value="N">미사용</option>
											</select>
										</td>
									</tr>
									<tr>
										<th>파일선택</th>
										<td th:if="${#lists.isEmpty(vo)}">
											<div class="col-3" style="background:gray">
												<img id="waterImg" class="w-100" alt="" th:src='@{/app-assets/images/sample/sample_watermark02.png}'/>
											</div>
											<p class="success small mt-1">※ 이미지 업로드시에는 배경이 투명한 이미지를 사용해주세요.</p>
											<input type="file" class="form-control" title="" value="" name="imageFile" id="imageFile" accept="image/*" onchange="checkFile(this)"/>
										</td>
										<td th:unless="${#lists.isEmpty(vo)}">
											<div class="col-3" style="background:gray">
												<img id="waterImg" class="w-100" th:src="@{${vo.imgWebPath} + '/' + ${vo.imgServerFileName}}" alt=""/>
											</div>
											<p class="success small mt-1">※ 이미지 업로드시에는 배경이 투명한 이미지를 사용해주세요.</p>
											<input type="file" class="form-control" title="" value="" name="imageFile" id="imageFile" accept="image/*" onchange="checkFile(this)"/>
										</td>
									</tr>
									<tr>
										<th>적용위치</th>
										<td>
											<select name="position" id="chkPosition" title="" class="form-control d-inline col-2">
												<option value="" selected="selected">선택하세요.</option>
												<option value="1">좌측 상단</option>
												<option value="2">우측 상단</option>
												<option value="3">우측 하단</option>
												<option value="4">좌측 하단</option>
											</select>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!--// 테이블 -->
						</form>
						<div class="text-right mt-1">
							<button type="button" class="btn btn-success px-2" onclick="saveWatermark();">적용</button>
						</div>


					</div>
				</div>
			</div>
		</div>
		<!--// 사용자 목록 -->
	</div>
</div>
<!--// 컨텐츠 본문 영역 -->
</div>
</div>
<!--// 컨텐츠 영역 -->
<div th:replace="inc/_footer"></div>