<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="inc/_header"></div>

<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	$(document).ready(function() {
		$(".lnb_4").addClass("open");
		$(".lnb_4_3").addClass("active");
		
		//체크박스
		$("#checkAll").click(function() {
			if($("#checkAll").prop("checked")) {
				$("input[name=checkBox]").prop("checked", true);
			} else {
				$("input[name=checkBox]").prop("checked", false);
			}
		});
	});
	
	function goList(num) {
		$("#currentPage").val(num);

		var f = document.theForm;
	
		console.log($("#currentPage").val())
		f.action = /*[[ @{/system/setConnectIpList.do} ]]*/ '/system/setConnectIpList.do';
		f.method = "post";
		f.submit();
	}

	function modifyIp(lscIp, lscDesc, lscSeq) {

		$("#modifyConnectIp").val(lscIp).text();
		$("#modifyIpDesc").val(lscDesc).text();
		$("#modifyLscSeq").val(lscSeq).text();
		
	}
	
	function delIp(){
		
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		
		var chkCnt = 0;
		var chkArr = new Array();
		
		$("input[name=checkBox]").each(function() {
			if(this.checked) {
				chkCnt++;
				chkArr.push($(this).val());
			}
		});
		
		if(chkCnt < 1) {
			alert("선택된 데이터가 없습니다.");
			return;
		}
		
		
		if(!confirm("삭제하시겠습니까?")) {
			return;
		}
		
		$.ajax({
			beforeSend : function(xhr) {   //데이터를 전송하기 전에 헤더에 csrf값을 설정한다
			    xhr.setRequestHeader(header, token);},
			url : /*[[ @{/system/delConnectIp.do} ]]*/ '/system/delConnectIp.do',
			type : "POST",
			traditional : true,
			data : {"lscIps" :  chkArr.join()},
			dataType : 'text',
			success : function(type) {
				if(type == "SUCCESS") {
					alert("정상적으로 삭제되었습니다.");
				} else {
					alert("삭제 처리 중 오류가 발생하였습니다.");
				}
			},
			error : function (e) {
				alert("시스템 에러가 발생하였습니다. 관리자에게 문의하세요.");
			},
			complete : function() {
				location.reload();
			}
		});
		
	}

	/*]]*/
</script>

<form id="theForm" name="theForm" method="post">
	<input type="hidden" id="blockCount" name="blockCount" th:value="${dto.blockCount}" /> 
	<input type="hidden" id="currentPage" name="currentPage" th:value="${dto.currentPage}" />
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

	<!-- 컨텐츠 영역 -->
	<div class="app-content content">
		<div class="content-wrapper">
			<!-- 컨텐츠:헤더-페이지명,네비게이터 -->
			<div class="content-header row">
				<div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
					<h3 class="content-header-title mb-0 d-inline-block">접속 IP관리</h3>
					<div class="row breadcrumbs-top d-inline-block">
						<div class="breadcrumb-wrapper col-12">
							<ol class="breadcrumb">
								<li class="breadcrumb-item">Home</li>
								<li class="breadcrumb-item">시스템관리</li>
								<li class="breadcrumb-item active">접속 IP관리</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
			<!--// 컨텐츠:헤더-페이지명,네비게이터 -->
			<!-- 컨텐츠:본문 영역 -->
			<div class="content-body">
				<!-- 디스크립션 -->
				<div class="bs-callout-success mb-2">
					<div class="media align-items-stretch">
						<div class="media-left d-flex align-items-center bg-gray p-2">
							<i class="ft-check-square white font-medium-5"></i>
						</div>
						<div class="media-body p-1">
							<ul class="list-left list-disc mb-0">
								<li>접속 허용 가능한 IP를 등록하는 페이지 입니다.</li>
								<li>허용 IP를 등록하지 않을 경우 모든 IP에 대해 접근허용이 됩니다.</li>
							</ul>
						</div>
					</div>
				</div>
				<!--// 디스크립션 -->
				<div class="row">
					<div class="col-sm-12">
						<div class="card ">
							<div class="card-header">
								<h4 class="card-title">접속허용 IP목록</h4>
								<div class="heading-elements"></div>
							</div>
							<div class="card-content">
								<div class="card-body">
									<!-- 버튼영역 -->
									<div class="position-relative ">
										<div class="d-inline">
											<button type="button" class="btn btn-primary btn-sm"
												data-toggle="modal" data-target="#addIp">
												<i class="ft-monitor"></i> IP 등록
											</button>
											<button type="button" class="btn btn-secondary btn-sm " onclick="delIp()">삭제</button>
										</div>
										<div class="position-absolute no-edge-top no-edge-right"></div>
									</div>
									<!--// 버튼영역 -->

									<div class="w-100 table-responsive view-poll even-line mt-Half">
										<table cellpadding="0" cellspacing="0"
											class="table table-design-cust text-center  mb-0" summary="">
											<colgroup>
												<col width="5%" />
												<col width="5%" />
												<col width="30%" />
												<col width="30%" />
												<col width="30%" />
											</colgroup>
											<thead>
												<tr>
													<th scope="row">
														<div class="form-check abc-checkbox">
															<input type="checkbox" class="form-check-input" name="checkAll" id="checkAll"> 
															<label class="form-check-label" for="checkAll"></label>
														</div>
													</th>
													<th>No</th>
													<th>등록IP</th>
													<th>등록일시</th>
													<th>IP설명</th>
												</tr>
											</thead>
											<tbody>
												<tr th:if="${#lists.isEmpty(dto.connectIpList)}">
													<td colspan="5" class="height-370 border-bottom border-light-gray py-4">
														등록된접속 허용 IP가 없습니다.
													</td>
												</tr>
												<tr th:unless="${#lists.isEmpty(dto.connectIpList)}"
													th:each="item : ${dto.connectIpList}">
													<td>
														<div class="form-check abc-checkbox">
															<input type="checkbox" class="form-check-input" name="checkBox" th:id="'checkbox'+${itemStat.index}" th:value="${item.lscIp}" aria-label="Single checkbox 01">
															<label class="form-check-label" th:for="'checkbox'+${itemStat.index}"></label>
														</div>
													</td>
													<td
														th:text="${dto.totalCount - (dto.blockCount * (dto.currentPage - 1) + itemStat.index)}"></td>
													<td th:id="${item.lscIp}"><a href="#" th:onclick="modifyIp([[ ${item.lscIp}]],[[${item.lscDesc}]],[[${item.lscSeq}]])"
														data-toggle="modal" data-target="#modifyIp">[[${item.lscIp}]]</a></td>
													<td th:text="${item.lscRegDate}"></td>
													<td th:if="${item.lscDesc == ''}">-</td>
													<td th:unless="${item.lscDesc == ''}"><a
														th:text="${item.lscDesc}" id="lscDesc"></a></td>
												</tr>
											</tbody>
										</table>
									</div>
									<!-- 페이징 -->
									<div th:utext="${dto.pagingHtml}"></div>
									<!-- //페이징 -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--// 컨텐츠 본문 영역 -->
		</div>
	</div>
	<!--// 컨텐츠 영역 -->
</form>
<div th:replace="inc/_footer"></div>


<!-- 팝업인클루드 -->
<div th:replace="popup/addIp"></div>
<div th:replace="popup/modifyIp"></div>
<!--// 팝업인클루드 -->