<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:replace="inc/_header"></div>

<script type="text/javascript" th:inline = "javascript">
/*<![CDATA[*/
function goList(){
	location.href = /*[[ @{/vod/vodList.do} ]]*/ '/vod/vodList.do';
}
/*]]*/
</script>

<!-- 컨텐츠 영역 -->
<div class="app-content content">
<div class="content-wrapper">
<!-- 컨텐츠:헤더-페이지명,네비게이터 -->
<div class="content-header row">
	<div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
		<h3 class="content-header-title mb-0 d-inline-block">동영상 등록</h3>
		<div class="row breadcrumbs-top d-inline-block">
			<div class="breadcrumb-wrapper col-12">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">Home</li>
					<li class="breadcrumb-item">VOD 관리</li>
					<li class="breadcrumb-item active">동영상 등록</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<!--// 컨텐츠:헤더-페이지명,네비게이터 -->
<!-- 컨텐츠:본문 영역 -->
<div class="content-body">
	<div class="row ">
		<!-- 동영상view영역 -->
		<div class="col-sm-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">동영상 등록</h4>
				</div>				
				<div class="card-content">
					<div class="card-body">
						<div class="regist-form">
							<table cellpadding="0" cellspacing="0" class="w-100" summary="" >
								<colgroup>
									<col width="16%"/><col width="84%"/>
								</colgroup>
								<tbody>
									<tr>
										<th scope="">카테고리</th>
										<td>
											<div class="input-group w-50">
												<input type="text" class="form-control" title="" value="" name=""/>
												<div class="input-group-append">
													<button type="button" class="btn btn-outline-info"  data-toggle="modal" data-target="#callCategory">카테고리선택</button>
												</div>
											</div>
										</td>
									</tr>
									<tr>
										<th>제목</th>
										<td><input type="text" class="form-control" title="" value="" name="" placeholder="제목을 입력하세요"/></td>
									</tr>
									<tr>
										<th>동영상파일</th>
										<td>
											<input type="file" class="w-100" title="" value="" name=""/>
											<small class="small success">※ 첨부파일 용량제한: 1.0E9 MB / 재생시간제한: 2000000초</small>
										</td>
									</tr>
									<tr>
										<th>음향조정</th>
										<td>
											<select name="" title="" class="form-control col-xl-2 col-lg-2 col-md-3">
												<option value="" selected="selected">선택하세요.</option>
												<option value="">50%</option>
												<option value="">100%</option>
												<option value="">150%</option>
												<option value="">200%</option>
												<option value="">250%</option>
												<option value="">300%</option>
											</select>
										</td>
									</tr>
									<tr>
										<th>밝기조정</th>
										<td>
											<select name="" title="" class="form-control round-append col-xl-2 col-lg-2 col-md-3">
												<option value="" selected="selected">선택하세요.</option>
												<option value="">-50%</option>
												<option value="">-40%</option>
												<option value="">-30%</option>
												<option value="">-20%</option>
												<option value="">-10%</option>
												<option value="">0%</option>
												<option value="">10%</option>
												<option value="">20%</option>
												<option value="">30%</option>
												<option value="">40%</option>
												<option value="">50%</option>
											</select>
										</td>
									</tr>
									<tr>
										<th>설명</th>
										<td><textarea name="" cols="" rows="7" title="" class="form-control">설명을 입력하세요</textarea></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- 버튼영역 -->
				<div class="card-footer">
					<div class="mr-auto float-right">					
						<button type="button" class="btn btn-success px-2" onclick="window.open('encoding-movieModify.jsp','_self');">등록</button>
						<button type="button" class="btn btn-secondary px-2" onclick="goList()">취소</button>
					</div>
				</div>
				<!--// 버튼영역 -->
			</div>
		</div>
		<!--// 동영상view영역 -->
	</div>

	

	</div>
</div>
<!--// 컨텐츠 본문 영역 -->
</div>
</div>
<!--// 컨텐츠 영역 -->
<div th:replace="inc/_footer"></div>

<!-- 팝업인크루드 -->
<div th:replace="popup/callCategory"></div>
<!--// 팝업인크루드 -->