<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<!-- <meta http-equiv="Pragma" content="no-cache"/>
	<meta http-equiv="Cache-Control" content="no-cache"/> -->
	<meta charset="utf-8" http-equiv="x-ua-compatible" content="ie=edge,chrome=1" />
			
	<title></title>
	
	<script>
	function getContextPath() {
		
		var isUseable = false;
		var path = "";
		if(isUseable) {
			var hostIndex = location.href.indexOf( location.host ) + location.host.length;
			path = location.href.substring( hostIndex, location.href.indexOf('/', hostIndex + 1) );
		}
		
		return path;
	};
	</script>

	<!-- style -->
	<style>
		#video-contaier {width:100%; height:100%;}
		#html5video     {width:100%; height:100%;}
		.indexControl   {z-index: 10;}
	</style>
	
	<style>
		.vjs-fullscreen-control { 
		    display: none; 
		} 
		
		.vjs-default-skin .vjs-volume-control { 
		    margin-right: 20px; 
		}
		
	</style>

</head>

<body oncontextmenu="return false" ondragstart="return false" style="margin:0px;" onselectstart="return false" >
	<form id="vodList" name="theForm" onsubmit="return false;" method="post" theme="css_xhtml">
		<input type="hidden" name="mediaId" value="${statmap.mediaId}" />
		<input type="hidden" name="userId" value="${userId}" />
		<input type="hidden" name="conSeq" />
		<input type="hidden" name="firstPlay" />
		<input type="hidden" name="playTime" />
		<input type="hidden" name="duration" />

		<!-- 동영상 인코딩 성공/완료 -->
		<th:block th:if="${#strings.equals(vo.vodStatus, '1')}">
			<div id="video-contaier">
				<video id="videoPlayer" width="100%" height="430px" preload="none" >
				
				<!-- //적응형 O -->
				<th:block th:if="${#strings.equals(vo.adaptiveYn, 'Y')}">
					<th:block th:if="${#strings.equals(vo.adaptiveType, 'advance')}">
						<source th:src="@{${vo.vodStreamUrl} +'/'+ ${vo.encodingFilePath} + ${vo.vodSeq} +'/_media_,1920x1080,1280x720,640x360,.mp4.urlset/master.m3u8'}" type="video/mp4" size="480"/>
					</th:block>
					<th:block th:if="${#strings.equals(vo.adaptiveType, 'basic')}">
						<source th:src="@{${vo.vodStreamUrl} +'/'+ ${vo.encodingFilePath} + ${vo.vodSeq} +'/_media_,1920x1080,1280x720,.mp4.urlset/master.m3u8'}" type="video/mp4" size="480"/>
					</th:block>
				</th:block>
				
				<!-- //적응형 X -->
				<th:block th:if="${#strings.equals(vo.adaptiveYn, 'N')}">
	 				<source th:src="@{${vo.vodStreamUrl} +'/'+ ${vo.encodingFilePath} + ${vo.encodingFileName} +'/index.m3u8'}" type="video/mp4" size="480"/>
				</th:block>
				
				</video>
			</div>
		</th:block>
		
		<!-- 동영상 인코딩 대기 -->
		<th:block th:if="${#strings.equals(vo.vodStatus, '0')}">
			<div class="no-live">
				<div class="no-live-content">
					<i class="ft-alert-circle d-block"></i><span>동영상 인코딩 대기중입니다.</span>
				</div>
			</div>
		</th:block>
		
		<!-- 동영상 인코딩 실패 -->
		<th:block th:if="${#strings.equals(vo.vodStatus, '4')}">
			<div class="no-live">
				<div class="no-live-content">
					<i class="ft-alert-triangle d-block"></i><span>동영상 인코딩 실패</span>
				</div>
			</div>
		</th:block>
		
		
		<!-- 동영상 인코딩 중일 경우 -->
		<th:block th:if="${#strings.equals(vo.vodStatus, '3')}">
			<div id="video-ing" style="text-align:center;">
				<img th:src="@{/app-assets/images/player/encoding_1030x601.gif}" alt="동영상 변환중" width="100%" height="100%"/>
			</div>
		</th:block>
		<!-- 동영상 인코딩 중일 경우 -->
	</form>
</body>
</html>

<!-- Plyr Player -->
<link rel="stylesheet" type="text/css" th:href="@{/player/plyr/plyr.css}" />
<script th:src="@{/player/tgplayer/plugin/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/player/tgplayer/plugin/js/jquery-ui.min.js}"></script>
<!-- <script th:src="@{/player/plyr/hls.js}"></script> -->
<!-- <script th:src="@{/player/plyr/plyr.js}"></script> -->
<script th:src="@{/player/tgplayer/plugin/js/hls/tg_hls.js}"></script>
<script th:src="@{/player/tgplayer/plugin/js/tg_player.js}"></script>
<script th:src="@{/player/plyr/plyr.polyfilled.js}"></script>
<!-- Plyr Player -->

<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
// var imgUrl = watermark.imgWebPath+ "/" + watermark.imgServerFileName;
var watermark = /*[[${watermarkVo} ]]*/ '';
var videoPreview = /*[[ ${vo.thumbFilePath} + ${vo.vodSeq}+'_media_high_preview.vtt' ]]*/ '';

var player;
var video = document.querySelector("#videoPlayer");
var source = video.getElementsByTagName('source');
var sourceUrl = source[0].src;

var autoQualInt = 1;
var isIE = /Netscape|trident|msie/i.test(navigator.userAgent) ? true: false;
var hls = []; var i = 0;

$(function(){
	
	//player 설정
	var playerOptions = {
			  playsinline: true
	        , loop: { active: false }
	        , tooltips: { controls: true, seek: true }      
	        , captions: { active: true, update: true}
	    	, speed: { selected: 1, options: [0.8, 1, 1.2, 1.4, 1.6] }
	    	, controls: [ 'play-large', 'restart', 'play', 'progress', 'current-time', 'duration', 'mute', 'volume', 'settings', 'fullscreen']	
	    	, invertTime : false
	        , listeners: {
	        	seek: function customSeekBehavior(e) {
					var currentTime = player.currentTime;
					var newTime = _getTargetTime(player, e);
						player.currentTime = newTime;
	        	}
	        }
	        , previewThumbnails: { 
	        	  enabled: true
	        	, src: videoPreview }
	        , i18n: {
	            qualityBadge: { 2160: '4K', 1440: 'FHD', 1080: 'FHD', 720: 'HD', 640: 'SD', 576: 'SD', 480: 'SD', 360: 'SD', 320: 'SD', 240 : 'SD' , 1 : "auto" }
	        }
	        , ratio:"16:9"
	        , fullscreen : { enabled: true, fallback: true, iosNative: false, container: null }
			
	};
	
	
	//HLS 적응형 비트레이트 적용 --------------------------------------
	var hls = new Hls();
	hls.loadSource(sourceUrl);
	
	hls.on(Hls.Events.ERROR, function (event, data) {
		  if (data.fatal) {
		    switch (data.type) {
		      case Hls.ErrorTypes.NETWORK_ERROR:
		        // try to recover network error
		        console.log('fatal network error encountered, try to recover');
		        hls.startLoad();
		        break;
		      case Hls.ErrorTypes.MEDIA_ERROR:
		        console.log('fatal media error encountered, try to recover');
		        hls.recoverMediaError();
		        break;
		      default:
		        // cannot recover
		        hls.destroy();
		        break;
		    }
		  }
	});
	
	hls.on(Hls.Events.MANIFEST_PARSED,function(event,data) {
    	var avalQualList = [];
		var sourceList = [];	
		
		// 자동 품질 선택 메뉴 추가
		avalQualList.push(autoQualInt);
		var _sourceObj = {};
		_sourceObj.src = new Array(sourceUrl);
		_sourceObj.size = autoQualInt;
		_sourceObj.type = 'video/mp4';
		sourceList.push(_sourceObj);

    	hls.levels.map(function(v){
			avalQualList.push(v.height);
			var sourceObj = {};
			sourceObj.src = v.url;
			sourceObj.size = v.height;
			sourceObj.type = 'video/mp4';
			sourceList.push(sourceObj);
    	});

		/* playerOptions.quality = {
			default : avalQualList[0],
			options : avalQualList,
			forced : true,
    	} */
		
    	player = new Plyr("#videoPlayer", playerOptions);
		
    	player.source = {
        		  type: 'video'
        	    , title: 'TigenSoft html5 video player' 
        		, sources: sourceList
        		, tracks: null
        };
    	
		player.on('qualitychange',function(e){
			// 품질변경시, 현재시간은 가져올수 없기 때문에, innerText로 직접 가져와 초 단위로 처리.
			if(isIE) {
				var txtArray = e.target.innerText.replace(/^\s+|\s+$/gm,'\n').split("\n").filter(function(item){
					return item !== null && item !== undefined && item !== '';
				});
// 				console.log(txtArray[3]);
				ChangeTime = TimeValid(txtArray[3]);	
			} else {
// 				console.log(e.target.innerText.split("\n")[2]);
				ChangeTime = TimeValid(e.target.innerText.split("\n")[2]);							
			}

			var newQuality = e.detail.quality;
			var _lvlIndex = 0;
			window.hls.levels.forEach(function(level, levelIndex){
				if (level.height == newQuality) {
				_lvlIndex = levelIndex + 1;
				window.hls.currentLevel = levelIndex;
				}
			})
			loadHLS($('source')[_lvlIndex].src);
		});
		  	        
		initialPlayer(player);

    });
	
	hls.attachMedia(video);
	window.hls = hls;
	
});


function initialPlayer(tgplayer){

	player.on('pause', function(event) {
		$('#currentTime').val(player.currentTime);
	});
	  
	player.on('enterfullscreen', function(event) { 
		$('.plyr__video-wrapper').attr("style","");
	});
  

  var loadFirst = true;
  player.on("loadeddata", function() {
	  video = document.querySelector("video");
	  
	  if(loadFirst){
		  loadHLS(sourceUrl);
		  loadFirst = !loadFirst;
	  }
	
		//워터마크가 없는 경우에 오류 방지
		if(watermark != null) {
			var imgUrl = watermark.imgWebPath+ "/" + watermark.imgServerFileName;
		}
		  
		//워터마크 데이터가 존재하고 워터마크 사용여부가 Y인 경우에만 워터마크 출력
		if(watermark != null && watermark.useYn == "Y") {
			if(watermark.position == '1') {
				$('.plyr__video-wrapper').append("<div class='watermark'><img src='"+imgUrl+"' style='position: absolute; margin:10px;top: 0; left: 0; display: inline; z-index: 1; opacity: 0.5; width: 10vw'/></div>");
			} else if(watermark.position == '2') {
				$('.plyr__video-wrapper').append("<div class='watermark'><img src='"+imgUrl+"' style='position: absolute; margin:10px;top: 0; right: 0; display: inline; z-index: 1; opacity: 0.5; width: 10vw'/></div>");
			} else if(watermark.position == '3') {
				$('.plyr__video-wrapper').append("<div class='watermark'><img src='"+imgUrl+"' style='position: absolute; margin:10px;bottom: 0; right: 0; display: inline; z-index: 1; opacity: 0.5; width: 10vw'/></div>");
			} else if(watermark.position == '4') {
				$('.plyr__video-wrapper').append("<div class='watermark'><img src='"+imgUrl+"' style='position: absolute; margin:10px;bottom: 0; left: 0; display: inline; z-index: 1; opacity: 0.5; width: 10vw'/></div>");
			}
		}
  });
  
  player.on('ratechange', function() {
	  playRateRtn(player.speed);
  });
  
  player.on("captionsenabled", function action(event) {
	  trackViewRtn(player.currentTrack);
  });
  
  player.on("captionsdisabled", function action(event) {
	  trackViewRtn(player.currentTrack);
  });
  
  //player.vr({projection: '360'});
  window.player = player;
  this.player = player;

}

function loadHLS(source) {
	hls[i] = new Hls(); 
	hls[i].loadSource(source);
	hls[i].attachMedia(video);
	// video.play();
	i++;
}

function TimeValid(st){
	var time = st.split(":");
	var resultTime = 0;
	if(time.length == 2){
		resultTime = (time[0] * 60) + (time[1] * 1);
	}else if(time.length == 3){
		resultTime = (time[0] * 60 * 60) + (time[1] * 60) + (time[2] * 1);
	}
	return resultTime;
}

function _getTargetTime(player, input) { //seek control
	if ( typeof input === "object" && (input.type === "input" || input.type === "change") ) {
		return input.target.value / input.target.max * player.media.duration;
	} else {
    	return Number(input);
	}
}

/*]]*/
</script>