<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:replace="inc/_header"></div>

<!-- 페이지 로딩 CSS -->
<link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/plugins/loaders/loaders.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/core/colors/palette-loader.css}">
<!--// 페이지 로딩 CSS -->

<style type="text/css">
	#files { display: none; }
</style>

<form name="videoUploadForm" id="videoUploadForm" method="post" enctype="multipart/form-data">
<input type="hidden" id="categorySeq" name="categorySeq" />
<input type="hidden" id="uploaderPort" name="uploaderPort" th:value="${dto.uploaderPort}"/>
<input type="hidden" id="vodLimitSize" name="vodLimitSize" th:value="${dto.vodLimitSize}" />

<input type="hidden" id="originalFileName" name="originalFileName" />
	
	<!-- 로딩 -->
	<div class="dim-cover">
		<div class="loader-wrapper">
			<div class="loader-container">
				<div class="ball-pulse-sync loader-white">
					<div></div>
					<div></div>
					<div></div>
				</div>
			</div>
			<div class="loader-text-container">
				<div class="loader-text"></div>
			</div>
		</div>
	</div>
	<!--// 로딩 -->

	<!-- 컨텐츠 영역 -->
	<div class="app-content content">
		<div class="content-wrapper">
			<!-- 컨텐츠:헤더-페이지명,네비게이터 -->
			<div class="content-header row">
				<div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
					<h3 class="content-header-title mb-0 d-inline-block">동영상 등록</h3>
					<div class="row breadcrumbs-top d-inline-block">
						<div class="breadcrumb-wrapper col-12">
							<ol class="breadcrumb">
								<li class="breadcrumb-item">Home</li>
								<li class="breadcrumb-item">VOD 관리</li>
								<li class="breadcrumb-item active">동영상 등록</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
			<!--// 컨텐츠:헤더-페이지명,네비게이터 -->
			
			<!-- 컨텐츠:본문 영역 -->
			<div class="content-body">
				<div class="row ">
					<!-- 동영상view영역 -->
					<div class="col-sm-12">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title">동영상 등록</h4>
							</div>				
							<div class="card-content">
								<div class="card-body">
									<div class="regist-form regist-form-vertical">
										<table cellpadding="0" cellspacing="0" class="w-100" summary="" >
											<colgroup>

												<col width="16%"/><col width="84%"/>
											</colgroup>
											<tbody>
												<tr>
													<th scope="">카테고리</th>
													<td>
														<div class="input-group ">
															<input type="text" class="form-control" id="fullCategoryName" name="fullCategoryName" readonly/>
															<input type="hidden" class="form-control" id="lbCategorySeq" name="lbCategorySeq"/>
															<div class="input-group-append">
																<button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#callCategory">카테고리 선택</button>
															</div>
														</div>
													</td>
												</tr>
												<tr>
													<th>제목</th>
													<td><input type="text" class="form-control" title="" value="" name="vodTitle" id="vodTitle" placeholder="제목을 입력하세요"/></td>
												</tr>
												<tr>
													<th>동영상 선택</th>
													<td>
														<div class="position-relative mb-Half">
<!-- 															<button type="button" class="btn btn-primary badge" onclick="addFileForm()">추가</button> -->
															<button type="button" class="btn btn-secondary badge" onclick="deleteFile();"> 삭제</button>
<!-- 															<button type="button" class="btn btn-secondary badge" onclick="deleteAllFile();"> 전체 삭제</button> -->
															
															<div class="position-absolute no-edge-top no-edge-right">
																<input type="file" id="files" name="files" onchange="addFile();" onclick="this.value=null;" accept="video/*, .mkv, .flv, .smi, .srt" />
															</div>
														</div>
														<div class="add-file  table-head">
															<table cellpadding="0" cellspacing="0" class="w-100">
																<colgroup>
																	<col width="5%"/><col width="75%"/><col width="20%"/>
																</colgroup>
																<thead>
																	<tr>
																		<th scope="">
																			<!-- <div class="d-inline-block form-check abc-checkbox abc-checkbox-info">
																				<input type="checkbox" class="custom-control-input" name="chkAll" id="chkAll"><label class="custom-control-label" for="chkAll"></label>
																			</div> -->
																		</th>
																		<th scope="">파일 명</th>
																		<th scope="">용량</th>
																	</tr>
																</thead>
															</table>
														</div>
														<div id="fileDropZone" class="add-file table-body">
															<table id="fileTable" cellpadding="0" cellspacing="0" class="w-100">
																<colgroup>
																	<col width="5%"/><col width="75%"/><col width="20%"/>
																</colgroup>
																<tbody>
																	<tr>
																		<td colspan="3" class="py-5 text-center">이곳을 더블 클릭 또는 파일을 드래그해서 넣어주세요.</td>
																	</tr>
																</tbody>
															</table>													
														</div>
														<div class="summary">
															<div class="summary-left">
																<b id="maxFileSize"></b>
															</div>
															<!-- 최대 <b>5</b>개 / <b>100MB</b>제한 -->
															<br />
															<div class="summary-right">
																<b id="fileTotalCnt">0</b>개 / <b id="fileTotalSize">0.0MB</b>
															</div>
														</div>
													</td>
												</tr>
												<tr>
													<th>프리셋선택</th>
													<td>
														<select name="vodPreset" id="vodPreset" class="form-control col-xl-2 col-lg-2 col-md-3">
										                	<option value='high'>고화질</option>
										                	<option value='mid'>중화질</option>
										                	<option value='low'>저화질</option>
														</select>
													</td>
												</tr>
												<tr>
													<th class="text-height">영상 다운로드 여부</th>
													<td>
														<div class="d-inline form-check abc-radio abc-radio-info">
															<input class="form-check-input" type="radio" name="vodDownYn" id="vodDownChkY" value="N">
															<label class="form-check-label" for="vodDownChkY">다운로드 불가</label>
														</div>
														<div class="d-inline form-check abc-radio abc-radio-info">
															<input class="form-check-input" type="radio" name="vodDownYn" id="vodDownChkN" value="Y" checked>
															<label class="form-check-label" for="vodDownChkN">인코딩 영상 다운로드</label>
														</div>
													</td>
												</tr>
												<tr>
													<th>설명</th>
													<td><textarea cols="" rows="7" name="vodDesc" id="vodDesc" class="form-control" placeholder="설명을 입력하세요"></textarea></td>
												</tr>
											</tbody>
										</table>
									</div>
									<!-- 버튼영역 -->
									<div class="card-footer text-right">
										<button type="button" class="btn btn-success px-2 " onclick="vodFileUpload();">등록</button>
										<button type="button" class="btn btn-secondary px-2" onclick="javascript:history.back();">취소</button>
									</div><!--// 버튼영역 -->
								</div>
							</div>
						</div>
					</div>
					<!--// 동영상view영역 -->
				</div>
		
			</div>
		</div> <!--// 컨텐츠 본문 영역 -->
	</div> <!--// 컨텐츠 영역 -->
</form>

<div th:replace="inc/_footer"></div>
<!-- 팝업인크루드 -->
<div th:replace="popup/uploadContents"></div>
<div th:replace="popup/callCategory"></div>
<!--// 팝업인크루드 -->

<script th:src="@{/uploader/js/jquery.form.js}"></script>
<script th:src="@{/uploader/js/tg1st_fileUpload_unpack.js}" type="text/javascript"></script>

<script type="text/javascript" lang="javascript">
/*<![CDATA[*/
$(document).ready(function(){
	$(".lnb_2").addClass("open").addClass("active");
	
	// 동영상 올릴 때 로딩 옵션
	$('.dim-cover').hide();
	$('.loader-wrapper').hide();
	
	refreshOrCloseWindow();
	fileDropDown();
});


function addFileForm(){
	e.preventDefault();
    $("#files").click();
}
	
/* 첨부 파일 크기 체크 */
function checkFile(obj) {
	var result = false;
	var agent = navigator.userAgent.toLowerCase();
	
	var maxSize = $("#vodLimitSize").val(); //(최대 5GB)
	var browser = navigator.appName;
	var fileSize = obj.size;
	
	if(fileSize <= maxSize) {
		result = true;
	}
	
	return result;
}
	
	
function vodFileUpload() {
	var f = document.videoUploadForm;
	
	$("#categorySeq").val($("#lbCategorySeq").val());
	
	// 카테고리 체크
	if ($.trim($("#categorySeq").val()) == "") {
		alert("카테고리를 선택해주세요.");
		$("#fullCategoryName").focus();
		return;
	}
	
	// 제목 입력 여부 체크
	if ($.trim($("#vodTitle").val()) == "") {
		alert("제목을 작성해주세요.");
		$("#vodTitle").focus();
		return ;
	}
	
	
	
	// 파일 유무 체크 후 업로드 
    if(fileArr.length > 0) {
		var uploaderProtocol = window.location.protocol;
		var hostName = location.hostname;
		 
		var url = uploaderProtocol + '//' + hostName + ':' + $("#uploaderPort").val();
			url += "/chunkUpload";
		
// 		url = uploaderProtocol + '//' + hostName + ':' + $("#uploaderPort").val() + "/uploader/chunkUpload";
			
		uploadContentsInit();
		
		$("#uploadContents").modal({backdrop: 'static'});
		$("#uploadContents").modal('show');
		
		tg1st_fileUpload(url, vodEncoding);
	} else {
		alert("동영상 파일을 첨부해주십시오.");
	} 
	
}
	
function vodEncoding() {
	return;
	
	var f = document.videoUploadForm;
	
	var registImg = $("#registImg").val();
	
	var formData = new FormData();
	
	formData.append("registData", $('form').serialize());
	formData.append("uploadFiles", JSON.stringify(uploadingResultArr));
	
	/*var registImgFileChk = f.registFile.value;
	
	if(registImg == "direct" && registImgFileChk) {
		var registImgFile = $("input[name=registFile]")[0].files[0];
		var registImgFileName = registImgFile.name;
		var registImgFileSize = registImgFile.size;
		
		formData.append("registImgFile", registImgFile);
		formData.append("registImgFileName", registImgFileName);
		formData.append("registImgFileSize", registImgFileSize);
	} */

	
	$(".loader-text").text("등록 처리중 입니다.");
	$('.dim-cover').show();
	$('.loader-wrapper').show();
	
	 $.ajax({
    	url: "${contextPath}/vod/vodEncoding.do",
    	cache: false,
        processData: false,
           contentType: false, 
    	data: formData,
    	type: 'POST',
    	complete: function(xhr, data) {
    		var result = xhr.responseText;
    		
    		if(result == "SUCCESS") {
    			alert("동영상 등록이 완료되었습니다.");
    			
    			location.href = "${contextPath}/vod/vodList.do?menuS=2&idx=2";
    		} else if(result == "FAIL") {
    			alert("동영상 등록에 실패했습니다.");
    		} else {
    			alert("동영상 등록 중 에러가 발생했습니다.");
    		}
    		
    		$('.dim-cover').hide();
    		$('.loader-wrapper').hide();
    	}
    }); 
}
	
/*]]*/
</script>
