<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="inc/_header"></div>

<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
	
var token = $("meta[name='_csrf']").attr("content");
var header = $("meta[name='_csrf_header']").attr("content");
	
	
$(document).ready(function(){
	
	$(".lnb_5").addClass("open"); 
	$(".lnb_5_2").addClass("active");
	
	changeSearchField(/*[[ ${dto.searchType} ]]*/);			
	$("#searchText").val( /*[[ ${dto.searchText} ]]*/ );
	
	if($("#searchStrDate").val() == ""){								
		$("#fullDate").val('');
	}else{
		$("#fullDate").val($('#searchStrDate').val() + " ~ " + $('#searchEndDate').val());	
	}
	
	
	$("#checkAll").click(function(){							    
		if($("#checkAll").prop("checked")){
			$("input[name=checkBox]").prop("checked", true);
		}else {
			$("input[name=checkBox]").prop("checked", false);
		}
	}); 

	
});

function goWrite(){
	window.location.href = /*[[ @{/userHome/noticeWriteForm.do} ]]*/ '/userHome/noticeWriteForm.do';
}

function goDetail(noticeSeq){
	var f = document.theForm;
	f.noticeSeq.value = noticeSeq;
	f.action = /*[[ @{/userHome/noticeDetail.do} ]]*/ '/userHome/noticeDetail.do';
	f.submit();
}


	
function goDelete(){
	var chkCnt = 0;
	var seqs = new Array();
	
	$("input[name=checkBox]").each(function(){
		if(this.checked){
			chkCnt++;
			seqs.push($(this).val());
		}
	});
	
	if(chkCnt < 1){
		alert("선택한 공지사항이 없습니다.");
		return;
	}
	
	if(!confirm("공지사항을 삭제하시겠습니까?")){
		return;
	}
	
	$.ajax({
		beforeSend : function(xhr) {
			xhr.setRequestHeader(header, token);
		},
		url: /*[[ @{/userHome/noticeDelete.do} ]]*/ '/userHome/noticeDelete.do',
        type: 'POST',
        traditional: true,
		data: { 
			delNoticeSeqs : seqs
		},
		success: function (rtn) {
			if (rtn) {
				alert("공지사항이 삭제되었습니다.");
				goList(1);
			} else {
				alert("공지사항 삭제를 실패했습니다.");
				return;
			}
		},
		error : function (e){
			alert("시스템 문제 발생으로 관리자에게 문의해주세요.");
		},
		complete : function() {
	       goList(1); 
	    }
		
	});
}
	
function goList(num){
	$("#searchText").val($("#searchText").val().trim());
	$("#currentPage").val(num);
	if($('#fullDate').val() != ''){
		var dateArr = $('#fullDate').val().split(" ~ ");
		
		$('#searchStrDate').val(dateArr[0]);
		$('#searchEndDate').val(dateArr[1]);
	}
	
	var f = document.theForm;
	f.currentPage.value = num;
	f.action = /*[[ @{/userHome/noticeList.do} ]]*/ '/userHome/noticeList.do';
	f.submit();
}


function goNoticeImp(){
	var chkCnt = 0;
	var noticeSeq = "";
	var mainNoticeYn = "";
	var mainNoticeCnt = 0;
	
	$("input[name=checkBox]").each(function(){
		if($(this).attr("mainyn") == "Y"){
			mainNoticeCnt++;
		}
		if(this.checked){
			chkCnt++;
			noticeSeq = $(this).val();
			mainNoticeYn = $(this).attr("mainyn");
		}
	});
	
	if(chkCnt != 1){
		alert("주요공지로 지정할 공지사항을 하나만 선택해주세요.");
		return;
	}
	
	if(mainNoticeCnt >= 3 ){
		alert("주요공지 지정 갯수를 초과하였습니다.\n주요공지는 3개까지 지정할 수 있습니다.");
		return;
	}

	if(mainNoticeYn == "Y"){
		alert("이미 주요공지로 지정되어있습니다.\n다른 공지를 선택하세요.");
		return;
	}
	
	$("#noticeSeq").val(noticeSeq);
	
	if(!confirm("주요공지로 지정하겠습니까?")){
		return;
	}
	
	$.ajax({
		beforeSend : function(xhr) {
			xhr.setRequestHeader(header, token);
		},
		url: /*[[ @{/userHome/noticeImp.do} ]]*/ '/userHome/noticeImp.do',
        type: 'POST',
        traditional: true,
		data: { 
			noticeSeq : noticeSeq
		},
		success: function (rtn) {
			if (rtn) {
				alert("주요공지로 지정되었습니다.");
				goList(1);
			} else {
				alert("주요공지 지정에 실패하였습니다.");
				return;
			}
		},
		error : function (e){
			alert("시스템 문제 발생으로 관리자에게 문의해주세요.");
		},
		complete : function() {
	       goList(1); 
	    }
		
	});
	
}

function goNoticeImpCancle(){

	var chkCnt = 0;
	var noticeSeq = "";
	var mainNoticeYn = "";
	
	$("input[name=checkBox]").each(function(){
		if(this.checked){
			chkCnt++;
			noticeSeq = $(this).val();
			mainNoticeYn = $(this).attr("mainyn");
		}
	});
	
	if(chkCnt != 1){
		alert("주요공지를 해제할 공지를 선택해주세요");
		return;
	}

	if(mainNoticeYn == "N"){
		alert("주요공지로 지정되어있지 않은 공지입니다.\n다른 공지를 선택해주세요.");
		return;
	}
	
	$("#noticeSeq").val(noticeSeq);
	
	if(!confirm("주요공지를 해제하시겠습니까")){
		return;
	}
	
	$.ajax({
		beforeSend : function(xhr) {
			xhr.setRequestHeader(header, token);
		},
		url: /*[[ @{/userHome/noticeImpCalcel.do} ]]*/ '/userHome/noticeImpCalcel.do',
        type: 'POST',
        traditional: true,
		data: { 
			noticeSeq : noticeSeq
		},
		success: function (rtn) {
			if (rtn) {
				alert("주요공지가 해제되었습니다.");
				goList(1);
			} else {
				alert("주요공지 해제에 실패하였습니다.");
				return;
			}
		},
		error : function (e){
			alert("시스템 문제 발생으로 관리자에게 문의해주세요.");
		},
		complete : function() {
	       goList(1); 
	    }
		
	});
	
}


function changeSearchField(type){
	if(type == ""){
		$("#searchType").val("");
		$("#searchField").text("검색어 전체");
	} else if (type == "NOTICE_TITLE"){
		$("#searchType").val("NOTICE_TITLE");
		$("#searchField").text("제목");
	} else if (type == "NOTICE_CTX_SRCH"){
		$("#searchType").val("NOTICE_CTX_SRCH");
		$("#searchField").text("내용");
	}
}

function goListReset(){
	changeSearchField("");
	$("#searchText").val("");
	$("#fullDate").val("");
	$('#searchStrDate').val("");
	$('#searchEndDate').val("");
	
	goList(1);
}
/*]]*/
</script>

<form id="theForm" name="theForm" method="post">
	<input type="hidden" th:name="${_csrf.parameterName}" 				th:value="${_csrf.token}"/>
	<input type="hidden" id="blockCount" 		name="blockCount" 		th:value="${dto.blockCount}" />
	<input type="hidden" id="currentPage"		name="currentPage" 		th:value="${dto.currentPage}" />
	<input type="hidden" id="searchStrDate" 	name="searchStrDate" 	th:value="${dto.searchStrDate}"/>
	<input type="hidden" id="searchEndDate" 	name="searchEndDate"	th:value="${dto.searchEndDate}"/>
	<input type="hidden" id="searchType" 		name="searchType" 		th:value="${dto.searchType}"/>
	<input type="hidden" id="noticeSeq" 		name="noticeSeq" 		/>
<!-- 컨텐츠 영역 -->
<div class="app-content content">
<div class="content-wrapper">
<!-- 컨텐츠:헤더-페이지명,네비게이터 -->
<div class="content-header row">
	<div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
		<h3 class="content-header-title mb-0 d-inline-block">공지사항</h3>
		<div class="row breadcrumbs-top d-inline-block">
			<div class="breadcrumb-wrapper col-12">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">Home</li>
					<li class="breadcrumb-item active">공지사항</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<!--// 컨텐츠:헤더-페이지명,네비게이터 -->
<!-- 컨텐츠:본문 영역 -->
<div class="content-body">
	<div class="row">
		<!-- 공지사항 목록 -->
		<div class="col-xl-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">공지사항 목록</h4>
 					<div class="heading-elements">
 						<button type="button" class="btn btn-secondary btn-sm" onclick="goListReset()" ><i class="fa fa-repeat"></i> 검색초기화</button>
 						<button type="button" class="btn btn-primary btn-sm " onclick="goList(1)"><i class="fa fa-search"></i> 검색</button>
 					</div>
				</div>
				<div class="card-content">
					<div class="card-body">
						<div class="search-area">
							<table cellpadding="0" cellspacing="0" class="w-100" summary="" >
								<colgroup>
									<col width="9%"/><col width="24.3%"/><col width="9%"/><col width="24.3%"/>
								</colgroup>
								<tbody>
									<tr>
										<th scope="col"> 
											<div class="position-relative">
												<button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" id="searchField">검색어 전체</button>
												<div class="dropdown-menu">
													<a class="dropdown-item" href="javascript:changeSearchField('')">검색어 전체</a>
													<a class="dropdown-item" href="javascript:changeSearchField('NOTICE_TITLE')">제목</a>
													<a class="dropdown-item" href="javascript:changeSearchField('NOTICE_CTX_SRCH')">내용</a>
												</div>
											</div>
										</th>
										<td><input type="text" class="form-control" title="" value="" name="searchText" id="searchText"/></td> 
										<th scope="col">작성일</th>
										<td colspan="" class="">
											<input id="picker_from" style="display:none;">
											<input id="picker_to" style="display:none;">
											<div class="input-group normal-child">
												<div class="input-group-prepend">
													<span class="input-group-text">
														<span class="fa fa-calendar-o"></span>
													</span>
												</div>
												<input type='text' class="form-control linkedCalendars pull-right round-append" name="fullDate" id="fullDate"/>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!--// 검색 -->
						<!-- 버튼영역 -->
						<div class="listTop-btnArea">
							<div class="d-inline">
								<button type="button" class="btn btn-primary btn-sm" onclick="goWrite()" ><i class="ft-edit"></i> 글쓰기</button>
								<button type="button" class="btn btn-info btn-sm"  onclick="goNoticeImp()">주요공지 지정</button>
								<button type="button" class="btn btn-secondary btn-sm" onclick="goNoticeImpCancle()">주요공지 해제</button>
								<button type="button" class="btn btn-secondary btn-sm" onclick="goDelete()">삭제</button>
							</div>
							<div class="position-absolute no-edge-top no-edge-right"></div>
						</div>
						<!--// 버튼영역 -->

						<div class="list-summary no-line-bottom mt-Half">
							<div class="list-count">
								전체 : <b>[[ ${dto.totalCount}]]</b>건 ([[ ${dto.currentPage} ]]/[[ ${dto.totalPage} ]]페이지)
							</div>
						</div>

						<!--  테이블 -->
						<div class="w-100 table-responsive">
							<table cellpadding="0" cellspacing="0" class="table table-design-cust text-center mb-0" summary="">
								<colgroup>
									<col width="5%"/><col width="7%"/><col width="64%"/><col width="12%"/><col width="12%"/>
								</colgroup>
								<thead>
									<tr>
										<th scope="row">
											<div class="form-check abc-checkbox">
												<input type="checkbox" class="form-check-input" name="checkAll" id="checkAll">
												<label class="form-check-label" for="checkAll"></label>
											</div>
										</th>
										<th scope="row">No</th>
										<th scope="row">제목</th>
										<th scope="row">작성일</th>
										<th scope="row">조회수</th>
									</tr>
								</thead>

								<tbody>
									<!-- list empty -->
									<tr th:if="${#lists.isEmpty(dto.noticeList)}">
										<td colspan="6" class="py-5 border-bottom border-light-gray ">공지사항이 없습니다.</td>
									</tr>
									
									<!-- list not empty -->
									<tr th:unless="${#lists.isEmpty(dto.noticeList)}" th:each="item : ${dto.noticeList}">
									
										<!-- 체크박스 -->
										<td>
											<div class="form-check abc-checkbox">
												<input type="checkbox" class="form-check-input" name="checkBox" th:id="'checkbox'+${itemStat.index}" th:value="${item.noticeSeq}" th:mainyn = "${item.mainNoticeYn}">
												<label class="form-check-label" th:for="'checkbox'+${itemStat.index}"></label>
											</div>
										</td>
										
										<!-- no -->
										<td class="major-notice" th:if="${#strings.equals(item.mainNoticeYn, 'Y')}">
											<i class="icon-volume-2"></i>
										</td>
										<td th:if="${#strings.equals(item.mainNoticeYn, 'N')}" th:text="${dto.totalCount - (dto.blockCount * (dto.currentPage - 1)+ itemStat.index)}"></td>
										<!-- 제목 -->
										<td th:if="${#strings.equals(item.mainNoticeYn, 'Y')}" class="text-left major-notice"><a th:onclick="goDetail([[ ${item.noticeSeq} ]])" th:utext="${item.noticeTitle}"></a></td>
										<td th:if="${#strings.equals(item.mainNoticeYn, 'N')}"class="text-left"><a th:onclick="goDetail([[ ${item.noticeSeq} ]])" th:utext="${item.noticeTitle}"></a></td>
										<td th:text="${item.regDate}"></td>
										<td th:text="${item.viewCnt}"></td>
									</tr>
				
								</tbody>
							</table>
						</div>
						<!--// 테이블 -->
						<!-- 페이징 -->
						<div th:utext="${dto.pagingHtml}">
						<!-- //페이징 -->

					</div>
				</div>
			</div>
		</div>
		<!--// 공지사항 목록 -->		
	</div>

</div>
<!--// 컨텐츠 본문 영역 -->
</div>
</div>
<!--// 컨텐츠 영역 -->
<div th:replace="inc/_footer"/>
<!-- 팝업인크루드 -->
<!-- <div th:replace="inc/_footer"/> -->
<!-- <%@ include file="../../../html/popup/selectMajor-notice.jsp"%> -->
<!--// 팝업인크루드 -->