<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="inc/_header"></div>
<!-- Editor CSS -->
<link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/editors/summernote.css}">
<!--// Editor CSS -->

<style>
.note-editable ul>li{list-style: disc;}
.note-editable ol>li{list-style: decimal;}
</style>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
	
var token = $("meta[name='_csrf']").attr("content");
var header = $("meta[name='_csrf_header']").attr("content");
	
$(document).ready(function(){
	$(".lnb_5").addClass("open"); 
	$(".lnb_5_2").addClass("active");
	
	var setting = {
		height   : 600,
		focus    : true,
		toolbar : toolbar,
		fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','맑은 고딕','궁서','굴림체','굴림','돋움체','바탕체'],
		fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72'],
		callbacks : {
			onImageUpload: function(files, editor, welEditable) {
				for(var i = files.length -1; i >= 0; i--) {
					uploadImage(files[i], this);
				}
			}
		}
	};
	$('#summernote').summernote(setting);
});

//에디터 이미치
function uploadImage(file, el) {
	var formData = new FormData();
	formData.append("imageFile", file);
	
	$.ajax({
		beforeSend : function(xhr) {
			xhr.setRequestHeader(header, token);
		},
		url: /*[[ @{/userHome/noticeEditImgUpload.do} ]]*/ '/userHome/noticeEditImgUpload.do',
		cache : false,
		contentType : false,
		processData : false,
		enctype: "multipart/form-data", 
		data : formData,
		type : "POST",
		success : function(data) {
			$(el).summernote("editor.insertImage", data);
			//$(".summernote").summernote("insertImage", data.url);
		},
		error: function (error) {
			if(error.status == 401) {
				location.href = "<%=request.getContextPath()%>/AuthError";
			}
		}
	}); //end ajax
}


//첨부파일 추가 등록
function addFileForm() {
	var len = $("#theForm").children("li").length;

	var html = "";
	html += "<li>";
	html += "	<div class=\"input-group align-items-center\">";
	html += "		<input type=\"file\" name=\"uploadFile\" class=\"form-control round-append\" onChange='javascript:attachVerify(this)' accept='.hwp,.doc,.docx,.xls,.xlsx,.ppt,.pptx,.gif,.jpg,.jpeg,.png' />";
	html += "		<button type=\"button\" class=\"btn btn-xsm btn-round btn-light ml-Half\" onclick=\"javascript:removeFileForm(this)\"><i class=\"fa fa-times font-small-2\"></i></button>";
	html += "	</div>";
	html += "</li>";

	$("#uploadFileForm").append(html);
}

//첨부파일 삭제
function removeFileForm(obj) {
	var obj = $(obj);

	obj.parent().parent().remove();
}

//청부파일 확장자 검증
function attachVerify(obj) {
	var usableFilefmt = ".gif, .jpg, .jpeg, .png, .hwp, .doc, .docx, .xls, .xlsx, .ppt, .pptx";

	var fileName      = obj.value;
	var fileLen       = obj.value.length;
	var lastDot       = obj.value.lastIndexOf('.');

	var filefmt       = fileName.substring(lastDot, fileLen).toLowerCase();
	var ext           = fileName.split('.');

	if (fileName == "") {
		//alert("파일을 등록해주세요.");
		return;
	} else if (ext.length == 1) {
		alert("유효하지 않은 파일입니다.");
		return;
	} else if (filefmt != null && filefmt != 'null' && filefmt != "") {

		if (usableFilefmt.indexOf(filefmt) == -1) {
			alert("[오류] 지원하지 않는 확장자입니다.");
			obj.value = "";
			return;
		}
	}
}

function goWrite(){
	
	if ($("#noticeTitle").val().trim() == "") {
		$("#noticeTitle").focus();
		alert("제목을 입력해주세요.")
		return;
	}
	
	var content = $("#summernote").summernote("code");

	if ($.trim(content.replace(/<\/?[^>]+(>|$)/g, "")) == "") {
		$("#summernote").focus();
		alert("내용을 입력해주세요.");
		return;
	}
	
	$("#noticeCtxSrch").val($.trim(content.replace(/<\/?[^>]+(>|$)/g, "")));
	$("#noticeCtx").val(content);
	$("#mainNoticeYn").val($('input[name="mainNoticeRadio"]:checked').val());
	
	var formData = new FormData($("#theForm")[0]);
	
	
 	$.ajax({
		beforeSend : function(xhr)
		{   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
			xhr.setRequestHeader(header, token);
		},
		url	   : /*[[ @{/userHome/noticeWrite.do} ]]*/ '/userHome/noticeWrite.do',
		data : formData,
        dataType : 'text',
        type : 'POST',
        enctype: "multipart/form-data", 
        processData: false,
        contentType: false,
		success: function (type) {
			if (type == "SUCCESS") {
				alert("공지사항이 등록되었습니다.");
				goList();
				
			} else if (type == "extError") {
				alert("지원하지 않는 첨부파일 확장자입니다.");
				return;
				
			} else if(type == "MAIN_NOTICE_CNT_OVER"){
				alert("주요 공지사항 가능 갯수(3개)를 초과하였습니다.\n※주요 공지사항으로 등록 불가");
				return;
			} else {
				alert("등록처리중에 오류가 발생하였습니다.");
				return;
			}
		},
		error : function (e){
			alert("시스템상 문제가 발생하였습니다. 관리자에게 문의하세요.");
		}
	});
	
}

function goList() {
	location.href = /*[[ @{/userHome/noticeList.do} ]]*/ '/userHome/noticeList.do';
}
/*]]*/
</script>

<form id="theForm" name="theForm" method="post">
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
	
	<input type="hidden" id="userId" 			name="userId"			th:value="${userId}">
	<input type="hidden" id="noticeCtx" 		name="noticeCtx" >
	<input type="hidden" id="noticeCtxSrch" 	name="noticeCtxSrch" >
	<input type="hidden" id="mainNoticeYn" 		name="mainNoticeYn" >
	
	<!-- 컨텐츠 영역 -->
	<div class="app-content content">
	<div class="content-wrapper">
	<!-- 컨텐츠:헤더-페이지명,네비게이터 -->
	<div class="content-header row">
		<div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
			<h3 class="content-header-title mb-0 d-inline-block">공지사항</h3>
			<div class="row breadcrumbs-top d-inline-block">
				<div class="breadcrumb-wrapper col-12">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">Home</li>
						<li class="breadcrumb-item active">공지사항</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<!--// 컨텐츠:헤더-페이지명,네비게이터 -->
	<!-- 컨텐츠:본문 영역 -->
	<div class="content-body">
		<div class="row">
			<!-- 공지사항 작성 -->
			<div class="col-xl-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">공지사항 작성</h4>
						<div class="heading-elements">
						</div>
					</div>
					<div class="card-content">
						<div class="card-body">
							<!--  입력폼 -->
							<div class="w-100 regist-form regist-form-vertical file-border">
								<table cellpadding="0" cellspacing="0" class="w-100 mb-Half" summary="">
									<colgroup>
										<col width="14%"/><col width="41%"/><col width="14%"/><col width="41%"/>
									</colgroup>
									<tbody>
										<tr>
											<th scope="row" class="">주요 공지사항</th>
											<td colspan="3" class="py-1">
												<div class="form-check abc-radio abc-radio-info d-inline">
													<input type="radio" class="form-radio-input" name="mainNoticeRadio" id="checkbox2-1" value="N" checked/>
													<label class="form-check-label" for="checkbox2-1">선택안함</label>
												</div>
												<div class="form-check abc-radio abc-radio-info d-inline ml-Half">
													<input type="radio" class="form-radio-input" name="mainNoticeRadio" id="checkbox2-2" value="Y">
													<label class="form-check-label" for="checkbox2-2">선택</label>
												</div>
											</td>
										</tr>
	
										<tr>
											<th scope="row" class="">제목</th>
											<td colspan="3" class=""><input type="text" class="form-control" name="noticeTitle" id="noticeTitle" placeholder="제목을 입력하세요"/></td>
										</tr>
										<tr>
											<td colspan="4" class="px-0 bg-white">
												<div class="summernote" id="summernote"></div>
											</td>
										</tr>
										<tr id="attachFileTr">
											<th scope="row" class="">첨부파일 <button type="button" class="btn btn-xsm btn-round btn-light ml-Half" onclick="addFileForm();"><i class="fa fa-plus font-small-2"></i></button></th>
											<td colspan="3" class="">
												<ul id="uploadFileForm" class="m-0 p-0 part-list-2">
													<li>
														<div class="input-group align-items-center">
															<input type="file" id="file" class="form-control round-append" name="uploadFile" 
																onChange="javascript:attachVerify(this)" accept=".hwp,.doc,.docx,.xls,.xlsx,.ppt,.pptx,.gif,.jpg,.jpeg,.png">
															<button type="button" class="btn btn-xsm btn-round btn-light ml-Half" onclick="removeFileForm(this);"><i class="fa fa-times font-small-2"></i></button>
														</div>
													</li>
												</ul>
											</td>
										</tr>
									</tbody>
								</table>
							</div>						
							<!--// 입력폼 -->
						</div>
					</div>
					<!-- 버튼영역 -->
					<div class="card-footer">
						<div class="mr-auto float-left"></div>
						<div class="mr-auto float-right">
							<button id="save" type="button" class="btn btn-success px-2" onclick="goWrite()">등록</button>
							<button id="edit" type="button" class="btn btn-info px-2 d-none">수정</button>
							<button type="button" class="btn btn-secondary px-2" onclick="javascript:history.back();">취소</button>
							<!-- ※ id="edit", id="save" 삭제할 경우 에디터가 안나옵니다.. -->
						</div>
					</div>
					<!--// 버튼영역 -->
				</div>
			</div>
			<!--// 공지사항 작성 -->		
		</div>
	
	</div>
	<!--// 컨텐츠 본문 영역 -->
	</div>
	</div>
	<!--// 컨텐츠 영역 -->
</form>


<div th:replace="inc/_footer"/>

<!-- Editor JS -->
<script th:src="@{/app-assets/vendors/js/editors/summernote/summernote.js}" type="text/javascript"></script>
<script th:src="@{/app-assets/js/scripts/editors/editor-summernote.js}" type="text/javascript"></script>
<!--// Editor JS -->