<html xmlns:th="http://www.thymeleaf.org">

<!-- Modal : 관리자 계정 등록 -->
<div class="modal fade text-left" id="addUser" tabindex="-1" 
	role="dialog" aria-labelledby="addUserLabel" aria-hidden="true">
	<form id="insertUserForm" name="insertUserForm" method="post">
	<div class="modal-dialog modal-md" role="document">
		<div class="modal-content">
			<div class="modal-header bg-info">
				<h4 class="modal-title white" id="addUserLabel">관리자 계정 등록</h4>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true" onclick="cancelInsertAdmin();">×</span>
				</button>
			</div>
			<div class="modal-body">
				<ul class="list-left list-disc">
					<li>항목 우측의 <span class="danger">*</span>표시는 필수 입력사항 입니다.
					</li>
				</ul>
				<h5>관리자 정보</h5>
				<div class="view-form view-form-vertical">
					<table cellpadding="0" cellspacing="0" class=" w-100" summary="">
						<colgroup>
							<col width="20%" />
							<col width="80%" />
						</colgroup>
						<tbody>
							<!-- <tr>
								<th>관리자 권한<span class="danger ml-Half">*</span></th>
								<td><select name="" title="" class="form-control">
										<option value="" selected="selected">선택하세요.</option>
										<option value="">관리자</option>
										<option value="">일반사용자</option>
								</select></td>
							</tr> -->
							<tr>
								<th>이름<span class="danger ml-Half">*</span></th>
								<td><input type="text" class="form-control" title=""
									value="" name="insertLuName" id="insertLuName" /></td>
							</tr>
							<tr>
								<th>아이디<span class="danger ml-Half">*</span></th>
								<td>
									<div class="input-group">
										<input type="text" class="form-control round-append" title=""
											value="" name="insertLuId" id="insertLuId" />
										<button type="button" class="btn btn-outline-info ml-Half"
											id="modify-modal" onclick="idDupCheck();">중복체크</button>
									</div> <!-- 
									<span class="small info">※ 사용가능한 아이디입니다.</span>
									<span class="small danger">※ 이미 사용중인 아이디입니다.</span>
									<p class="small danger mt-2">
										※ 개발시 참조 디스크립션<br/>
										위 2가지 예시 외에 추가적으로 발생하는 문제가 있을 경우 상태 메시지는 <br/>
										긍정적인 메시지 : &lt;span class="small info"&gt; / 부정적인 메시지 :  &lt;span class="small danger"&gt; 중 선택하여 <br/>
										적절하게 활용 부탁드립니다.<br/>
										이 디스크립션은 개발이 완료되면 삭제부탁드립니다^^ 감사합니다.
									</p> -->
								</td>
							</tr>
							<tr>
								<th>비밀번호<span class="danger ml-Half">*</span></th>
								<td><input type="password" class="form-control" title=""
									value="" name="insertLuPwd" id="insertLuPwd" /> <span class="small danger">※ 비밀번호는
										최소8~15이내, 숫자, 특수문자, 영문자를 포함하여 생성이 가능합니다.</span> <!-- 
									<p class="small danger mt-2">
										※ 개발시 참조 디스크립션<br/>
										[시스템관리 > 시스템설정 > 로그인비밀번호관리]에서 사용자가 선택한 생성규칙을 노출해주세요.<br/>
										이 디스크립션은 개발이 완료되면 삭제부탁드립니다^^ 감사합니다.
									</p>
									--></td>
							</tr>
							<tr>
								<th>비밀번호 확인<span class="danger ml-Half">*</span></th>
								<td><input type="password" class="form-control" title=""
									value="" name="insertLuPwdChk" id="insertLuPwdChk" /> <!--
									<span class="small info">※ 비밀번호가 일치합니다.</span>
									<span class="small danger">※ 비밀번호를 다시 한번 확인해주세요.</span> 
									--></td>
							</tr>
							<tr>
								<th>메뉴 권한<span class="danger ml-Half">*</span></th>
								<td>
									<select class="form-control" id="insertAuthSeq" name="insertAuthSeq">
										<option value="" selected="selected">권한을 선택해주세요</option>
										<th:block th:each="item : ${dto.authList}">
										<option th:value="${item.authSeq}">[[ ${item.authName} ]]</option>
										</th:block>
									</select>
								</td>
							</tr>
						</tbody>
					</table>
				</div>


			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-success"
					id="modify-modal" onclick="insertAdmin();">등록</button>
				<button type="button" class="btn btn-outline-secondary"
					data-dismiss="modal" onclick="cancelInsertAdmin();">취소</button>
			</div>
		</div>
	</div>
	</form>
</div>
<!--// Modal : 관리자 계정 등록 -->

<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");
		
	var idCheck = false;
	function idDupCheck() {
		idCheck = false;
		var luId = $("#insertLuId").val();
		var chkId = /^[a-z]+[a-z0-9]{3,19}$/g;
		
		if(luId == null || luId == "") {
			alert("아이디를 입력해주세요.");
		} else if(!chkId.test(luId)) {
			alert("아이디는 영문과 숫자만 사용 가능합니다.");
		} else {
			$.ajax({
				beforeSend : function(xhr) {
					xhr.setRequestHeader(header, token);
				},
				url : /*[[ @{/system/idDupCheck.do} ]]*/ '/system/idDupCheck.do',
				type : "POST",
				traditional : true,
				dataType : 'text',
				data : {"luId" : luId},
				success : function(result) {
					if(result == "SUCCESS") {
						alert("사용 가능한 아이디입니다.");
						idCheck = true;
					} else if(result == "DUPLICATION") {
						alert("이미 사용중인 아이디입니다.");
					} else {
						alert("시스템 에러가 발생했습니다. 관리자에게 문의하세요.");
					}
				}
			});
		}
	}
	
	//비밀번호 암호화
	function validateEncryptedForm() {
		var userPw = $.trim($("#insertLuPwd").val());
		
		try {
			var rsaPublicKeyModules = $("#rsaPublicKeyModules").val();

			var rsaPublicKeyExponent = $("#rsaPublicKeyExponent").val();
			
			submitEncrytedForm(userPw, rsaPublicKeyModules,
					rsaPublicKeyExponent);
		} catch (err) {
			alert(err);
			return false;
		}
		return true;
	}
	
	function submitEncrytedForm(userPw, rsaPublicKeyModules,
			rsaPublicKeyExponent) {
		var rsa = new RSAKey();
		
		rsa.setPublic(rsaPublicKeyModules, rsaPublicKeyExponent);
		
		$("#insertLuPwd").val(rsa.encrypt(userPw));
		
		rsaPassword();
	}
	
	function insertAdmin() {
		var pwChk = /^(?=.*[a-zA-z])(?=.*[0-9])(?=.*[$`~!@$!%*#^?&\\(\\)\-_=+]).{8,15}$/;
		var maxLen = 15;
		
		if($.trim($("#insertLuName").val()) == "" || $.trim($("#insertLuName").val()) == null) {
			alert("이름을 입력해주세요.");
			$("#insertLuName").focus();
			return;
		} else if($.trim($("#insertLuId").val()) == "" || $.trim($("#insertLuId").val()) == null) {
			alert("아이디를 입력해주세요.");
			$("#insertLuId").focus();
			return;
		} else if($.trim($("#insertLuId").val()) != "" && !idCheck) {
			alert("아이디 중복체크를 해주세요.");
			$("#insertLuId").focus();
			return;
		} else if($.trim($("#insertLuPwd").val()) == "" || $.trim($("#insertLuPwd").val()) == null) {
			alert("비밀번호를 입력해주세요.");
			$("#insertLuPwd").focus();
			return;
		} else if(!pwChk.test($.trim($("#insertLuPwd").val()))) {
			alert("비밀번호 입력 규칙을 확인해주세요.");
			$("#insertLuPwd").focus();
			return;
		} else if($.trim($("#insertLuPwdChk").val()) == "" || $.trim($("#insertLuPwdChk").val()) == null) {
			alert("비밀번호 확인 칸에 비밀번호를 입력해주세요.");
			$("#insertLuPwdChk").focus();
			return;
		} else if($.trim($("#insertLuPwd").val()) != $.trim($("#insertLuPwdChk").val())) {
			alert("비밀번호가 일치하지 않습니다.");
			return;
		} else if($("#insertAuthSeq").val() == null || $("#insertAuthSeq").val() == ""){
			alert("메뉴 권한을 선택해주세요.");
			return;
		}
		
		if(!validateEncryptedForm()) return;
		
	}
	
	function rsaPassword() {
		var jsonData = {
				"luId" : $("#insertLuId").val(),
				"luName" : $("#insertLuName").val(),
				"luPwd" : $("#insertLuPwd").val(),
				"authSeq" : $("#insertAuthSeq").val()
		};
		
		$.ajax({
			beforeSend : function(xhr) {
				xhr.setRequestHeader(header, token);
			},
			url : /*[[ @{/system/insertAdmin.do} ]]*/ '/system/insertAdmin.do',
			data : jsonData,
			type : "POST",
			dataType : 'text',
			success : function(type) {
				if(type == "SUCCESS") {
					alert("관리자 등록이 완료되었습니다.");
				} else {
					alert("사용자 등록에 실패했습니다.");
				}
			},
			error : function(e) {
				alert("시스템 에러가 발생하였습니다. 관리자에게 문의하세요.");
			},
			complete : function() {
				goList(1);
			}
		});
		
	}
	
	//취소 버튼 누른 후 모든 데이터 초기화
	function cancelInsertAdmin() {
		$("#insertLuId").val("");
		$("#insertLuName").val("");
		$("#insertLuPwd").val("");
		$("#insertLuPwdChk").val("");
		
		idCheck = false;
		
	}
	
	$("#insertLuPwd").on('keyup', function() {
		if($(this).val().length > 15) {
			$(this).val($(this).val().substring(0, 15));
			alert("비밀번호는 15자를 초과할 수 없습니다.");
		}
	});
	/*]]*/
</script>