<html xmlns:th="http://www.thymeleaf.org">

<!-- Modal : IP 추가 -->
<div class="modal fade text-left" id="addIp" tabindex="-1" role="dialog"
	aria-labelledby="addIpLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header bg-info">
				<h4 class="modal-title white" id="addIpLabel">허용IP 등록</h4>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<ul class="list-left list-disc mb-1">
					<li>전체 IP 입력시 해당 IP만 접근 가능 (예: 256.256.0.1)</span></li>
					<li>특정 네트워크 대역 모두 접근 가능 (예: 256.256.*.*)</li>
				</ul>

				<div class="view-form view-form-vertical">
					<table cellpadding="0" cellspacing="0" class=" w-100" summary="">
						<colgroup>
							<col width="20%" />
							<col width="80%" />
						</colgroup>
						<tbody>
							<tr>
								<th>허용 IP</th>
								<td><input type='text' class="form-control" title=""
									value="" name="connectIp"  id="connectIp" placeholder="IP를 입력하세요." /></td>
							</tr>
							<tr>
								<th>IP 설명</th>
								<td><input type="text" class="form-control" title=""
									value="" name="connectIpDesc" id="connectIpDesc" placeholder="IP 정보를 입력하세요." /></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-success"
					 onclick="insertIp()">등록</button>
				<button type="button" class="btn btn-outline-secondary"
					data-dismiss="modal">취소</button>
			</div>
		</div>
	</div>
</div>
<!--// Modal : IP 추가 -->

<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
	
	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");
	
	function insertIp(){
		
		if($.trim($("#connectIp").val()) == "" || $.trim($("#connectIp").val) == null){
			alert("허용 IP를 입력해주세요.");
			$("#connectIp").focus();
			return;
		}
		
		//'.' count 파악
		var regex = /[.]/g;
		var paragraph = $("#connectIp").val();
		var count = paragraph.match(regex).length;
		
		//'.' count 3개 > *.*.*.* 형식일 때 
		if(count == 3){
			
			var jsonData = {
					"lscIp" : $("#connectIp").val(),
					"lscDesc" : $("#connectIpDesc").val()
			};		
	
			
			$.ajax({
				beforeSend : function(xhr) {   //데이터를 전송하기 전에 헤더에 csrf값을 설정한다
				    xhr.setRequestHeader(header, token);},
				url : /*[[ @{/system/insertConnectIp.do} ]]*/ '/system/insertConnectIp.do',
				data : jsonData,
				type : "POST",
				success : function(type) {
					if(type == "SUCCESS")
						alert("접속 허용 IP가 등록되었습니다.");
					else if (type == "DUPLICATION")
						alert("이미 등록되어있는 IP입니다.");
					else
						alert("접속 허용 IP 등록에 실패했습니다.");
				},
				error : function(e){
					alert("시스템 에러가 발생하였습니다. 관리자에게 문의하세요.");
				},
				complete : function() {
					location.reload();
				}
			});
		} else { //*.*.*.* 형식이 아닐 때
			alert("잘못된 IP 주소 형식입니다.")
		}
		reset();
	}
	
	//input box 초기화
	function reset(){
		$("#connectIp").val("");
		$("#connectIpDesc").val("");
	}
	
/*]]*/
</script>
