<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
function setCateName(){
	var select = $(".noChk.cate-group li").find("span.active");
	var seq = select.attr("id");
	var fullCategoryName = select.attr("fullCategoryName");
	var cateLevel = select.attr("cateLevel");
	
	//카테고리 선택시 하위 카테고리 존재여부 확인
	//movie일 경우 하위 카테고리 상관없이 선택가능
	if($("#linkKind").val() != "movie"){
		if($("#callType").val() != undefined && $("#callType").val() != null && $("#callType").val() == "chkCategory"){
			
			if(select.next().children().length != 0){
				//$("#closeModal").click();
				alert("하위 카테고리가 존재하면 하위 카테고리를 선택해주세요.");
				return;
			}
		}
	}
	
	//카테고리 관리 >> 카테고리 추가
	if($("#callType").val() != undefined && $("#callType").val() != null && $("#callType").val() == "setCategory"){
		
		$("#cateLevel").val(cateLevel);
		
		if(cateLevel == "4"){
			alert("더이상 하위 카테고리를 생성할수없습니다.");
			return;
		} 
	}
	
	//LIVE - VOD불러오기 POPUP에서 호출시...
		if($("#type").val() !=null && $("#type").val() != "" && $("#type").val() == "contents"){
			$("#btnClose").click();
			if($("#linkKind").val() == "mcms"){
				getContents();
			}
	}
	
	if($("#lbCategorySeq").val == null || $("#lbCategorySeq").val == ""){
		alert("카테고리를 선택해주세요.");
		return;
	}
	
	$("#lbCategorySeq").val(seq);
	$("#modUpCateSeq").val(seq);
	$("#fullCategoryName").val(fullCategoryName);
	$("#modFullCateName").val(fullCategoryName);
	
	//모달 창 닫기
	$("#btnClose").click();
	
}
/*]]*/
</script>


<div class="modal fade text-left show" id="callCategory" tabindex="-1" role="dialog" aria-labelledby="callCategoryLabel" aria-hidden="true">
<!-- modal : 카테고리 -->
<div class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-header bg-info">
			<h4 class="modal-title white" id="callCategoryLabel">카테고리</h4>
		</div>
		<div class="modal-body" th:with="upSeq=0, upLevel=0">
			<!-- <h5></h5> -->
			<ul class="noChk cate-group">
				<th:block th:utext="${categoryHtml}"></th:block>
			</ul>	
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-outline-secondary" data-dismiss="modal" id="btnClose">취소</button>
			<button type="button" class="btn btn-outline-info" onclick="setCateName();">선택</button>
		</div>
	</div>
</div>
<!--// modal : 카테고리 -->
</div>