<!-- Modal : 목록 삭제 -->
<div class="modal fade text-left" id="listDelete" tabindex="-1" role="dialog" aria-labelledby="listDeleteLabel" aria-hidden="true">
	<div class="modal-dialog modal-xs" role="document">
		<div class="modal-content">
			<div class="modal-header bg-info">
				<h4 class="modal-title white" id="listDeleteLabel">삭제</h4>
			</div>
			<div class="modal-body">
				<!-- <h5></h5> -->
				<p class="py-2 pt-3 text-center">정말로 삭제하시겠습니까?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">취소</button>
				<button type="button" class="btn btn-outline-info" data-dismiss="modal">확인</button>
			</div>
		</div>
	</div>
</div>
<!--// Modal : 목록 삭제 -->