<html xmlns:th="http://www.thymeleaf.org">
<!-- Modal : 라이브 종료 -->
<div class="modal fade text-left" id="liveRestart" tabindex="-1" role="dialog" aria-labelledby="liveRestartLabel" aria-hidden="true">
	<div class="modal-dialog modal-xs" role="document">
		<div class="modal-content">
			<div class="modal-header bg-info">
				<h4 class="modal-title white" id="liveRestart">라이브 재시작</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
			</div>
			<div class="modal-body">
				<!-- <h5></h5> -->
				<p class="py-2 pt-3 text-center">라이브 방송을 재시작 하시겠습니까?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-info" data-dismiss="modal"  onclick="liveRestart()">예</button>
				<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">아니오</button>
			</div>
		</div>
	</div>
</div>
<!--// Modal : 라이브 종료 -->