<!-- popup :: VOD 미리보기 -->
	<div class="popup-dialog" role="document">
		<div class="popup-content">
			<div class="popup-header bg-info">
				<h4 class="popup-title white" id="livepreviewLabel">미리보기</h4>
			</div>
			<div class="popup-body">
				<div class="col-12">
					<img src="/_admin/app-assets/images/sample/sample_player01.png" alt="" class="w-100 mt-Half">	

				</div>
			</div>
			<div class="popup-footer">
				<button type="button" class="btn btn-info ml-Half px-2" data-dismiss="popup" onclick="window.close();">확인</button>
			</div>
		</div>
	</div>
<!--// popup :: VOD 미리보기 -->