<!-- Modal : 방송 중복 안내 -->
<div class="modal fade text-left" id="liveOverlap" tabindex="-1" role="dialog" aria-labelledby="liveOverlapLabel" aria-hidden="true">
	<div class="modal-dialog modal-xs" role="document">
		<div class="modal-content">
			<div class="modal-header bg-info">
				<h4 class="modal-title white" id="liveOverlap">방송 중복 안내</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
			</div>
			<div class="modal-body">
				<!-- <h5></h5> -->
				<p class="py-2 pt-3 text-center">동일 시간에 등록된 방송이 있습니다. 다른 시간을 등록해주세요.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-info" data-dismiss="modal">확인</button>
			</div>
		</div>
	</div>
</div>
<!--// Modal : 방송 중복 안내 -->