<!-- Modal : 대기 방송 삭제 -->
<div class="modal fade text-left" id="livewaitDelete" tabindex="-1" role="dialog" aria-labelledby="livewaitDeleteLabel" aria-hidden="true">
	<div class="modal-dialog modal-xs" role="document">
		<div class="modal-content">
			<div class="modal-header bg-info">
				<h4 class="modal-title white" id="livewaitDelete">대기 방송 삭제</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
			</div>
			<div class="modal-body">
				<!-- <h5></h5> -->
				<p class="py-2 pt-3 text-center">라이브 대기 방송을 삭제하시겠습니까?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-info" data-dismiss="modal"  onclick="window.open('live-wait-list.jsp','_self');">예</button>
				<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">아니오</button>
			</div>
		</div>
	</div>
</div>
<!--// Modal : 대기 방송 삭제 -->