<!-- Modal : 업로드 전송 -->
<div class="text-left modal fade show " id="uploadContents" tabindex="-1" role="dialog" aria-labelledby="uploadContentsLabel" aria-hidden="true">
	<div class="modal-dialog modal-md" role="document">
		<div class="modal-content">
			<div class="modal-header bg-info">
				<h4 class="modal-title white" id="uploadContentsLabel"><i class="icon-cloud-upload"></i></h4>
				<button type="button" id="uploadFormClose" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
			</div>

			<div class="modal-body">
				<div class="upload-total">
					<b>전체전송</b>
					<div class="progress">
						<div id="totalProgress" class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100" style="width:20%"></div>
					</div>
				</div>

				<ul class="part-list-2 upload-summary">
					<li>
						<dl class="mb-0">
							<dt>전송 파일</dt>
							<dd id="uploadContentsCnt"></dd>
						</dl>
					</li>
					<li>
						<dl class="mb-0">
							<dt>용량</dt>
							<dd id="uploadContentsSize"></dd>
						</dl>
					</li>
				</ul>

				<div class="add-file table-head">
					<table cellpadding="0" cellspacing="0" class="w-100">
						<colgroup>
							<col width="8%"/><col width="47%"/><col width="25%"/><col width="20%"/>
						</colgroup>
						<thead>
							<tr>
								<th scope="">
									<!-- <div class="d-inline-block form-check abc-checkbox abc-checkbox-info">
										<input type="checkbox" class="custom-control-input" name="colorCheck" id="checkbox00"><label class="custom-control-label" for="checkbox00"></label>
									</div> -->
								</th>
								<th scope="">파일명</th>
								<th scope="">전송용량</th>
								<th scope="">전송상태</th>
							</tr>
						</thead>
					</table>
				</div>
				<div class="add-file table-body border-bottom-gray">
					<table cellpadding="0" cellspacing="0" class="w-100" id="uploadContentsTable">
						<colgroup>
							<col width="8.4%"/><col width="48.4%"/><col width="15%"/><col width="13.2%"/><col width="*%"/>
						</colgroup>
						<tbody>
						
						</tbody>
					</table>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-secondary" onclick="closeUploadContents();" data-dismiss="modal">취소</button>
				<button type="button" id="selectPause" class="btn btn-outline-info" onclick="fileUploadPaused();">일시 정지</button>
				<button type="button" id="selectResume" class="btn btn-outline-info" onclick="fileUploadAgain();">업로드 재개</button>
			</div>
		</div>
	</div>
</div>
<!--// Modal :  업로드 전송 -->

<script>
	function uploadContentsInit() {
		
		var tr = $("#fileDropZone > tr");
		var uploadContentsHtml = "";
		
		for(var i = 0; i < tr.length; i++) {
			if(i != 0) {
				var td = $(tr[i]).children();
				var tr_id = $(td[0]).find("div").find("input").val();

				uploadContentsHtml += "<tr id='tr_" + tr_id + "'>"
				.concat("<td>")
				.concat("<div class='d-inline-block form-check abc-checkbox abc-checkbox-info'>")
				.concat("<input type='checkbox' class='custom-control-input' name='upChk' id='upChk" + i + "' value='" + tr_id + "'>")
				.concat("<label class='custom-control-label' for='upChk" + i + "'></label>")
				.concat("</div>")
				.concat("</td>")
				.concat("<td class='text-left'>")
				.concat($(td[1]).html()) 
				.concat("</td>")
				.concat("<td>")
				.concat("<div class='progress mb-0'>")
				.concat("<div class='progress-bar progress-bar-striped progress-bar-animated bg-warning' role='progressbar' aria-valuenow='100' aria-valuemin='100' aria-valuemax='100' style='width:0%'>")
				.concat("</div>")
				.concat("</div>")
				.concat("</td>")
				.concat("<td class='text-left'>")
				.concat($(td[2]).html()) 
				.concat("</td>")
				.concat("<td>대기중</td>")
				.concat("</tr>");
			}
		}
		
		$("#uploadContentsTable > tbody").html(uploadContentsHtml);
		
	}
	
	function closeUploadContents() {
		$("#uploadContents").modal('hide');
		$("#totalProgress").css("width", "0%");
		$("#uploadContentsSize").text("0.0 / 0.0");
		fileExist = false;
		cancelFileUpload();
		deleteAllFile();
		delAllCookie();
	}
</script>