<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="inc/_header"></div>

<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
$(document).ready(function () {
	$(".lnb_1").addClass("open"); 
	$(".lnb_1_1").addClass("open").addClass("active");

	$('select[name=selChannel]').change(function() {
		$("#lcSeq").val($(this).val());
	});
	
// 	$('select[name=selPreset]').change(function() {
// 		$("#lbPresetCd").val($(this).val());
// 	});
	
	$("#tagText").keypress(function(e){
		if(e.keyCode === 13 || e.keyCode === 44) {
			e.preventDefault();
			checkTag(this);
		}
	});
	
/* 	$("#fullCategoryName").click( function() {
		$("#btnCategory").click();
	}); */
	
// 	setLoginCategory();
//	dateUnuseCheck();
	$("#vodForm").hide();
	console.log($('input[name="radio-date"]:checked').val())
});

//더블 클릭 방지
var doubleSubmit = false;
function doubleClickCheck() {
	if(doubleSubmit) {
		return doubleSubmit;
	} else {
		doubleSubmit = true;
		return false;
	}
}

function registBroadcast(){
	
	if(doubleClickCheck()) return;
	
	var formData = new FormData($("#theForm")[0]);

	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");
	
	$.ajax({
		beforeSend : function(xhr) {   //데이터를 전송하기 전에 헤더에 csrf값을 설정한다
		    xhr.setRequestHeader(header, token);
		},
		url    : /*[[ @{/live/registBroadcast.do} ]]*/ '',
		data : formData,
        type : 'POST',
        enctype: "multipart/form-data", 
        processData: false,
        contentType: false,
		success: function (rtn) {
			if (rtn.rslt) {
				goList();
			}
			alert(rtn.rsltDesc);
		},
		error : function (e){
			console.log(e)
			alert("등록 처리중에 오류가 발생하였습니다. \n 파일 최대 업로드 크기는 20MB입니다.");
			
		}
	});
}

function dateUseCheck() {
	$("#broadcastDate").show();
	$("#vodForm").show();
	$("#dateSetting").click();
	document.getElementById("broadcastDate").style.display = "";
}

function dateUnuseCheck() {
	$("#broadcastDate").hide();
	$("#vodForm").hide();
	$("#dateAlways").click();
	//$("#lbStartDate").val("")
}

function chatUseCheck() {
	$("#chatAnnymForm").show();
	$("#chatAnnym").click();
}

function chatUnUseCheck() {
	$("#chatAnnymForm").hide();
	$("#chatUnAnnym").click();
}

function vodSaveCheck() {
	$("#vodSaveWhetherForm").show();
	$("#down-f").click();
}

function vodUnSaveCheck() {
	$("#vodSaveWhetherForm").hide();
	$("#down-o").click();
}

function registBroadcastConfirm(){
	//채팅 사용 여부 설정
	if($("#chatUse").is(":checked")){
		$("#lbChatYn").val("Y");
	} else if($("#chatUnuse").is(":checked")){
		$("#lbChatYn").val("N");
	}

	//채팅 익명 여부 설정
	if($("#chatAnnym").is(":checked")) {
		$("#lbChatAnnym").val("Y");
	} else if($("#chatUnAnnym").is(":checked")) {
		$("#lbChatAnnym").val("N");
	}

	//방송 공개 여부 설정
	if($("#publicChk").is(":checked")){
		$("#lbOpenYn").val("Y");
	} else if($("#privateChk").is(":checked")){
		$("#lbOpenYn").val("N");
	}

	//VOD 저장 여부 설정
	if($("#vodSave").is(":checked")){
		$("#lbVodSaveYn").val("Y");
	} else if($("#vodUnsave").is(":checked")){
		$("#lbVodSaveYn").val("N");
	}

	//VOD 저장시 VOD 다운로드 타입 설정
	if($("#lbVodSaveYn").val() != "" && $("#lbVodSaveYn").val().trim() == "Y") {
		if($("#down-f").is(":checked")){
			$("#lbVodDownYn").val("N");
		} else if($("#down-o").is(":checked")){
			$("#lbVodDownYn").val("Y");
		} 
		/*
		else if($("input:radio[name='down-a']").is(":checked")){
			$("#lbVodDownYn").val("A");
		} else if($("input:radio[name='down-e']").is(":checked")){
			$("#lbVodDownYn").val("E");
		}
		*/
	}

	//방송일정이 '상시'일경우 startDate null로 설정
	if($("#dateAlways").is(":checked")){
		$("#lbStartDate").val("");
	}

	if(validateRegistForm()) {

		//태그 hidden에 담기
		registTags();
		
		if(confirm("작성한 내용으로 라이브 방송을 등록하시겠습니까?")){ 
			// Ajax 라이브 방송 등록 처리 함수 호출
			registBroadcast();
		}
	}
}

function validateRegistForm(){

	//제목 공백 체크
	if($("#lbTitle").val().trim() == "") {
		alert("제목을 입력해주세요");
		$("#lbTitle").focus();
		return false;
	}

	//썸네일 체크
	if($("#thumbnail").val() == ""){
		alert("썸네일을 등록해주세요");
		$("#thumbnail").focus();
		return false;
	}

	//라이브 채널 선택 체크
	if($("#lcSeq").val() == ""){
		alert("방송 채널을 선택해주세요");
		$("#selChannel")[0].focus();
		return false;
	}
	

	//카테고리 체크
	if($("#selCategory").val() == ""){
		alert("카테고리를 선택해주세요");
		$("#selCategory").focus();
		return false;
	}
	
	//VOD로 LIVE 방송시
	if($("#selChannel").val() == "VOD"){
		if($("#lbVodSeq").val() == null || $("#lbVodSeq").val() == ""){
			alert("방송할 VOD를 불러와주세요.");
			return false;
		}
		
	} else {
		
		//프리셋 설정 체크
// 		if($("#lbPresetCd").val() == ""){
// 			alert("프리셋을 설정해주세요.");
// 			$("#selPreset")[0].focus();
// 			return false;
// 		}
		
		var startDate = new Date($("#lbStartDate").val());
		var endDate = new Date($("#lbEndDate").val());
		var dateChkType = $('input[name="radio-date"]:checked').val();
		
		if(dateChkType == 'dateUse'){
			if(endDate.getTime() <= startDate.getTime()){
				alert("방송 종료 시간을 방송 시작 시간보다 크게 설정해 주세요.");
				return false;
			}
		}
	}
	
	//즉시 시작일 경우 LB_STATUS(8): 방송시작중 설정
	/*
	if(new Date($("#lbStartDate").val()).getTime() <= new Date().getTime()){
		$("#lbStatus").val("8");
	}
	*/
	
	//VOD 저장시 옵션 체크
	if($("#lbVodSaveYn").val() != "" && $("#lbVodSaveYn").val().trim() == "Y") {
		// 다운로드 사용 여부 체크
		if($("#lbVodDownYn").val() == "") {
			alert("VOD 다운로드 여부를 선택해주세요.")
			return false;			
		}
	}
	
	// 카테고리 선택 여부 체크
	if($('input:radio[id=vodSave]').is(':checked')){
		if($("#lbCategorySeq").val() == ""){
			alert("VOD 저장 후 분류될 카테고리를 선택해 주세요.");
			//$("#btnCategory").click();
			$("#selCategory").focus();
			return false;
		}
	}

	return true;
}

function goList(){
	location.href = /*[[ ${previousURL} ]]*/ '';
}

// 방송 등록전 태그 hidden에 담기
function registTags(){

	if($("span[name=tempTagName]").length != 0){
		$("span[name=tempTagName]").each(function(i){
			var input = document.createElement('input');
			input.setAttribute("type","hidden");
			input.setAttribute("name","lhTagNames");
			input.setAttribute("value", $(this).text());
			$("#theForm").append(input);
		});
	}
}

// 태그 유효성 체크
function checkTag(obj){
	var isDuplicated = false;
	var keyword = $(obj).val().trim();

	// 공백 검사
	if(keyword == '') {
		$("#tagText").val("");
		return;
	}
	
	// 중복 키워드 검사
	if($("span[name=tempTagName]").length != 0){
		$("span[name=tempTagName]").each(function(i){
			if($(this).text() == keyword) {
				isDuplicated = true;
				return;
			}
		});
	}
	if(isDuplicated) {
		$("#tagText").val("");
		return;
	}
	// 태그 화면 추가
	addTag(keyword);
}

// 태그 화면 임시 추가
function addTag(keyword){
	var tagHtml = new Array();
	tagHtml.push("<div class=\"tag tag-view m-0\">");
	tagHtml.push("<span name=\"tempTagName\">" + keyword + "</span>");
	tagHtml.push("<button type=\"button\" class=\"btn btn-xsm btn-round btn-light ml-Half\" onclick=\"removeTag(this);\">");
	tagHtml.push("<i class=\"fa fa-times font-small-2\"></i>");
	tagHtml.push("</button></div>");

	$("#tag-append-area").before(tagHtml.join('\n'));
	$("#tagText").val("");
}

// 태그 제거
function removeTag(obj){
	$(obj).parent().remove();
}


//채널 VOD 선택시 form 변경
function channelChange(type){
	
	if(type == "VOD"){
		$("#vodSaveWhetherForm").hide();
		$("#vodUnsave").click();
		$("#channelVodForm").css("display","flex");
		$(".input-group-between").css("visibility","hidden");
		$("#lbEndDate").css("visibility","hidden");
		$("#vodComent").css("visibility","visible");
		$("#broadcastDate").after('<small class="d-block success mt-Half" id="dateComent">※ 시작 날짜를 선택해주세요. (종료 시간은 VOD 시간에 따라 자동 설정됩니다.)</small>');
// 		$("#trPreset").hide();
		
		
	} else {
		$("#vodSaveWhetherForm").show();
		$("#vodSave").click();
		$("#channelVodForm").css("display","none");
		$("#lbVodSeq").val("");
		$("#channelVodNm").val("");
		$(".input-group-between").css("visibility","visible");
		$("#lbEndDate").css("visibility","visible");
		$("#vodComent").css("visibility","hidden");
		$("#dateComent").remove();
// 		$("#trPreset").show();
		
	}
}

function categoryChange(seq) {
	$("#lbCategorySeq").val(seq);
}

//VOD 불러오기 팝업
function openGetVodPopup(){
	window.open(/*[[ @{/live/callVodListPopup.do} ]]*/ "/live/callVodListPopup.do", "callVodList-popup", "width=1488, height=700, scrollbars=yes");
}

//날짜 포맷 변경 (Date to String(yyyy-mm-dd hh:mi))
function dateFomatToString(date){
	var year = date.getFullYear();
	var month = ('0' + (date.getMonth() + 1)).slice(-2);
	var day = ('0' + date.getDate()).slice(-2);
	var hours = ('0' + date.getHours()).slice(-2); 
	var minutes = ('0' + date.getMinutes()).slice(-2);
	var seconds = ('0' + date.getSeconds()).slice(-2); 
	
	return year+'-'+month+'-'+day+" "+hours+':'+minutes;
}

//내 부서 카테고리 자동 선택
function setLoginCategory(){
	/*
	$(".cate-group").children().each(function(idx) {
		if($(this).find("span").attr("seq") == $("#lbCategorySeq").val()){
			$("#fullCategoryName").val($(this).find("span").attr("fullcategoryname"));
		}
	});
	*/
	$("#selCategory").children().each(function(idx) {
		if($(this).val() == $("#lbCategorySeq").val()){
			$(this).val($("#lbCategorySeq").val()).attr("selected", "selected");
		}
	});
}

/*]]*/
</script>

<form id="theForm" name="theForm">
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	<input type="hidden" id="lcSeq" name="lcSeq">
	<!-- <input type="hidden" id="lbPresetCd" name="lbPresetCd"> -->
	<input type="hidden" id="lbChatYn" name="lbChatYn" value="Y">
	<input type="hidden" id="lbChatAnnym" name="lbChatAnnym"/>
	<input type="hidden" id="lbOpenYn" name="lbOpenYn" value="Y">
	<input type="hidden" id="lbVodSaveYn" name="lbVodSaveYn" value="N"> 
	<input type="hidden" id="lbVodDownYn" name="lbVodDownYn" value="F">
	<input type="hidden" id="lbCategorySeq" name="lbCategorySeq" th:value="${loginVO.categorySeq}">
	<input type="hidden" id="lbVodSeq" name="lbVodSeq">
	<input type="hidden" id="callType" value="chkCategory">
	<!-- VOD 선택시 종료시간 계산용 -->
	<input type="hidden" id="runTime" name="lbVodRuntime"/>
	
	<input type="hidden" id="linkKind" th:value="${linkKind}"/>
	<input type="hidden" id="lbStatus" name="lbStatus"/>

	<!-- 컨텐츠 영역 -->
	<div class="app-content content">
		<div class="content-wrapper">
			<!-- 컨텐츠:헤더-페이지명,네비게이터 -->
			<div class="content-header row">
				<div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
					<h3 class="content-header-title mb-0 d-inline-block">라이브방송관리</h3>
					<div class="row breadcrumbs-top d-inline-block">
						<div class="breadcrumb-wrapper col-12">
							<ol class="breadcrumb">
								<li class="breadcrumb-item">홈</li>
								<li class="breadcrumb-item">라이브방송관리</li>
								<li class="breadcrumb-item active">라이브방송관리</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
			<!--// 컨텐츠:헤더-페이지명,네비게이터 -->
			<!-- 컨텐츠:본문 영역 -->
			<div class="content-body">
				<div class="row ">
					<!-- 라이브 방송 등록 영역 -->
					<div class="col-sm-12">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title">라이브 방송 등록</h4>
							</div>
							<div class="card-content">
								<div class="card-body">
									<!-- regist-form -->
									<div class="regist-form">
										<table cellpadding="0" cellspacing="0"
											class="w-100 regist-form-vertical" summary="">
											<colgroup>
												<col width="16%" />
												<col width="25%" />
												<col width="15%">
												<col width="44%">
											</colgroup>
											<tbody>
												<tr>
													<th>제목</th>
													<td colspan="3"><input type="text"
														class="form-control" title="" value="" id="lbTitle"
														name="lbTitle" placeholder="제목을 입력하세요" maxlength="100" /></td>
												</tr>
												<tr>
													<th>썸네일</th>
													<td colspan="3"><input type="file" class="w-100"
														title="" value="" id="thumbnail" name="thumbnail" /> <small
														class="small success">※ 썸네일 이미지는 16:9 비율로 1280px *
															720px 이상의 이미지가 가장 적절합니다.</small></td>
												</tr>
												<tr>
													<th>채널</th>
													<td><select name="selChannel" title=""
														class="form-control" id="selChannel"
														onchange="channelChange(this.value)">
															<option value="" selected="selected">채널선택</option>
															<option value="VOD">VOD</option>
															<option th:each="val : ${dto.channelList}"
																th:value="${val.lcSeq}" th:text="${val.lcName}"></option>
													</select></td>
													<td colspan="2">
														<div class="input-group" id="channelVodForm"
															style="display: none">
															<input type="text" class="form-control" title=""
																name="channelVodNm" id="channelVodNm"
																onclick="openGetVodPopup();" readonly>
															<div class="input-group-append">
																<button type="button" class="btn btn-info"
																	onclick="openGetVodPopup();">VOD 불러오기</button>
															</div>
														</div>
													</td>
												</tr>
<!-- 												<tr id="trPreset"> -->
<!-- 													<th>프리셋 설정</th> -->
<!-- 													<td><select name="selPreset" title="" -->
<!-- 														class="form-control" id="selPreset"> -->
<!-- 															<option value="" selected="selected">선택하세요.</option> -->
<!-- 															<option value="high">고화질(100명이내)</option> -->
<!-- 															<option value="mid">중화질(500명이내)</option> -->
<!-- 															<option value="low">저화질(1000명이내)</option> -->
<!-- 													</select></td> -->
<!-- 													<td colspan="2"></td> -->
<!-- 												</tr> -->
												<tr>
													<th>방송일정</th>
													<td colspan="3">
														<div class="d-flex align-items-center" >
															<div class="form-check abc-radio abc-radio-info d-inline">
																<input type="radio" class="form-radio-input"
																	name="radio-date" id="dateAlways" value="dateUnuse" checked /> <label
																	class="form-check-label" for="dateUnuse" onclick="dateUnuseCheck()">상시</label>
															</div>
															<div class="d-inline-flex align-items-center">
																<div
																	class="form-check abc-radio abc-radio-info d-inline ml-Half">
																	<input type="radio" class="form-radio-input"
																		name="radio-date" id="dateSetting" value="dateUse"> <label
																		class="form-check-label" for="dateUse" onclick="dateUseCheck()">일정 지정</label>
																</div>
																<div class="input-group col-sm-8" id="broadcastDate" style="display: none">
																	<div class="input-group-prepend">
																		<span class="input-group-text"> <span
																			class="fa fa-calendar-o"></span>
																		</span>
																	</div>
																	<input type='text' class="form-control singledate"
																		id="lbStartDate" name="lbStartDate" />
																	<div class="input-group-between">
																		<span class="input-group-text clear-style">~</span>
																	</div>
																	<div class="input-group-between round-prepend">
																		<span class="input-group-text round-prepend"> <span
																			class="fa fa-calendar-o"></span>
																		</span>
																	</div>
																	<input type='text' class="form-control singledate"
																		id="lbEndDate" name="lbEndDate" />
																</div>
															</div>
														</div>
													</td>
												</tr>
												<tr>
													<th class="text-height">채팅사용여부</th>
													<td colspan="3">
														<div class="form-check abc-radio abc-radio-info d-inline">
															<input type="radio" class="form-radio-input"
																name="radio-chat" id="chatUse" checked /> <label
																class="form-check-label" for="chatUse" onclick="chatUseCheck();">사용</label>
														</div>
														<div
															class="form-check abc-radio abc-radio-info d-inline ml-Half">
															<input type="radio" class="form-radio-input"
																name="radio-chat" id="chatUnuse"> <label
																class="form-check-label" for="chatUnuse" onclick="chatUnUseCheck();">사용안함</label>
														</div>
													</td>
												</tr>
												<tr id="chatAnnymForm">
													<th class="text-height">채팅익명여부</th>
													<td colspan="3">
														<div class="form-check abc-radio abc-radio-info d-inline">
															<input type="radio" class="form-radio-input"
																name="radio-annym" id="chatAnnym" checked /> <label
																class="form-check-label" for="chatAnnym">적용</label>
														</div>
														<div
															class="form-check abc-radio abc-radio-info d-inline ml-Half">
															<input type="radio" class="form-radio-input"
																name="radio-annym" id="chatUnAnnym"> <label
																class="form-check-label" for="chatUnAnnym">미적용</label>
														</div>
													</td>
												</tr>
												<tr>
													<th class="text-height">공개여부</th>
													<td colspan="3">
														<div class="form-check abc-radio abc-radio-info d-inline">
															<input type="radio" class="form-radio-input"
																name="radio-open" id="publicChk" checked /> <label
																class="form-check-label" for="publicChk">공개</label>
														</div>
														<div
															class="form-check abc-radio abc-radio-info d-inline ml-Half">
															<input type="radio" class="form-radio-input"
																name="radio-open" id="privateChk"> <label
																class="form-check-label" for="privateChk">비공개</label>
														</div>
													</td>
												</tr>

												<tr id = "vodForm">
													<th class="text-height">VOD 저장여부</th>
													<td class="py-Half" colspan="3">
														<div class="form-check abc-radio abc-radio-info d-inline">
															<input type="radio" class="form-radio-input"
																name="radio-save" id="vodSave" checked /> <label
																class="form-check-label" for="vodSave" onclick = "vodSaveCheck();">저장</label>
														</div>
														<div
															class="form-check abc-radio abc-radio-info d-inline ml-Half">
															<input type="radio" class="form-radio-input"
																name="radio-save" id="vodUnsave"> <label
																class="form-check-label" for="vodUnsave" onclick = "vodUnSaveCheck();">저장 안함</label>
														</div>
													</td>
												</tr>
												<th:block th:if="${#strings.equals(loginVO.authSeq,'20210000000000000000')}">
												<tr class="option-save">
													<th>카테고리</th>
													<!-- <td colspan="3">
														<div class="input-group">
															<input type="text" class="form-control" title="" value=""
																name="fullCategoryName" id="fullCategoryName"
																readonly="readonly">
															<div class="input-group-append">
																<button type="button" class="btn btn-outline-info"
																	data-toggle="modal" data-target="#callCategory"
																	id="btnCategory">카테고리선택</button>
															</div>
														</div> <small class="success">※ 실시간 방송 및 VOD 컨텐츠가 분류될 카테고리를 선택합니다. </small>
													</td> -->
													<td>
														<select name="selCategory" title="" class="form-control" id="selCategory" onchange="categoryChange(this.value)">
															<option value="" selected="selected">카테고리선택</option>
															<option th:each="val : ${categoryList}"
																th:value="${val.categorySeq}" th:text="${val.categoryName}"></option>
														</select>
													</td>
													<td colspan="2"></td>
												</tr>
												</th:block>
												<tr id="vodSaveWhetherForm">
													<th class="option-save">다운로드 사용여부</th>
													<td colspan="3">
														<div class="form-check abc-radio abc-radio-info d-inline">
															<input type="radio" class="form-radio-input"
																name="radio-down" id="down-f" checked/> <label
																class="form-check-label" for="down-f">다운로드 불가</label>
														</div>
														<div
															class="form-check abc-radio abc-radio-info d-inline ml-Half">
															<input type="radio" class="form-radio-input"
																name="radio-down" id="down-o" > <label
																class="form-check-label" for="down-o">원본 다운로드</label>
														</div> <!-- 
											<div class="form-check abc-radio abc-radio-info d-inline">
												<input type="radio" class="form-radio-input" name="down-e" id="down-e"/>
												<label class="form-check-label" for=""down-e"">인코딩 다운로드</label>
											</div>
											<div class="form-check abc-radio abc-radio-info d-inline ml-Half">
												<input type="radio" class="form-radio-input" name="down-a" id="down-a" checked>
												<label class="form-check-label" for="down-a">원본, 인코딩 다운로드</label>
											</div>
											 --> <small class="d-block success mt-Half">※ VOD 저장
															후 다운로드 권한을 결정합니다.</small>
													</td>
												</tr>
<!-- 												<tr> -->
<!-- 													<th>설문조사 링크</th> -->
<!-- 													<td colspan="3"><input type="text" -->
<!-- 														class="form-control" title="" value="" id="lbSurveyLink" -->
<!-- 														name="lbSurveyLink" placeholder="설문조사 링크를 입력하세요." maxlength="100" /> -->
<!-- 												</tr> -->
<!-- 												<tr> -->
<!-- 													<th>설문조사 팝업 사이즈</th> -->
<!-- 													<td colspan="2"><input type="text" class="form-control" title="" value="" id="lbSurveyWidth" -->
<!-- 														name="lbSurveyWidth" placeholder="너비값을 입력하세요." maxlength="4" /> -->
<!-- 														<small class="d-block success mt-Half">※ 팝업 호출시 팝업창 너비를 설정합니다.</small> -->
<!-- 													<td colspan="2"><input type="text" -->
<!-- 													class="form-control" title="" value="" id="lbSurveyHeight" -->
<!-- 													name="lbSurveyHeight" placeholder="높이값을 입력하세요." maxlength="4" /> -->
<!-- 													<small class="d-block success mt-Half">※ 팝업 호출시 팝업창 높이를 설정합니다.</small> -->
<!-- 												</tr> -->
												<!-- 	
												<tr>
													<th>태그</th>
													<td class="textarea-tag" colspan="3">
														<div class="tag-wrap">
															<div class="tag-input-wrap" id="tag-append-area">
																<input type="text" class="tag-input" title="" value=""
																	name="tagText" id="tagText" />
															</div>
														</div> <span class="small success">※ 쉼표 및 enter키로 태그입력/ x
															버튼과 delete키로 삭제합니다.</span>
													</td>
												</tr>
												 -->
												<tr>
													<th>설명</th>
													<td colspan="3"><textarea name="lbDesc" id="lbDesc"
															cols="" rows="7" title="" class="form-control"
															placeholder="라이브 방송 관련 설명을 입력하세요"></textarea></td>
												</tr>
												<tr>
													<th class="text-height">첨부파일</th>
													<td colspan="3"><input type="file" class="w-100 pt-0"
														title="" value="" name="attach" id="attach" /></td>
												</tr>
											</tbody>
										</table>
									</div>
									<!--// regist-form -->
</form>
</div>
</div>
<!-- 버튼영역 -->
<div class="card-footer">
	<div class="mr-auto float-right">
		<button type="button" class="btn btn-success px-2"
			onclick="javascript:registBroadcastConfirm();">등록</button>
		<button type="button" class="btn btn-secondary px-2"
			onclick="javascript:goList();">취소</button>
	</div>
</div>
<!--// 버튼영역 -->
</div>
</div>
<!--// 라이브 방송 등록 영역 -->
</div>
</div>
<!--// 컨텐츠 본문 영역 -->
</div>
</div>
<!--// 컨텐츠 영역 -->
<div th:replace="inc/_footer"></div>
<!-- 팝업인크루드 -->
<div th:replace="popup/callCategory"></div>
<!--// 팝업인크루드 -->