<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="inc/_header"></div>

<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
var token = $("meta[name='_csrf']").attr("content");
var header = $("meta[name='_csrf_header']").attr("content");

$(document).ready(function(){
	$(".lnb_1").addClass("open"); 
	$(".lnb_1_1").addClass("open").addClass("active");
	
	//메시지 글자수 200자 제한
	$("#textMessage, #textMessage2").on("keyup", function() {
		if($(this).val().length > 200) {
			alert("글자수는 200자까지 입력할 수 있습니다.");
			$(this).val($(this).val().substring(0, 200));
		}
	});
	
	//라이브 상태 확인
	timer = setInterval(function (){
		$.ajax({
			url : /*[[ @{/live/liveStatusCheck.do}]]*/ '/live/liveStatusCheck.do',
			type : "post",
			data : {"lbSeq" : $("#lbSeq").val()},
			beforeSend: function(xhr) {
				xhr.setRequestHeader(header, token);
			},
			success: function (status){
				if(status == "2"){
					alert("라이브가 종료되었습니다.");
					goList();
				} else if(status == "1"){
					alert("라이브가 시작되었습니다.");
					goLive();
				}
			},
			error: function (){
				alert("네트워크 연결 오류! 관리자에게 문의하여 주세요.");
				goList();
			}
		});
		
	}, 5000);
});


//목록 돌아가기
function goList() {
	window.location.href = /*[[ @{/live/liveOnAirList.do} ]]*/ '/live/liveOnAirList.do';
}

function goLive(){
	var f = document.liveForm;
	
	f.lbStatus.value = '1';
	f.action = /*[[ @{/live/viewBroadcast.do} ]]*/ '/live/viewBroadcast.do';
	f.submit();
}

//라이브 종료
function liveEnd() {
	$.ajax({
		beforeSend : function(xhr) {
			xhr.setRequestHeader(header, token);
		},
		url : /*[[ @{/live/liveBroadcastStatusEnd.do} ]]*/ '/live/liveBroadcastStatusEnd.do',
		data : {"lbSeq" : $("#lbSeq").val()},
		dataType : 'text',
		type : 'POST',
		success : function(rtn) {
			if(rtn == "SUCCESS") {
				alert("라이브 방송이 종료되었습니다.");
				goList();
			} else {
				alert("라이브 방송을 종료하는데 실패하였습니다.");
			}
		},
		error : function(e) {
			alert("시스템상 문제가 발생하였습니다. 관리자에게 문의하세요.");
		}
	});
}


//라이브 방송 재시작
function liveRestart() {
	var status = $("#lbStatus").val();
	var jsonData = {
			"lbSeq" : $("#lbSeq").val(),
			"lbStatus" : status
	};
	
	$.ajax({
		beforeSend : function(xhr) {
			xhr.setRequestHeader(header, token);
		},
		url : /*[[ @{/live/livePauseAndStart.do} ]]*/ '/live/livePauseAndStart.do',
		data : JSON.stringify(jsonData),
		dataType : 'text',
		contentType : 'application/json',
		type : "POST",
		success : function(rtn) {
			if(rtn == "SUCCESS") {
				alert("라이브 방송을 재시작합니다.");
				goList();
			} else {
				alert("방송 재시작 작업에 실패했습니다. 다시 시도해주세요.");
				location.reload();
			}
		},
		error : function(e) {
			alert("시스템상 문제가 발생하였습니다. 관리자에게 문의하세요.");
			location.reload();
		}
	});
}

//페이지 로딩시에 채팅 모듈 연결
window.onload = function() {
	var liveStatus = $("#lbStatus").val();
	
	connect();
	
	//채팅 모듈 사용하지 않는 경우
//	if($("#chatYn").val() == "Y" && (liveStatus == "1" || liveStatus == "4")) {
//		connect();
//	} else {
//		noChatConnect();
//	}
}

//브라우저 종료시에 채팅방 나가기 적용
window.addEventListener("pagehide", function(e) {
	var msg = {type : "LEAVE", sessionId : sessionId, userType : userType};

	disconnect(msg);
	
	//채팅 모듈 사용하지 않는 경우
	// 	//채팅 사용하는 경우
//	if($("#chatYn").val() == 'Y') {
//		disconnect(msg);
//	//채팅 사용 안 하는 경우
//	} else {
//		noChatDisconnect(msg);
//	}
});


//날짜 형식
function nowDate() {
	var date = new Date();
	var month = date.getMonth() + 1;
	var day = date.getDate();
	var hour = date.getHours();
	var minute = date.getMinutes();
	
	month = String(month);
	day = String(day);
	hour = String(hour);
	minute = String(minute);
		
	if(month.length == 1) {
		month = "0" + month;
	}
	
	if(day.length == 1) {
		day = "0" + day;
	}
	
	if(hour.length == 1) {
		hour = "0" + hour;
	}
	
	if(minute.length == 1) {
		minute = "0" + minute;
	}
	return date.getFullYear() + "-" + month + "-" + day + " " + hour + ":" + minute;
}

var userId = "";
var userName = "";
var stomp = null;
var socket;
var sessionIdList = [];
var sessionId = "";
var num = 0;
var userCnt = "";

var childNode = "";
var userType;

//sockjs 연결 (채팅 모듈 사용)
function connect(event) {
	userId = $("#chatId").val();
	userName = $("#chatName").val();
	
	//userType 0 : PC, 1 : Mobile
	//navigator > platform > PC
	var checkDevice = "win16|win32|win64|macintel|mac|";
	if(navigator.platform) {
		if(checkDevice.indexOf(navigator.platform.toLowerCase()) < 0) {
			userType = 1;
		} else {
			userType = 0;
		}
	}
	console.log(userId);
	console.log(userName);
	
	if(userId != null || userId != "") {
		
		var chatUrl = /*[[ ${chatUrl} ]]*/ '';
		//로컬
		socket = new SockJS('http://' + chatUrl + '/websocket');
		//socket = new SockJS('http://121.140.160.42:9482/websocket');
		//235
//		socket = new SockJS('http://222.122.31.235:9090/websocket');
		//120
//		socket = new SockJS("http://192.168.0.120:9090/websocket");
		stomp = Stomp.over(socket);
		//개발자 모드 콘솔 숨기기
		stomp.debug = null;
		stomp.connect({}, onConnected, onError);
	} else {
	
		var node = '<div class="no-data">';
			node += '<i class="ft-video-off"></i>';
			node += '라이브 채팅이 일시적으로 중단 되었습니다.';
			node += '</div>';
			
		$('#chatWrap, #fullChatList').html(node);
	}
}

//채팅 모듈 사용하지 않는 경우
function noChatConnect(event) {
	userId = $("#chatId").val();
	userName = $("#chatName").val();
	if(userId != null || userId != "") {
		//로컬
		socket = new SockJS("http://192.168.0.14:8090/liveNoChat");
		//235
//		socket = new SockJS("http://222.122.31.235:8090/liveNoChat");
		//120
//		socket = new SockJS("http://192.168.0.120:8090/liveNoChat");
		stomp = Stomp.over(socket);
		//개발자 모드 콘솔 숨기기
		stomp.debug = null;
		stomp.connect({}, noChatConnected, noChatError);
	}
}

//connect가 정상적인 경우 실행 (채팅 모듈 사용)
function onConnected() {
	var lbSeq = $("#lbSeq").val();
	stomp.subscribe('/broker/'+lbSeq, onMessageReceived);
	stomp.send('/app/chat.init/'+lbSeq, {}, JSON.stringify({userId : userId, type : 'INIT', lbSeq : lbSeq, userName : userName}));
	setTimeout(function(){
		stomp.send('/app/chat.join/'+lbSeq, {}, JSON.stringify({userId : userId, type : 'JOIN', lbSeq : lbSeq, userName : userName, userType : userType}));
	}, 1000);
}

//noChatConnect가 정상적인 경우 (채팅 모듈 미사용)
function noChatConnected() {
	var lbSeq = $("#lbSeq").val();
	stomp.subscribe("/noChat/"+lbSeq, noChatfunc);
	stomp.send("/no/live.connect/"+lbSeq, {}, JSON.stringify({userId : userId, type : "JOIN", lbSeq : lbSeq, userName : userName}));
}

//connect 실패 (채팅 모듈 사용)
function onError(error) {

	var node = '<div class="no-data">';
		node += '<i class="ft-video-off"></i>';
		node += '라이브 채팅이 일시적으로 중단 되었습니다.';
		node += '</div>';
		
		$('#chatWrap, #fullChatList').html(node);
}

//채팅 사용 안 하는 경우 에러 (채팅 모듈 미사용)
function noChatError(error) {
//	console.log("채팅 인원 카운팅 실패 !!!");
}

//채팅 끄기 (채팅 모듈 사용)
function roomOut() {
	var msg = { type : "LEAVE", sessionId : sessionId, userType : userType };
	disconnect(msg);
}

//연결 종료 (채팅 모듈 사용)
function disconnect(event) {
	var lbSeq = $("#lbSeq").val();
	if(stomp) {
		var sendMsg = {
			userId : userId,
			type : event.type,
			sessionId : event.sessionId,
			lbSeq : lbSeq,
			userName : userName,
			userType : event.userType
		};
	}
	stomp.send('/app/chat.leave/'+ lbSeq, {}, JSON.stringify(sendMsg));
}

//noChat 연결 종료 (채팅 모듈 미사용)
function noChatDisconnect(event) {
	var lbSeq = $("#lbSeq").val();
	if(stomp) {
		var sendMsg = {
				userId : userId,
				type : event.type,
				sessionId : event.sessionId,
				lbSeq : lbSeq,
				userName : userName
		};
	}
	stomp.send("/no/live.disconnect/"+lbSeq, {}, JSON.stringify(sendMsg));
}

//메시지 전송 전 체크
//type : fullscreen / default
function sendChk(event, type) {
	
	event.stopPropagation();
	
	var msg;
	var txtMsg = "";
	var notifyYn = "N";
	
	if(type == 'fullscreen') {
		txtMsg = $("#textMessage2").val();
	} else {
		txtMsg = $("#textMessage").val();
	}
	
	if(txtMsg == null || txtMsg == "") {
		return;
	} else {
		msg = txtMsg;
		if($("#checkBox").prop("checked")) {
			notifyYn = "Y";
		}
	}
	var sendMsg = { type : "SEND", content : msg, sessionId : sessionId, notifyYn : notifyYn };
	$("#checkBox").prop("checked", false);
	send(sendMsg);
}

//메시지 전송 (채팅 모듈 사용)
function send(event) {
	var lbSeq = $("#lbSeq").val();
	var lbTitle = $("#lbTitle").val();
	num++;
	if(stomp) {
		var sendMsg = {
			userId : userId,
			content : event.content,
			type : event.type,
			sessionId : event.sessionId,
			messageId : sessionId + "-" + num,
			lbSeq : lbSeq,
			date : nowDate(),
			lbTitle : lbTitle,
			userName : userName,
			notifyYn : event.notifyYn
		};
		stomp.send('/app/chat.send/'+lbSeq, {}, JSON.stringify(sendMsg));
		
		$("#textMessage, #textMessage2").val("");
		$("#textMessage, #textMessage2").focus();
	}
}

//메시지 삭제
function msgDelete(content, messageId) {
	var lbSeq = $("#lbSeq").val();
	if(stomp) {
		var sendMsg = {
			content : content,
			messageId : messageId,
			lbSeq : lbSeq,
			type : 'DELETE'
		};
		stomp.send('/app/chat.delete/'+lbSeq, {}, JSON.stringify(sendMsg));
	}
}

//채팅 사용 안 하는 경우
function noChatfunc(payload) {
	var msg = JSON.parse(payload.body);
	
	if(sessionId == "") {
		sessionId = msg.sessionId;
	}
	
	if(sessionIdList.length == 0) {
		sessionIdList.push(msg.sessionId);
	}
	
	//입장
	if(msg.type === "JOIN") {
		if(msg.connectStatus === "SUCCESS") {
			if(userId == msg.userId && !sessionIdList.includes(msg.sessionId)) {
				sessionIdList.push(msg.sessionId);
			} 
			
			userCnt = msg.liveUserCnt;
			$("#liveUsers").html(userCnt);
		}
		
	//퇴장
	} else if(msg.type === "LEAVE") {
		if(msg.connectStatus === "SUCCESS") {
			if((userId == msg.userId && sessionId != msg.sessionId)) {
				sessionIdList.pop(msg.sessionId);
			} else if(userId == msg.userId) {
				sessionId  = "";
				sessionIdList.pop(msg.sessionId);
				stomp.noChatDisconnect();
//				console.log("no Chat disconnected!!!");
				
			}
			userCnt = msg.liveUserCnt;
			$("#liveUsers").html(userCnt);
		}
	}
}

//type에 따라 실행되는 함수
function onMessageReceived(payload) {
	var msg = JSON.parse(payload.body);
	
	if(sessionId == "") {
		sessionId = msg.sessionId;
	}
	
	if(sessionIdList.length == 0) {
		sessionIdList.push(msg.sessionId);
	}
	
	//채팅 사용하는 경우 (채팅 연결)
	if(msg.type === 'JOIN' && $("#chatYn").val() == "Y") {
		if(msg.status === 'SUCCESS') {
			$("#chatWrap").css("display", "block");
			$("#textMessage").attr("disabled", false);
			$("#textMessage").attr("readonly", false);
			
			var html ="";
			childNode = "";
			
//			if(userId == msg.userId && !sessionIdList.includes(msg.sessionId)) {
//				//입장
//				html += "<div class=\"chat-box\">";
//				html += "<div class=\"chat-writer-info\"><b class=\"writer\">" + msg.userName + "("+msg.userId+")</b><small>&nbsp;&nbsp;"+nowDate()+"</small>";
//				html += "</div>";
//				html += "<div class=\"chat-box-text\">"+ msg.userName + "("+msg.userId+")님이 채팅방에 입장하였습니다.</div>";
//				html += "</div>";
				
//				childNode += '<li>';
//				childNode += '<span class="writer-info">';
//				childNode += '	<i class="name">' + msg.userName + '(' + msg.userId + ')</i>';
//				childNode += '	<i>' + nowDate() + '</i>';
//				childNode += '	<p>' + msg.userId +' 님이 채팅방에 입장하였습니다.</p>';
//				childNode += '</li>';
					
//				sessionIdList.push(msg.sessionId);
				
//			} else if(userId == msg.userId) {
//				html += "<div class=\"chat-box adm\">";
//				html += "<div class=\"chat-writer-info\"><b class=\"writer\">"+ msg.userName + "("+msg.userId+")</b><small>&nbsp;&nbsp;"+nowDate();+"</small>";
//				html += "</div>";
//				html += "<div class=\"chat-box-text\">채팅방에 입장하였습니다.</div>";
//				html += "</div>";
				
//				// 전체 화면
//				childNode += '<li class="mine">';
//				childNode += '<span class="writer-info">';
//				childNode += '	<i class="name">' + msg.userName + '(' + msg.userId + ')</i>';
//				childNode += '	<i>' + nowDate() + '</i>';
//				childNode += '	<p>채팅방에 입장하였습니다.</p>';
//				childNode += '</li>';
				
//			} else {
//				html += "<div class=\"chat-box\">";
//				html += "<div class=\"chat-writer-info\"><b class=\"writer\">"+ msg.userName + "("+ msg.userId+")</b><small>&nbsp;&nbsp;"+nowDate()+"</small>";
//				html += "</div>";
//				html += "<div class=\"chat-box-text\">"+ msg.userName + "("+msg.userId+")님이 채팅방에 입장하였습니다.</div>";
//				html += "</div>";
				
//				// 전체 화면 채팅 쌓기 
//				childNode += '<li>';
//				childNode += '<span class="writer-info">';
//				childNode += '	<i class="name">' + msg.userName + '(' + msg.userId + ')</i>';
//				childNode += '	<i>' + nowDate() + '</i>';
//				childNode += '	<p>' + msg.userName + '(' + msg.userId +') 님이 채팅방에 입장하였습니다.</p>';
//				childNode += '</li>';
//			}
			
//			$("#chatWrap").append(html);
//			$("#fullChatWrap").append(childNode);
			
		} else {
			alert("채팅방 로딩에 오류가 발생하였습니다.");
		}
		
		userCnt = msg.roomUserCnt;
		$("#totalUser, #totalUser2, #liveUsers").html(userCnt);
	
	//채팅 사용하지 않는 경우(접속자 연결)
	} else if(msg.type === 'JOIN' && $("#chatYn").val() == "N") {
		if(msg.status === "SUCCESS") {
			if(userId == msg.userId && !sessionIdList.includes(msg.sessionId)) {
				sessionIdList.push(msg.sessionId);
			} 
			
			userCnt = msg.roomUserCnt;
			$("#liveUsers").html(userCnt);
		}
	
	//채팅 사용하는 경우(채팅 나가기)
	} else if(msg.type === 'LEAVE' && $("#chatYn").val() == "Y") {
		if(msg.status === 'SUCCESS') {
			var html = "";
			childNode = "";
			
//			if((userId == msg.userId && sessionId != msg.sessionId)) {
//				sessionIdList.pop(msg.sessionId);
				
//				//채팅 쌓기
//				html += "<div class=\"chat-box\">";
//				html += "<div class=\"chat-writer-info\"><b class=\"writer\">"+ msg.userName + "("+ msg.userId+")</b><small>&nbsp;&nbsp;"+nowDate()+"</small>";
//				html += "</div>";
//				html += "<div class=\"chat-box-text\">"+ msg.userName + "("+msg.userId+") 님이 채팅방을 나갔습니다.</div>";
//				html += "</div>";
				
//				// 전체 화면 채팅 쌓기 
//				childNode += '<li>';
//				childNode += '<span class="writer-info">';
//				childNode += '	<i class="name">' + msg.userName + '(' + msg.userId + ')</i>';
//				childNode += '	<i>' + nowDate() + '</i>';
//				childNode += '	<p>' + msg.userName + '(' + msg.userId +') 님이 채팅방을 나갔습니다.</p>';
//				childNode += '</li>';
				
//				//채팅 append
//				$("#chatWrap").append(html);
//				//전체 화면 채팅 append
//				$("#fullChatWrap").append(childNode);
				
//			} else if(userId == msg.userId) {
//				$("#textMessage").attr("disabled", true);
//				$("#textMessage").attr("readonly", true);
//				sessionId  = "";
//				sessionIdList.pop(msg.sessionId);
//				stomp.disconnect();
//// 				console.log("disconnected!!!");
				
//			} else {
//				html += "<div class=\"chat-box\">";
//				html += "<div class=\"chat-writer-info\"><b class=\"writer\">"+msg.userName + '(' + msg.userId+")</b><small>&nbsp;&nbsp;"+nowDate()+"</small>";
//				html += "</div>";
//				html += "<div class=\"chat-box-text\">"+ msg.userName + "("+msg.userId+") 님이 채팅방을 나갔습니다.</div>";
//				html += "</div>";
				
//				// 전체 화면 채팅 쌓기 
//				childNode += '<li>';
//				childNode += '<span class="writer-info">';
//				childNode += '	<i class="name">' + msg.userName + '(' + msg.userId + ')</i>';
//				childNode += '	<i>' + nowDate() + '</i>';
//				childNode += '	<p>' + msg.userName + '(' + msg.userId +') 님이 채팅방을 나갔습니다.</p>';
//				childNode += '</li>';
				
//				$("#chatWrap").append(html);
//				$("#fullChatWrap").append(childNode);
				
//			}
		} else { 
			alert("다시 시도해주시기 바랍니다.");
		}
		
		userCnt = msg.roomUserCnt;
		$("#totalUser, #totalUser2, #liveUsers").html(userCnt);
		
	//채팅 사용하지 않는 경우(접속자 나가기)
	} else if(msg.type === 'LEAVE' && $("#chatYn").val() == "N") {
		if(msg.status === "SUCCESS") {
			if((userId == msg.userId && sessionId != msg.sessionId)) {
				sessionIdList.pop(msg.sessionId);
			} else if(userId == msg.userId) {
				sessionId  = "";
				sessionIdList.pop(msg.sessionId);
				stomp.disconnect();
//				console.log("disconnected!!!");
			}
			userCnt = msg.roomUserCnt;
			$("#liveUsers").html(userCnt);
		}
		
	//채팅 사용하는 경우(메시지 전송)
	} else if(msg.type === 'SEND') {
		if(msg.status === 'SUCCESS') {
			var html = "";
			childNode = '';
			
			var messageId = msg.messageId;
			if(userId == msg.userId) {
				if( sessionId != msg.sessionId){
					html += "<div class=\"chat-box\">";
					childNode += '<li>';
				} else {
					html += "<div class=\"chat-box adm\">";
					childNode += '<li class="mine">';									
				}
			} else {
				html += "<div class=\"chat-box\">";		
				childNode += '<li>';		
			} 
			
			html += "<div class=\"chat-writer-info\"><b class=\"writer\">"+ msg.userName + "("+msg.userId+")</b><small>&nbsp;&nbsp;"+nowDate()+"</small>";
			html += "<small>&nbsp;&nbsp;<a onclick='javascript:msgDelete(\""+msg.content+"\",\""+messageId+"\");'>삭제</a></small></div>";
			html += "<div class=\"chat-box-text\" data-msgId="+messageId+">"+msg.content+"</div>";				
			html += "</div>";
			
			// 전체 화면 채팅 쌓기 
			childNode += '<span class="writer-info">';
			childNode += '	<i class="name">' + msg.userName + '(' + msg.userId + ')</i>';
			childNode += '	<i>' + nowDate() + '</i>';
			childNode += '  <i onclick="javascript:msgDelete(\'' + msg.content + '\', \'' + messageId + '\');">삭제</i>';   
			childNode += '	<p class="chat-box-text" data-msgId="' + messageId + '">' + msg.content + '</p>';
			childNode += '</li>';
				
			$("#chatWrap").append(html);
			$("#fullChatWrap").append(childNode);
			
		} else {
			alert("메시지를 전송하는데 실패했습니다.");
		}
	
	//채팅 사용하는 경우(메시지 삭제)
	} else if(msg.type === 'DELETE') {
		if(msg.status === 'SUCCESS') {
			$('.chat-box-text[data-msgId="'+msg.messageId+'"]').text(msg.content);
		} else {
			alert("메시지 삭제를 실패했습니다.");
		}
		
	//채팅 사용하는 경우(초기화)	
	} else if(msg.type === 'INIT') {
//		console.log("초기화");
	}
	
	//채팅 화면 스크롤
	$("#chatList").scrollTop($("#chatList").prop("scrollHeight"));
	//전체 화면 채팅 스크롤
	$("#fullChatListDiv").scrollTop($("#fullChatListDiv").prop("scrollHeight"));

}

/*]]*/
</script>


<form id="chatForm" name="chatForm">
	<input type="hidden" id="chatId" name="chatId" th:value="${userId}"/>
	<input type="hidden" id="chatName" name="chatName" th:value="${userName}"/>
	<input type="hidden" id="chatYn" name="chatYn" th:value="${vo.lbChatYn}"/>
</form>

<form id="liveForm" name="liveForm" method="post" enctype="multipart/form-data">
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
	<input type="hidden" id="lbSeq" name="lbSeq" th:value="${vo.lbSeq}"/>
	<input type="hidden" id="lbStatus" name="lbStatus" th:value="${vo.lbStatus}"/>
</form>
<!-- 컨텐츠 영역 -->
<div class="app-content content">
<div class="content-wrapper">
<!-- 컨텐츠:헤더-페이지명,네비게이터 -->
<div class="content-header row">
	<div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
		<h3 class="content-header-title mb-0 d-inline-block">라이브방송관리</h3>
		<div class="row breadcrumbs-top d-inline-block">
			<div class="breadcrumb-wrapper col-12">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">홈</li>
					<li class="breadcrumb-item">라이브방송관리</li>
					<li class="breadcrumb-item active">라이브방송관리</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<!--// 컨텐츠:헤더-페이지명,네비게이터 -->
<!-- 컨텐츠:본문 영역 -->
<div class="content-body">
	<div class="row ">
		<div class="col-sm-12">
			<div class="card">
				<!-- 제목 및 주요버튼 -->
				<div class="card-header view-title pb-2">
					<small class="category" th:unless="${vo.fullCategoryName == null}">
						<span th:each="item : ${#strings.arraySplit(vo.fullCategoryName,'|')}" th:text="${item}"></span>
					</small>
					<h3 class="mb-0">
						<span class="badge badge-secondary badge-sm mr-Half align-middle" th:text="${vo.lcName == null}  ? 'VOD' : ${vo.lcName}"></span>
						<span class="badge badge-dark badge-sm mr-Half align-middle eng-text">스트리밍 일시중지</span>
						&nbsp;<span th:utext="${vo.lbTitle}">[[ ${vo.lbTitle} ]]</span>
					</h3>
					<div class="view-title-info mb-0">
						<a th:if="${vo.lbEndDate} == null"></a>
						<span th:unless="${vo.lbEndDate} == null">라이브 일정<b class="ml-Half" th:text="${vo.lbStartDate}+' ~ '+ ${vo.lbEndDate}"></b></span>
						<span><b th:text="${vo.regUserName}"></b></span>
					</div>
					<div class="heading-elements">
					</div>
				</div> <!--// 제목 및 주요버튼 -->

				<div class="card-content">
					<div class="card-body">
						<div class="row">
							<div class="col-8">
								<div class="view-player">
									<!-- 플레이 버튼
									<a href="#"><img src="<%=request.getContextPath()%>/resources/app-assets/images/icons/live-btn-sample.png" alt="" class="position-absolute liveplay-btn" style=""/></a>
									-->
									<!-- 동영상플레이어영역
									<img src="<%=request.getContextPath()%>/resources/app-assets/images/sample/sample_player01.png" alt="" width="100%"/>
									-->
									<!-- 영상 vod 없을 시 -->
									<div class="no-live">
										<div class="no-live-content">
											<i class="ft-alert-triangle d-block"></i><span>방송이 일시중지 상태입니다.</span>
										</div>
									</div><!--// 영상 vod 없을 시 -->
								</div>
							</div>
							<!-- chat-wrap -->
								<div class="col-4 chat-wrap live" th:if="${vo.lbChatYn != null and #strings.equals(vo.lbChatYn,'Y')}">
									<div class="chat-summary">
										<p class="small">라이브 채팅 <b class="info" id="totalUser"></b>
											<!-- <button type="button" onclick="connect();" id="connectJoin">참여</button>
											<button type="button" onclick="roomOut();" id="connectOut" style="display: none;">나가기</button> -->
										</p>
									</div>
									<!-- chat-list -->
									<div class="chat-list" id="chatList">
									<div class="chat-list-wrap" id="chatWrap">
									</div> <!--// chat-list-wrap -->
									</div> <!--// chat-list -->
									<!-- chat-write -->
									<div class="notice-check">
											<div class="form-check abc-checkbox abc-checkbox-info pl-0">
												<input type="checkbox" class="form-checkbox-input" name="colorRadio" id="checkBox" />
												<label class="form-check-label font-weight-bold" for="checkBox">공지사항으로 등록</label>
											</div>
										</div>
									<div class="chat-write">
										<textarea name="" cols="" rows="" title="" placeholder="최대 200자로 제한되며, 욕설, 비난글은 삭제됩니다." id="textMessage" onkeypress="if(event.keyCode==13) return false;" onkeydown="if(event.keyCode==13) javascript:sendChk(event, 'default');"></textarea>
										<button type="button" class="btn btn-info" onclick="sendChk(event, 'default');">등록</button>
									</div> <!--// chat-write -->
								</div> <!--// chat-wrap -->
						</div>

						<!-- 방송 정보 영역 -->
						<div class="view-form view-form-vertical mt-2">
							<table cellpadding="0" cellspacing="0" class="w-100" summary="" >
								<colgroup>
									<col width="9%"/><col width="16%"/><col width="9%"/><col width="16%"/><col width="9%"/><col width="16%"/>
								</colgroup>
								<tbody>
									<tr>
										<th class="text-height">등록일시</th>
										<td th:text="${vo.lbRegDate}"></td>
										<th class="text-height">남은 방송 시간</th>
										<td>[[ ${vo.passDuration} ]] / [[ ${vo.totalDuration} ]]</td>
<!-- 										<th class="text-height">프리셋</th> -->
<!-- 										<th:block th:switch="${vo.lbPresetCd}"> -->
<!-- 												<td th:case="high">고화질</td> -->
<!-- 												<td th:case="mid">중화질</td> -->
<!-- 												<td th:case="*">저화질</td> -->
<!-- 										</th:block> -->
										<th class="text-height">공개여부</th>
										<td th:text="${#strings.equals(vo.lbOpenYn, 'Y') ?  '공개' : '비공개'}"></td>
									</tr>
									<tr>
										<th class="text-height">VOD저장여부</th>
										<td th:text="${#strings.equals(vo.lbVodSaveYn, 'Y') ?  '사용' : '미사용'}"></td>
										<th class="text-height">다운로드 사용여부</th>
										<td th:text="${#strings.equals(vo.lbVodDownYn, 'O') ?  '원본 다운로드' : '다운로드 불가'}"></td>
										<th class="text-height">카테고리</th>
										<td colspan="3">
											<small class="category" th:if="${vo.fullCategoryName == null}">-</small>
											<small class="category" th:unless="${vo.fullCategoryName == null}">
												<span class="black" th:each="item : ${#strings.arraySplit(vo.fullCategoryName,'|')}" th:text="${item}"></span>
											</small>
										</td>
									</tr>
<!-- 									<tr> -->
<!-- 										<th class="text-height">태그</th> -->
<!-- 										<td colspan="7"> -->
<!-- 											<th:block th:unless="${vo.lhTagName == null}"> -->
<!-- 													<div class="tag tag-view m-0" th:each="item : ${#strings.arraySplit(vo.lhTagName,'|')} "> -->
<!-- 														<span th:text="${item}"></span> -->
<!-- 													</div> -->
<!-- 											</th:block> -->
<!-- 											<th:block th:if="${vo.lhTagName == null}"> -->
<!-- 													- -->
<!-- 											</th:block> -->
<!-- 										</td> -->
<!-- 									</tr> -->
									<tr>
										<th class="text-height">설명</th>
										<td colspan="7" th:utext="${vo.lbDesc == ''} ? '-' : ${#strings.replace(vo.lbDesc, nlString, '&lt;br /&gt;')}"></td>
									<tr>
										<th class="text-height">첨부파일</th>
										<td colspan="7">
											<th:block th:unless="${vo.lbfAttachOriginalNm == null}">
													<i class="ft-save info"></i>
													<a href="javascript:downloadAttachFile();" th:text="${vo.lbfAttachOriginalNm}"></a>
											</th:block>
											<th:block th:if="${vo.lbfAttachOriginalNm == null}">
													첨부파일 없음
											</th:block>
										</td>
									</tr>
								</tbody>
							</table>
						</div> <!--// 방송 정보 영역 -->

					</div>
				</div>
				<!-- 버튼영역 -->
				<div class="card-footer">
					<div class="mr-auto float-left">
						<button type="button" class="btn btn-info" data-toggle="modal" data-target="#liveRestart">실시간 스트리밍 재시작</button>
					</div>
					<div class="mr-auto float-right">
						<button type="button" class="btn btn-secondary px-2" data-toggle="modal" data-target="#liveEnd">라이브 종료</button>
						<button type="button" class="btn btn-info px-2" onclick="goList(1);">목록</button>
<!-- 						<button type="button" class="btn btn-secondary px-2" data-toggle="modal" data-target="#livefinDelete">삭제</button> -->
					</div>
				</div>
				<!--// 버튼영역 -->
			</div>
		</div>
	</div>
<!--// 컨텐츠 본문 영역 -->
</div>
</div>
<!--// 컨텐츠 영역 -->
<div th:replace="inc/_footer"></div>
<!-- 팝업인크루드 -->
<!-- <%@ include file="../../../html/popup/livefinDelete.jsp"%>  -->
<div th:replace="popup/liveEnd"></div>
<div th:replace="popup/liveRestart"></div>
<!--// 팝업인크루드 -->

<!-- Stomp & SockJS -->
<script th:src="@{/chatjs/stomp.min.js}" type="text/javascript"></script>
<script th:src="@{/chatjs/sockjs.min.js}" type="text/javascript"></script>
<!--// Stomp & SockJS -->