<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="inc/_header"></div>

<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
$(document).ready(function(){
	$(".lnb_1").addClass("open"); 
	$(".lnb_1_1").addClass("open").addClass("active");
});

var token = $("meta[name='_csrf']").attr("content");
var header = $("meta[name='_csrf_header']").attr("content");

//삭제
function goRemoveOne(){
	
	$.ajax({
		beforeSend : function(xhr) {   //데이터를 전송하기 전에 헤더에 csrf값을 설정한다
		    xhr.setRequestHeader(header, token);
		},
		url: /*[[ @{/live/removeBroadcastOne.do} ]]*/ '/live/removeBroadcastOne.do',
        type: 'POST',
        traditional: true,
		data: { lbSeq : $("#lbSeq").val(),
			    searchStatus : "2"
		},
		success: function (type) {
			if (type == "SUCCESS") {
				alert("방송이 삭제되었습니다.");
			} else {
				alert("방송 삭제에 실패했습니다.");
			}
		},
		error : function (e){
			alert("시스템 문제 발생으로 관리자에게 문의해주세요.");
		},
		complete : function() {
			goList();
	    }
		
	});
}

//목록 돌아가기
function goList(){
	window.location.href = /*[[ @{/live/liveFinishList.do} ]]*/ '/live/liveFinishList.do';
}


function checkChatFile(lbSeq) {
	
	$.ajax({
		beforeSend : function(xhr) {   //데이터를 전송하기 전에 헤더에 csrf값을 설정한다
		    xhr.setRequestHeader(header, token);
		},
		url: /*[[ @{/live/checkChatFile.do} ]]*/ '/live/checkChatFile.do',
        type: 'POST',
		data: { lbSeq : $("#lbSeq").val(),
		},
		dataType : 'text',
		success: function (type) {
			if (type == "SUCCESS") {
				downloadChatFile(lbSeq);
			} else {
				alert("저장된 채팅 내용이 없습니다.");
			}
		},
		error : function (e){
			alert("시스템 문제 발생으로 관리자에게 문의해주세요.");
		}
		
	});
}

//라이브 채팅 내용 다운로드
function downloadChatFile(lbSeq) {
	var f = document.liveForm;
	f.action = /*[[ @{/live/chatExcelDown.do} ]]*/ '/live/chatExcelDown.do';
	f.method = "post";
	f.submit();
}


//라이브 영상 다운로드
function liveRecordDownload(seq){
	var f = document.liveForm;
	
	$("#vodSeq").val(seq);
	
	f.action = /*[[ @{/vod/vodVideoDown.do} ]]*/ '/vod/vodVideoDown.do';
	f.method = "post";
	f.submit();
}


var timer = null;
var isRunning = false;
var leftSec = 10;

function startTimer(count) {
	
	if (isRunning){
		clearInterval(timer);
	}
	
// 	var minutes, seconds;
    timer = setInterval(function () {
// 	    minutes = parseInt(count / 60, 10);
// 	    seconds = parseInt(count % 60, 10);
	
// 	    minutes = minutes < 10 ? "0" + minutes : minutes;
// 	    seconds = seconds < 10 ? "0" + seconds : seconds;
// 	    console.log(minutes+":"+seconds);
	
	    // 타이머 끝
	    if (--count < 0) {
		     getChatData();
		     startTimer(leftSec);
	    }
	}, 1000);
    isRunning = true;
}


/*]]*/
</script>

<form id="liveForm" name="liveForm" method="post" enctype="multipart/form-data">
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
	<input type="hidden" id="lbSeq" name="lbSeq" th:value="${vo.lbSeq}"/>
	<input type="hidden" id="vodSeq" name="vodSeq" />
	<input type="hidden" id="currentTime" name="currentTime" />
	<input type="hidden" id="chatRecYn" th:value="${chatRecYn}"/>
</form>
<!-- 컨텐츠 영역 -->
<div class="app-content content">
<div class="content-wrapper">
<!-- 컨텐츠:헤더-페이지명,네비게이터 -->
<div class="content-header row">
	<div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
		<h3 class="content-header-title mb-0 d-inline-block">라이브방송관리</h3>
		<div class="row breadcrumbs-top d-inline-block">
			<div class="breadcrumb-wrapper col-12">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">홈</li>
					<li class="breadcrumb-item">라이브방송관리</li>
					<li class="breadcrumb-item active">라이브방송관리</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<!--// 컨텐츠:헤더-페이지명,네비게이터 -->
<!-- 컨텐츠:본문 영역 -->
<div class="content-body">
	<div class="row ">
		<div class="col-sm-12">
			<div class="card">
				<!-- 제목 및 주요버튼 -->
				<div class="card-header view-title pb-2">
					<small class="category" th:unless="${vo.fullCategoryName == null}">
						<span th:each="item : ${#strings.arraySplit(vo.fullCategoryName,'|')}" th:text="${item}"></span>
					</small>
					<h3 class="mb-0">
						<span class="badge badge-secondary badge-sm mr-Half align-middle" th:text="${vo.lcName == null}  ? 'VOD' : ${vo.lcName}"></span>
						<span class="badge badge-info badge-sm mr-Half align-middle eng-text">라이브 방송 종료</span>
						&nbsp;<span th:utext="${vo.lbTitle}">[[ ${vo.lbTitle} ]]</span>
					</h3>
					<div class="view-title-info mb-0">
						<span>라이브 일정<b class="ml-Half" th:text="${vo.lbStartDate}+' ~ '+ ${vo.lbEndDate}"></b></span>
						<span><b th:text="${vo.regUserName}"></b></span>
					</div>
					<div class="heading-elements">
					<th:block th:if="${#strings.equals(vo.lbVodDownYn, 'Y')}">
						<div class="position-relative mt-1">
							<div class="position-absolute no-edge-top no-edge-right">
								<button type="button" class="btn btn-sm btn-info" th:onclick="liveRecordDownload([[ ${vo.lbVodSeq} ]])">라이브 녹화영상 다운로드</button>
							</div>
						</div>
					</th:block>
					</div>
				</div> <!--// 제목 및 주요버튼 -->

				<div class="card-content">
					<div class="card-body">
						<div class="row">
							<div class="col-8">
								<div class="view-player">
									<!-- 플레이 버튼
									<a href="#"><img src="<%=request.getContextPath()%>/resources/app-assets/images/icons/live-btn-sample.png" alt="" class="position-absolute liveplay-btn" style=""/></a>
									-->
									<!-- 동영상플레이어영역
									<img src="<%=request.getContextPath()%>/resources/app-assets/images/sample/sample_player01.png" alt="" width="100%"/>
									-->
									
									<th:block th:if="${vo.lbVodSaveYn.equals('Y')}">
										<th:block th:if="${vo.lbStatus.equals('2')}">
										
											<th:block th:unless="${#strings.equals(vo.lbjLogMsg,'RECORDING_ERROR')}">
												<div id="video-contaier">
	<!-- 												<div id="videoEl"></div>	 -->
													<video id="videoPlayer" width="100%" height="430px" th:poster="@{${vo.lbfImgEncPath} +'/'+ ${vo.lbfImgEncNm}}" preload="none" >
													
													<!-- 적응형 사용 -->
													<th:block th:if="${#strings.equals(vo.adaptiveYn, 'Y')}">
														<th:block th:if="${#strings.equals(vo.adaptiveType, 'advance')}">
															<source th:src="@{${vo.vodStreamUrl} + ${vo.lbVodPath} + ${vo.lbVodSeq} +'_media_,1920x1080,1280x720,640x360,.mp4.urlset/master.m3u8'}" type="video/mp4" size="480"/>
														</th:block>
														<th:block th:if="${#strings.equals(vo.adaptiveType, 'basic')}">
															<source th:src="@{${vo.vodStreamUrl} + +${vo.lbVodPath} + ${vo.lbVodSeq} +'_media_,1920x1080,1280x720,.mp4.urlset/master.m3u8'}" type="video/mp4" size="480"/>
														</th:block>
													</th:block>
													
													<!-- 적응형 사용안함 -->
													<th:block th:if="${#strings.equals(vo.adaptiveYn, 'N')}">
										 				<source	th:src="@{${vo.vodStreamUrl} + ${vo.lbVodPath} + ${vo.lbVodName}+'/index.m3u8'}" type="video/mp4" size="480" />
													</th:block>
													
	<!-- 									test	<source th:src="@{'/upload/record/'+ ${vo.vodFileName}}" type="video/mp4" size="480"/> -->
													</video>
												</div>
											</th:block>
											
											<th:block th:if="${#strings.equals(vo.lbjLogMsg,'RECORDING_ERROR')}">
												<div class="no-live">
													<div class="no-live-content">
														<i class="ft-alert-triangle d-block"></i><span>녹화중 오류가 발생하였습니다.</span>
													</div>
												</div>
											</th:block>
											
										</th:block>
										<th:block th:if="${vo.lbStatus.equals('5')}">
											<div id="video-ing" style="text-align:center;">
												<img th:src="@{/app-assets/images/player/encoding_1030x601.gif}" alt="동영상 변환중" width="100%" height="100%"/>
											</div>
										</th:block>
										<th:block th:if="${vo.lbStatus.equals('9')}">
											<div id="video-ing" style="text-align:center;">
												<img th:src="@{/app-assets/images/player/encodingFail_1030x601.gif}" alt="동영상 변환 실패" width="100%" height="100%"/>
											</div>
										</th:block>
									</th:block>
									
									<th:block th:unless="${vo.lbVodSaveYn.equals('Y')}">
										<!-- 영상 vod 없을 시 -->
										<div class="no-live">
											<div class="no-live-content">
												<i class="ft-alert-triangle d-block"></i><span>저장된 방송 콘텐츠가 없습니다.</span>
											</div>
										</div>
										<!--// 영상 vod 없을 시 -->
									</th:block>
									
								</div>
							</div>
							<!-- chat-wrap -->
							<div class="col-4 chat-wrap " th:unless="${vo.lbChatYn == 'N'}">
<!-- 								<div class="chat-summary"> -->
<!-- 									<p class="small">라이브 채팅 <b class="info">0</b></p> -->
<!-- 								</div> -->
								<!-- chat-list -->
								<div class="chat-list" id="chatList">
									<div class="chat-list-wrap" id="chatWrap">
										<div class="no-data" th:if="${#strings.equals(chatRecYn, 'N')}">
											<i class="ft-video-off"></i>
											라이브 방송이 종료되었습니다.<br/>
											라이브 채팅 내용 다운로드만 가능합니다.
											<p class="text-center mt-1"><button type="button" class="btn btn-info btn-sm ml-Half" th:onclick="checkChatFile([[ ${vo.lbSeq} ]])"><i class="ft-download"></i> 라이브 채팅 다운로드</button></p>
										</div>
									</div> <!--// chat-list-wrap -->
								</div> <!--// chat-list -->
								<!-- chat-write -->
<!-- 								<div class="chat-write"> -->
<!-- 									<textarea name="" cols="" rows="" title="" placeholder="최대 200자로 제한되며, 욕설, 비난글은 삭제됩니다." disabled></textarea><button type="button" class="btn btn-info">등록</button> -->
<!-- 								</div> // chat-write -->
							</div> <!--// chat-wrap -->
						</div>

						<!-- 방송 정보 영역 -->
						<div class="view-form view-form-vertical mt-2">
							<table cellpadding="0" cellspacing="0" class="w-100" summary="" >
								<colgroup>
									<col width="9%"/>
									<col width="24.333%"/>
									<col width="9%"/>
									<col width="24.333%"/>
									<col width="9%"/>
									<col width="24.333%"/>
								</colgroup>
								<tbody>
									<tr>
										<th class="text-height">등록일시</th>
										<td th:text="${vo.lbRegDate}"></td>
										<th class="text-height">방송 시간</th>
										<td> [[ ${vo.passDuration} ]] </td>
<!-- 										<td> [[ ${vo.passDuration} ]] / [[ ${vo.totalDuration} ]]</td> -->
<!-- 										<th class="text-height">프리셋</th> -->
<!-- 										<th:block th:switch="${vo.lbPresetCd}"> -->
<!-- 												<td th:case="high">고화질</td> -->
<!-- 												<td th:case="mid">중화질</td> -->
<!-- 												<td th:case="low">저화질</td> -->
<!-- 												<td th:case="*">-</td> -->
<!-- 										</th:block> -->
										<th class="text-height">공개여부</th>
										<td th:text="${#strings.equals(vo.lbOpenYn, 'Y') ?  '공개' : '비공개'}"></td>
									</tr>
									<tr>
										<th class="text-height">VOD저장여부</th>
										<td th:text="${#strings.equals(vo.lbVodSaveYn, 'Y') ?  '사용' : '미사용'}"></td>
										<th class="text-height">다운로드 사용여부</th>
										<td th:text="${#strings.equals(vo.lbVodDownYn, 'Y') ?  '원본 다운로드' : '다운로드 불가'}"></td>
										<th class="text-height">카테고리</th>
										<td colspan="3">
											<small class="category" th:if="${vo.fullCategoryName == null}">-</small>
											<small class="category" th:unless="${vo.fullCategoryName == null}">
												<span class="black" th:each="item : ${#strings.arraySplit(vo.fullCategoryName,'|')}" th:text="${item}"></span>
											</small>
										</td>
									</tr>
<!-- 									<tr> -->
<!-- 										<th class="text-height">태그</th> -->
<!-- 										<td colspan="7"> -->
<!-- 											<th:block th:unless="${vo.lhTagName == null}"> -->
<!-- 													<div class="tag tag-view m-0" th:each="item : ${#strings.arraySplit(vo.lhTagName,'|')} "> -->
<!-- 														<span th:text="${item}"></span> -->
<!-- 													</div> -->
<!-- 											</th:block> -->
<!-- 											<th:block th:if="${vo.lhTagName == null}"> -->
<!-- 													- -->
<!-- 											</th:block> -->
<!-- 										</td> -->
<!-- 									</tr> -->
									<tr>
										<th class="text-height">설명</th>
										<td colspan="7" th:utext="${vo.lbDesc == ''} ? '-' : ${#strings.replace(vo.lbDesc, nlString, '&lt;br /&gt;')}"></td>
									<tr>
										<th class="text-height">첨부파일</th>
										<td colspan="7">
											<th:block th:unless="${vo.lbfAttachOriginalNm == null}">
													<i class="ft-save info"></i>
													<a href="javascript:downloadAttachFile();" th:text="${vo.lbfAttachOriginalNm}"></a>
											</th:block>
											<th:block th:if="${vo.lbfAttachOriginalNm == null}">
													첨부파일 없음
											</th:block>
										</td>
									</tr>
								</tbody>
							</table>
						</div> <!--// 방송 정보 영역 -->

					</div>
				</div>
				<!-- 버튼영역 -->
				<div class="card-footer">
					<div class="mr-auto float-right">
						<button type="button" class="btn btn-info px-2" onclick="goList(1);">목록</button>
						<button type="button" class="btn btn-secondary px-2" onclick="goRemoveOne()">삭제</button>
<!-- 						<button type="button" class="btn btn-secondary px-2" data-toggle="modal" data-target="#livefinDelete">삭제</button> -->
					</div>
				</div>
				<!--// 버튼영역 -->
			</div>
		</div>
	</div>
<!--// 컨텐츠 본문 영역 -->
</div>
</div>
<!--// 컨텐츠 영역 -->
<div th:replace="inc/_footer"></div>

<!--  player = new Plyr('#videoPlayer', {
	      playsinline: true
        , loop: { active: false }
        , tooltips: { controls: true, seek: true }      
        , captions: { active: true, update: true}
    	, speed: { selected: 1, options: [ 0.8, 1, 1.2, 1.4, 1.6 ] }
    	, controls: [ 'play-large', 'restart', 'play', 'progress', 'current-time', 'duration', 'mute', 'volume', 'settings', 'airplay', 'fullscreen', 'capture' ]	
        , listeners: {
        	seek: function customSeekBehavior(e) {
				var currentTime = player.currentTime;
				var newTime = _getTargetTime(player, e);
					player.currentTime = newTime;
        	}
        }
        , previewThumbnails: { enabled: false }
        , i18n: {
            qualityBadge: { 2160: '4K', 1440: 'FHD', 1080: 'FHD', 720: 'HD', 576: 'SD', 480: 'SD', 360: 'SD' }
        	}
        , ratio:'16:9'
        , fullscreen: { enabled: true, fallback: true, iosNative: false, container: null }
	}); -->

<!-- Plyr Player -->
<link rel="stylesheet" type="text/css" th:href="@{/player/plyr/plyr.css}" />
<script th:src="@{/player/tgplayer/plugin/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/player/tgplayer/plugin/js/jquery-ui.min.js}"></script>
<!-- <script th:src="@{/player/plyr/hls.js}"></script> -->
<!-- <script th:src="@{/player/plyr/plyr.js}"></script> -->
<script th:src="@{/player/tgplayer/plugin/js/hls/tg_hls.js}"></script>
<script th:src="@{/player/tgplayer/plugin/js/tg_player.js}"></script>
<script th:src="@{/player/plyr/plyr.polyfilled.js}"></script>
<!-- Plyr Player -->

<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
// var imgUrl = watermark.imgWebPath+ "/" + watermark.imgServerFileName;
// var watermark = /*[[${watermarkVo} ]]*/ '';

var player;
var video = document.querySelector("#videoPlayer");
var source = video.getElementsByTagName('source');
var sourceUrl = source[0].src;

var autoQualInt = 1;
var isIE = /Netscape|trident|msie/i.test(navigator.userAgent) ? true: false;
var hls = []; var i = 0;

$(function(){
	
	//player 설정
	var playerOptions = {
			  playsinline: true
	        , loop: { active: false }
	        , tooltips: { controls: true, seek: true }      
	        , captions: { active: true, update: true}
	    	, speed: { selected: 1, options: [0.8, 1, 1.2, 1.4, 1.6] }
	    	, controls: [ 'play-large', 'restart', 'play', 'progress', 'current-time', 'duration', 'mute', 'volume', 'settings', 'fullscreen']	
	    	, invertTime : false
	        , listeners: {
	        	seek: function customSeekBehavior(e) {
					var currentTime = player.currentTime;
					var newTime = _getTargetTime(player, e);
						player.currentTime = newTime;
	        	}
	        }
	        , previewThumbnails: { enabled: false }
	        , i18n: {
	            qualityBadge: { 2160: '4K', 1440: 'FHD', 1080: 'FHD', 720: 'HD', 640: 'SD', 576: 'SD', 480: 'SD', 360: 'SD', 320: 'SD', 240 : 'SD' , 1 : "auto" }
	        }
	        , ratio:"16:9"
	        , fullscreen : { enabled: true, fallback: true, iosNative: false, container: null }
			
	};
	
	
	//HLS 적응형 비트레이트 적용 --------------------------------------
	var hls = new Hls();
	hls.loadSource(sourceUrl);
	
	hls.on(Hls.Events.ERROR, function (event, data) {
		  if (data.fatal) {
		    switch (data.type) {
		      case Hls.ErrorTypes.NETWORK_ERROR:
		        // try to recover network error
		        console.log('fatal network error encountered, try to recover');
		        hls.startLoad();
		        break;
		      case Hls.ErrorTypes.MEDIA_ERROR:
		        console.log('fatal media error encountered, try to recover');
		        hls.recoverMediaError();
		        break;
		      default:
		        // cannot recover
		        hls.destroy();
		        break;
		    }
		  }
	});
	
	hls.on(Hls.Events.MANIFEST_PARSED,function(event,data) {
    	var avalQualList = [];
		var sourceList = [];	
		
		// 자동 품질 선택 메뉴 추가
		avalQualList.push(autoQualInt);
		var _sourceObj = {};
		_sourceObj.src = new Array(sourceUrl);
		_sourceObj.size = autoQualInt;
		_sourceObj.type = 'video/mp4';
		sourceList.push(_sourceObj);

    	hls.levels.map(function(v){
			avalQualList.push(v.height);
			var sourceObj = {};
			sourceObj.src = v.url;
			sourceObj.size = v.height;
			sourceObj.type = 'video/mp4';
			sourceList.push(sourceObj);
    	});

		/* playerOptions.quality = {
			default : avalQualList[0],
			options : avalQualList,
			forced : true,
    	} */
		
    	player = new Plyr("#videoPlayer", playerOptions);
		
    	player.source = {
        		  type: 'video'
        	    , title: 'TigenSoft html5 video player' 
        		, sources: sourceList
        		, tracks: null
        };
    	
		player.on('qualitychange',function(e){
			// 품질변경시, 현재시간은 가져올수 없기 때문에, innerText로 직접 가져와 초 단위로 처리.
			if(isIE) {
				var txtArray = e.target.innerText.replace(/^\s+|\s+$/gm,'\n').split("\n").filter(function(item){
					return item !== null && item !== undefined && item !== '';
				});
// 				console.log(txtArray[3]);
				ChangeTime = TimeValid(txtArray[3]);	
			} else {
// 				console.log(e.target.innerText.split("\n")[2]);
				ChangeTime = TimeValid(e.target.innerText.split("\n")[2]);							
			}

			var newQuality = e.detail.quality;
			var _lvlIndex = 0;
			window.hls.levels.forEach(function(level, levelIndex){
				if (level.height == newQuality) {
				_lvlIndex = levelIndex + 1;
				window.hls.currentLevel = levelIndex;
				}
			})
			loadHLS($('source')[_lvlIndex].src);
		});
		  	        
		initialPlayer(player);

    });
	
	hls.attachMedia(video);
	window.hls = hls;
	
});


var chatData;

function getChatData() {
	var jsonData = {
			"currentTime" : $('#currentTime').val(),
			"lbSeq" : $("#lbSeq").val()
	};
	
	
	$.ajax({
		beforeSend : function(xhr)
		{   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
			xhr.setRequestHeader(header, token);
		},
		url: /*[[ @{/live/chatHistory.do} ]]*/ '/live/chatHistory.do',
		data: jsonData,
		type: 'POST',
        dataType : 'json',
		success: function (rtn) {
			chatData = rtn;
		},
		error : function (e){
		}
	});	

	
	
}

function setChatHtml(obj){
	var html="";
	
	if(obj.adminChk == "Y"){
		html += '<div class="chat-box adm">';
	}else{
		html += '<div class="chat-box">';
	}
	
	html += '	<div class="chat-writer-info">'
	html += '		<b class="writer">'+obj.userName+'('+obj.userId+')'+'</b>'
	html += '	</div>'
	html += '	<div class="chat-box-text" data-msgid="qj0ysixe-1">'+obj.content+'</div>'
	html += '</div>'
	
	$("#chatWrap").append(html);
	//채팅 화면 스크롤
	$("#chatList").scrollTop($("#chatList").prop("scrollHeight"));
	
}


//채팅기록

function initialPlayer(tgplayer){

	player.on('pause', function(event) {
// 		$('#currentTime').val(player.currentTime);
		if($("#chatRecYn").val() == "Y"){
			console.log("pause")
			clearInterval(timer);
		}
	});
	
	//영상 시작버튼 누를 때 
	player.on('play', function(event) {
		if($("#chatRecYn").val() == "Y"){
			getChatData();
			clearInterval(timer);
			startTimer(leftSec);
		}
	});
	
	player.on('seeked', function(event) {
		if($("#chatRecYn").val() == "Y"){
			$("#chatWrap").empty();
		}
		
	});

	player.on('timeupdate', function(event) {
		if($("#chatRecYn").val() == "Y"){
			$('#currentTime').val(event.detail.plyr.currentTime);
	
			if(chatData != null && chatData.length != 0){
				for(let i=chatData.length-1; i >= 0; i--) {
				    if(Math.floor(event.detail.plyr.currentTime) == chatData[i].vodChatTime){
				    	setChatHtml(chatData[i]);
				    	chatData.splice(i,1);
				    }
				}
			}
		}
		
	});
	  
	player.on('enterfullscreen', function(event) { 
		$('.plyr__video-wrapper').attr("style","");
	});
  

  var loadFirst = true;
  player.on("loadeddata", function() {
	  video = document.querySelector("video");
	  
	  if(loadFirst){
		  loadHLS(sourceUrl);
		  loadFirst = !loadFirst;
	  }
  });
  
  player.on('ratechange', function() {
	  playRateRtn(player.speed);
  });
  
  player.on("captionsenabled", function action(event) {
	  trackViewRtn(player.currentTrack);
  });
  
  player.on("captionsdisabled", function action(event) {
	  trackViewRtn(player.currentTrack);
  });
  
  //player.vr({projection: '360'});
  window.player = player;
  this.player = player;

}

function loadHLS(source) {
	hls[i] = new Hls(); 
	hls[i].loadSource(source);
	hls[i].attachMedia(video);
	// video.play();
	i++;
}

function TimeValid(st){
	var time = st.split(":");
	var resultTime = 0;
	if(time.length == 2){
		resultTime = (time[0] * 60) + (time[1] * 1);
	}else if(time.length == 3){
		resultTime = (time[0] * 60 * 60) + (time[1] * 60) + (time[2] * 1);
	}
	return resultTime;
}

function _getTargetTime(player, input) { //seek control
	if ( typeof input === "object" && (input.type === "input" || input.type === "change") ) {
		return input.target.value / input.target.max * player.media.duration;
	} else {
    	return Number(input);
	}
}

/*]]*/
</script>

<!-- 팝업인크루드 -->
<!-- <%@ include file="../../../html/popup/livefinDelete.jsp"%>  -->
<!--// 팝업인크루드 -->