<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="inc/_header"></div>

<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");
	
$(document).ready(function(){
	$(".lnb_1").addClass("open");
	$(".lnb_1_1").addClass("open").addClass("active");
});

function selectLiveList(status) {
	var frm = document.liveForm;
	var url = "";

	if(status == 'finish'){
		url = /*[[@{/live/liveFinishList.do}]]*/ '/live/liveWaitList.do';
	} else if(status == 'wait'){
		url = /*[[@{/live/liveWaitList.do}]]*/ '/live/liveWaitList.do';
	} else {
		url = /*[[@{/live/liveOnAirList.do}]]*/ '/live/liveWaitList.do';
	}

	frm.action = url;
	frm.submit();
}

function searchByStatus(code){

	if(code == 'onair'){
		$("#searchStatus").val("1");
	} else if(code == 'pause'){
		$("#searchStatus").val("3");
	} else if(code == 'error'){
		$("#searchStatus").val("9");
	} else if(code == 'start'){
		$("#searchStatus").val("8");
	} else {
		$("#searchStatus").val("");
	}

	var frm = document.liveForm;
	var url = /*[[@{/live/liveOnAirList.do}]]*/ '/live/liveOnAirList.do';
	frm.action = url;
	frm.submit();
}

function goList(num){
	var f = document.liveForm;
	
	f.currentPage.value = num;
	f.action = /*[[@{/live/liveOnAirList.do}]]*/ '/live/liveOnAirList.do';
	f.method = "POST";
	f.submit();
}

function downloadExcel(){
	var frm = document.liveForm;
	var url = /*[[ @{/live/onAirExcelDown.do} ]]*/ '/live/onAirExcelDown.do';
	frm.action = url;
	frm.submit();
}

function goDetail(seq, status, lbEndDate) {
	var f = document.liveForm;
	
	f.lbSeq.value = seq;
	f.lbStatus.value = status;
	
	var endDate = String(lbEndDate);
	var year = endDate.substring(0,4);
	var month = endDate.substring(5,7) - 1;
	var day = endDate.substring(8,10);
	var hour = endDate.substring(11,13);
	var min = endDate.substring(14,16);
	
	var originDate = new Date(year, month, day, hour, min);
	var nowDate = new Date();

	if(status == '3') {
		f.action = /*[[ @{/live/viewBroadcastPause.do} ]]*/ '/live/viewBroadcastPause.do';
	} else if(status == '9') {
		f.action = /*[[ @{/live/viewBroadcastError.do} ]]*/ '/live/viewBroadcastError.do';
	} else {
		//현재 시간이 방송 종료 시간보다 큰 경우
		if(nowDate > originDate) {
			alert("방송이 종료되었습니다.");
			goList(1);
		} else {
			f.action = /*[[ @{/live/viewBroadcast.do} ]]*/ '/live/viewBroadcast.do';
		}
	}
	f.submit();
}
/*]]*/
</script>

<!-- 컨텐츠 영역 -->
<div class="app-content content">
<div class="content-wrapper">
<!-- 컨텐츠:헤더-페이지명,네비게이터 -->
<div class="content-header row">
	<div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
		<h3 class="content-header-title mb-0 d-inline-block">라이브 방송 관리</h3>
		<div class="row breadcrumbs-top d-inline-block">
			<div class="breadcrumb-wrapper col-12">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">홈</li>
					<li class="breadcrumb-item">라이브 방송 관리</li>
					<li class="breadcrumb-item active">라이브 방송 관리</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<!--// 컨텐츠:헤더-페이지명,네비게이터 -->
<!-- 컨텐츠:본문 영역 -->

<form id="liveForm" name="liveForm" method="post">
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
<input type="hidden" id="searchStatus" name="searchStatus" th:value="${dto.searchStatus}"/>
<input type="hidden" id="blockCount" name="blockCount" th:value="${dto.blockCount}" />
<input type="hidden" id="currentPage" name="currentPage" th:value="${dto.currentPage}" />
<input type="hidden" id="lbSeq" name="lbSeq"/>
<input type="hidden" id="lbStatus" name="lbStatus"/>
<div class="content-body">

	<div class="row ">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-header">
					<div class="information">		
						<ul class="nav nav-tabs nav-top-border no-hover-bg">
							<li class="nav-item">
								<a class="nav-link active" href="javascript:selectLiveList('onair');">실시간 라이브 방송 중</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="javascript:selectLiveList('wait');">방송 대기</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="javascript:selectLiveList('finish');">방송 완료</a>
							</li>
						</ul>
					</div>	
				</div>			
				<div class="card-content">
					<div class="card-body">
						<!-- 탭 영역 -->
							<div class="tab-content">
								<!-- 실시간 라이브 방송 탭 내용 -->
								<div class="tab-pane active">
									<!-- 버튼영역 -->
									<div class="listTop-btnArea">
										<div class="d-inline">
											<button type="button" class="btn btn-sm btn-primary" th:onclick="'location.href=\'' + @{/live/registBroadcastForm.do} +'\';'"><i class="ft-tv"></i> 라이브 방송 등록</button>
										</div>
										<div class="position-absolute no-edge-top no-edge-right">
											<button type="button" class="btn btn-sm btn-info" onclick="downloadExcel();">라이브 목록 다운로드</button>
										</div>
									</div>
									<!--// 버튼영역 -->
									<!-- 리스트 요약 영역 -->
									<div class="list-summary d-flex justify-content-between  ">
										<div class="list-count">
											전체 : <b th:text="${dto.totalCount}"></b>건
										</div>
										<div class="list-count right list-status">
											<span><a href="javascript:searchByStatus('all');" th:classappend="${dto.searchStatus} == '' ? 'active'"><i class="fa fa-circle grey"></i>전체([[${dto.totalStatusCnt}]])</a></span>
											<span><a href="javascript:searchByStatus('start');" th:classappend="${dto.searchStatus} == '8' ? 'active'"><i class="fa fa-circle success"></i>방송시작중([[${dto.startCnt}]])</a></span>
											<span><a href="javascript:searchByStatus('onair');" th:classappend="${dto.searchStatus} == '1' ? 'active'"><i class="fa fa-circle danger"></i>생방송중([[${dto.onairCnt}]])</a></span>
											<span><a href="javascript:searchByStatus('error');" th:classappend="${dto.searchStatus} == '9' ? 'active'"><i class="fa fa-circle warning"></i>스트리밍 오류([[${dto.errorCnt}]])</a></span>
											<span><a href="javascript:searchByStatus('pause');" th:classappend="${dto.searchStatus} == '3' ? 'active'"><i class="fa fa-circle black"></i>스트리밍 일시중지([[${dto.pauseCnt}]])</a></span>
										</div>
									</div>
									<!--// 리스트 요약 영역 -->
									
									<!-- 리스트 영역 -->
									<ul class="onair-list">
										<!-- 라이브 방송이 없을 경우 -->
										<li class="no-data d-block" th:if="${#lists.isEmpty(dto.liveList)}">
											<b>실시간 라이브 방송이 없습니다.</b>
										</li>
										
										
										<li th:onclick="goDetail([[ ${item.lbSeq} ]], [[ ${item.lbStatus} ]], [[ ${item.lbEndDate} ]])" th:each="item : ${dto.liveList}" th:unless="${#lists.isEmpty(dto.liveList)}">
											<!-- img-box -->
											<div class="img-box">
												<!-- state-box -->
												<div class="state-box" th:with="onair='LIVE', pause='스트리밍 일시중지', restart='스트리밍 재시작', error='스트리밍 오류', start='방송시작중'">
													<span class="badge badge-secondary" th:if="${item.lcName == null || item.lcName.isEmpty()}" th:text="VOD"></span>
													<span class="badge badge-secondary" th:unless="${item.lcName == null || item.lcName.isEmpty()}" th:text="'채널 ' + ${item.lcName}"></span>
													
													<div th:switch="${item.lbStatus}" th:remove="tag">
														<div th:case="1" th:remove="tag"><span class="badge badge-danger" th:text="${onair}"></span></div>
														<div th:case="3" th:remove="tag"><span class="badge badge-dark" th:text="${pause}"></span></div>
														<div th:case="4" th:remove="tag"><span class="badge badge-success" th:text="${restart}"></span></div>
														<div th:case="8" th:remove="tag"><span class="badge badge-success" th:text="${start}"></span></div>
														<div th:case="9" th:remove="tag"><span class="badge badge-warning" th:text="${error}"></span></div>
													</div>
													
												</div> <!--// state-box -->
												<!-- img-box-cover -->
												<div class="img-box-cover">
													<img th:src="@{${item.lbfImgEncPath} +'/'+ ${item.lbfImgEncNm}}" alt=""/>
												</div> <!--// img-box-cover -->

												<!-- 영상 vod 없을 시
												<div class="no-live">
													<div class="no-live-content">
														<i class="ft-alert-triangle d-block"></i><span>저장된 방송 콘텐츠가 없습니다.</span>
													</div>
												</div> -->

											</div> <!--// img-box -->
											<dl class="">
												<dd class="category">
													<th:block th:unless="${item.fullCategoryName == null}">
														<span th:each="categoryName : ${#strings.arraySplit(item.fullCategoryName,'|')}" th:text="${categoryName}"></span>
													</th:block>
												</dd>
												<dt th:utext="${item.lbTitle}"></dt>
												<dd th:utext="${item.lbDesc}" class="comment"></dd>
												<dd th:if="${item.lbEndDate != null}"><span class="badge badge-info mr-Half">방송일시</span>[[${item.lbStartDate}]] ~ [[${item.lbEndDate}]]</dd>
												<dd th:unless="${item.lbEndDate != null}"><span class="badge badge-info mr-Half">방송일시</span>상시</dd>
												<dd th:if="${item.lbEndDate != null}"><span class="badge badge-info mr-Half">방송시간</span><b>[[${item.lbjDurationFormat}]]</b> / [[${item.totalDurationFormat}]]</dd>
												<dd th:unless="${item.lbEndDate != null}"><span class="badge badge-info mr-Half">방송시간</span><b>[[${item.lbjDurationFormat}]]</b></dd>
												<dd><span class="badge badge-info badge-width-sp-4 mr-Half">등록자</span>[[${item.regUserName}]]</dd>
											</dl>
										</li>
									</ul>
									<!--// 리스트 영역 -->
									<!-- 페이징 -->
									<div th:utext="${dto.pagingHtml}">
									<!-- //페이징 -->
								</div>
								<!--// 실시간 라이브 방송 탭 내용 -->
							</div>
						<!--// 탭영역 -->
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>
</form>
<!--// 컨텐츠 본문 영역 -->
</div>
</div>
<!--// 컨텐츠 영역 -->
<div th:replace="inc/_footer"></div>