@charset "utf-8";

@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(/public/fonts/NanumGothic-Regular.eot);
  src: url(/public/fonts/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
		url(/public/fonts/NanumGothic-Regular.woff2) format('woff2'),
		url(/public/fonts/NanumGothic-Regular.woff) format('woff'),
		url(/public/fonts/NanumGothic-Regular.ttf) format('truetype');
}